@charset "utf-8";
/* CSS Document */


.pulldownsearch {
display: none;
}

.Login {
display: none;
}



/* Removal of padding inbetween image-based navigation (below slider)  */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-md-7, .col-lg-7, .col-xs-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #2BB5B2;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #2BB5B2; color: #2BB5B2;}


.col-sm-8{
padding-left: 50px;
padding-right: 25px;}



.footer-row{ 
margin-left: 0px !important;}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}

.backgroundImage-adult {
    background: #2bb5b2;
    text-align: center;
    background-attachment: fixed;
}



.Container-8 .dnntitle {
border-bottom: none !important;}

.btn-success {
	color: #2bb5b2;
    	background-color: #fff;
    	border-color: #fff;}

.btn-success:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}


.flip_box_3 .front .fa {
background-color: #2bb5b2;
color: #fff;
}

.table-striped > tbody > tr:nth-child(odd) > td {
background-color: #2bb5b2;
}

.ContentBottom {
    background: #fff;
    border-top: none;
}




/*****************Buttons******************/



/**************Apply*********************/


.btn-default {
    color: #2bb5b2;
    background-color: #fff;
    border-color: #2bb5b2;
    
}

.btn-default:hover {
    color: #fff;
    background-color: #BCBEC0;
    border-color: #fff;
}



/**************others*********************/


.btn-primary {
    	color: #fff;
    	background-color: #2bb5b2;
    	border-color: #2cb673;
}

.btn-primary:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}

.btn-lg {
border-radius: 0px;
}

.btn {
border-radius: 0px;
border: 3px solid #2bb5b2;
} 

.btn-primary:active {
    background: #2bb5b2;
    border-color: #2cb673;
    text-align: center;
}




/***********************************/



.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #2BB5B2;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #2BB5B2;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #2BB5B2;
                border-right: 0 solid #2BB5B2;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #BCBEC0 !important;
}


.timeline-badge.ncs {
    background-color: #E3028E !important;
}



.timeline-title {
    margin-top: 0;
    color: #2BB5B2;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #2BB5B2 !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #2BB5B2 !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}

.StoreProductModelName{
color: #2bb5b2 !important;
}
