
<script type="text/javascript">
    $(document).ready(function() {
        // bind the click event
        $('#filter-opener').click(function() {
            alert('seb');
        });

        // trigger the click event
        $('#filter-opener').click();
    });
</script>





<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(function() {
    jQuery("#filter-opener").trigger("click");
    console.log('done');
});

    });
</script>