<style type="text/css">
  .col-xs-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
#social-media-set{display: none}

</style>

<div id="social-media-set" class="animation fadeInUp">
  
  <div class="6th-form-social">
    <div class="row">
    <div class="col-xs-5ths">
      <a href="https://www.facebook.com/burnleycollege"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="https://www.instagram.com/burnleycollege"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/insta.png?ver=2017-10-25-110739-707" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="https://www.snapchat.com/add/burnleycollege"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/SC.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="https://twitter.com/burnleycollege"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="www.youtube.com/user/burnleycollege"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/youtube.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
  </div>
  </div>

  <div class="themis-social">
    <div class="row">
    <div class="col-xs-5ths">
      <a href="https://www.facebook.com/themisapprenticeships"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="https://www.instagram.com/themisburnley"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/insta.png?ver=2017-10-25-110739-707" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths themis-twitter-employer">
      <a href="https://twitter.com/themisburnley"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths themis-twitter-apprentice">
      <a href="https://twitter.com/themiscareers"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths">
      <a href="https://www.youtube.com/channel/UCU_CwSg7Q-Gd1y4e3wFfOSw"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/youtube.png?ver=2017-10-25-110739-723" target="_Blank"></a>
    </div>
    <div class="col-xs-5ths"> 
    </div>
  </div>
  </div>

  <div class="adult-social">
    <div class="row">
     <div class="col-xs-5ths">
      <a href="https://www.facebook.com/burnleycollegeadult"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723" target="_Blank"></a></div>
      <div class="col-xs-5ths"> </div>
      <div class="col-xs-5ths"> </div>
      <div class="col-xs-5ths"> </div>
      <div class="col-xs-5ths"> </div>
    </div>
  </div>

  <div class="UCLan-social">
    <div class="row">
      <div class="col-xs-5ths">
        <a href="https://www.facebook.com/uclanburnleyexp"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723" target="_Blank"></a>
      </div>
      <div class="col-xs-5ths">
        <a href="https://www.instagram.com/uclanburnleyexp"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/insta.png?ver=2017-10-25-110739-707" target="_Blank"></a>
      </div>
      <div class="col-xs-5ths">
        <a href="https://twitter.com/uclanburnleyexp"><img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723" target="_Blank"></a>
      </div>
      <div class="col-xs-5ths">
        
      </div>
      <div class="col-xs-5ths"> 
      </div>
    </div>
  </div>
</div>