
<div class="white-logos">
<div class="row" style="margin-left: 50px;">
<div class="col-sm-6"><img alt="" src="/portals/0/Images/homepage/EUFooterIcon.png" style="width: 102px; height: 100px;" title="" /></div>

<div class="col-sm-6"><img alt="" src="/portals/0/Images/homepage/qaa.png" style="width: 180px; height: 100px;" title="" /></div>
</div>
</div>


<div class="grey-logos">
<div class="row" style="margin-left: 50px;">
<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/eu-small-grey.png" style="width: 102px; height: 100px;" title="" /></div>

<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/qaa-small-grey.png" style="width: 180px; height: 100px;" title="" /></div>
</div>
</div>

<div class="pink-logos">
<div class="row" style="margin-left: 50px;">
<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/eu-small-red.png" style="width: 102px; height: 100px;" title="" /></div>

<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/qaa-small-red.png" style="width: 180px; height: 100px;" title="" /></div>
</div>
</div>


<div class="blue-logos">
<div class="row" style="margin-left: 50px;">
<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/2444d3a1-3336-448b-8440-4d0cc159b44b.png" style="width: 102px; height: 100px;" title="" /></div>

<div class="col-sm-6"><img alt="" src="http://www.burnley.ac.uk/Portals/0/Images/a-social/logos/00f1e242-2f31-4958-a32d-8b7877d8fc38.png" style="width: 180px; height: 100px;" title="" /></div>
</div>
</div>


.white-logos{display:none;}
.grey-logos{display:none;}
.pink-logos{display:none;}
.blue-logos{display:none;}