<script type="text/javascript">
	
var url1 = "http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723";
var url2 = "http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723";
var url3 = "http://www.burnley.ac.uk/Portals/0/Images/social-icons/youtube.png?ver=2017-10-25-110739-723";
var url4 = "http://www.burnley.ac.uk/Portals/0/Images/social-icons/insta.png?ver=2017-10-25-110739-707";
var url5= "http://www.burnley.ac.uk/Portals/0/Images/social-icons/SC.png?ver=2017-10-25-110739-723";

var newcss = "#icon-1{-webkit-mask-image: url("+url1+")";
var newcss2 = "#icon-2{-webkit-mask-image: url("+url2+")";
var newcss3 = "#icon-3{-webkit-mask-image: url("+url3+")";
var newcss4 = "#icon-4{-webkit-mask-image: url("+url4+")";
var newcss5 = "#icon-5{-webkit-mask-image: url("+url5+")";

var htmlDiv = document.createElement('div');
htmlDiv.innerHTML = '<p>foo</p><style>' + newcss + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[1]);

var htmlDiv2 = document.createElement('div');
htmlDiv.innerHTML = '<p>foo</p><style>' + newcss2 + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[1]);

var htmlDiv3 = document.createElement('div');
htmlDiv.innerHTML = '<p>foo</p><style>' + newcss3 + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[1]);

var htmlDiv4 = document.createElement('div');
htmlDiv.innerHTML = '<p>foo</p><style>' + newcss4 + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[1]);

var htmlDiv5 = document.createElement('div');
htmlDiv.innerHTML = '<p>foo</p><style>' + newcss5 + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[1]);


</script>
<style type="text/css">@media all and (max-width: 630px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}


.col-xs-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}
#social-media-set .row{margin-right: -30px!important;margin-left: -30px!important;}
.DnnModule-1952 .dnntitle {margin-left: -30px!important;}

.col-xs-5ths {
    width: 20%;
    float: left;
}
#icon-1{
  width: 70px;
  height: 57px;
  background-color: #ffffff;
}
#icon-2{
  width: 70px;
  height: 57px;
  background-color: #ffffff;
}
#icon-3{
  width: 70px;
  height: 57px;
  background-color: #ffffff;
}
#icon-4{
  width: 70px;
  height: 57px;
  background-color: #ffffff;
}
#icon-5{
  width: 70px;
  height: 57px;
  background-color: #ffffff;
}
#social-media-set a {font-size:12px;}
</style>
<div class="animation fadeInUp" id="social-media-set">
<div class="6th-form-social">
<div class="row">
<div class="col-xs-5ths">
<div id="icon-1">&nbsp;</div>
<div class="first-spot">
<a href="https://www.facebook.com/burnleycollege">Sixth Form</a>
</div>
<div class="second-spot">
<a href="https://www.facebook.com/uclanburnleyexp">UCLan</a>
</div>
<div class="third-spot">
<a href="https://www.facebook.com/themisapprenticeships">Themis</a>
</div>
<div class="fourth-spot">
<a href="https://www.facebook.com/burnleycollegeadult">Adult Learning</a>
</div>
</div>

<div class="col-xs-5ths">
<div id="icon-2">&nbsp;</div>
<div class="first-spot">
<a href="https://twitter.com/burnleycollege">Sixth Form</a>
</div>
<div class="second-spot">
<a href="https://twitter.com/uclanburnleyexp">UCLan</a>
</div>
<div class="third-spot">
<a href="https://twitter.com/themiscareers">Themis Apprentice</a>
</div>
<div class="fourth-spot">
<a href="https://twitter.com/themisburnley">Themis Business</a></div>
</div>

<div class="col-xs-5ths">
<div id="icon-3">&nbsp;</div>
<div class="first-spot">
<a href="www.youtube.com/user/burnleycollege">Sixth Form</a>
</div>
<div class="second-spot">
<a href="https://www.youtube.com/channel/UCU_CwSg7Q-Gd1y4e3wFfOSw">UCLan</a>
</div>
</div>

<div class="col-xs-5ths">
<div id="icon-4">&nbsp;</div>
<div class="first-spot">
<a href="https://www.instagram.com/burnleycollege">Sixth Form</a>
</div>
<div class="second-spot">
<a href="https://www.instagram.com/themisburnley">Themis</a>
</div>
<div class="third-spot">
<a href="https://www.instagram.com/uclanburnleyexp">UCLan</a>
</div>
</div>

<div class="col-xs-5ths">
<div id="icon-5">&nbsp;</div>
<div class="first-spot">
<a href="https://www.snapchat.com/add/burnleycollege">Sixth Form</a></div>
</div>
</div>
</div>
</div>
