
<style type="text/css">@media all and (max-width: 630px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}
.third-spot{height:60px}
.second-spot{height:40px;}
.first-spot{height:40px; margin-top:10px}




.col-xs-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}
#social-media-set .row{margin-right: -30px!important;margin-left: -30px!important;}
.DnnModule-1952 .dnntitle {margin-left: -30px!important;}

.col-xs-5ths {
    width: 20%;
    float: left;
}

#social-media-set a {font-size:13px;}
</style>

<div class="social-colours">

	<div class="white-social">
	    <div class="row">
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/fb.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/twitter.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/youtube.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/insta.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/social-icons/SC.png">
	      </div>
	    </div>
	  </div>

	<div class="grey-social">
	    <div class="row">
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/homepage/fb.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/homepage/twitter.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/homepage/youtube.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/homepage/social-icons-burnley.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/homepage/sc.png">
	      </div> 
	  </div>
	</div>



	 <div class="pink-social">
	    <div class="row">
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/uclan/fb.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/uclan/twitter.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/uclan/youtube.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/uclan/instagram.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/uclan/sc.png">
	      </div>
	    </div>
	 </div>

	 <div class="blue-social">
	    <div class="row">
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/adult/fb.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/adult/twitter.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/adult/youtube.png">
	      </div>
	      <div class="col-xs-5ths">
	       <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/adult/instagram.png">
	      </div>
	      <div class="col-xs-5ths">
	        <img src="http://www.burnley.ac.uk/Portals/0/Images/a-social/adult/sc.png">
	      </div>
	  </div>
	</div>
</div>



<div class="animation fadeInUp" id="social-media-set">
<div class="6th-form-social">
<div class="row">
<div class="col-xs-5ths">


<div class="first-spot"><a href="https://www.facebook.com/burnleycollege">Sixth Form</a></div>

<div class="second-spot"><a href="https://www.facebook.com/uclanburnleyexp">UCLan</a></div>

<div class="third-spot"><a href="https://www.facebook.com/themisapprenticeships">Themis</a></div>

<div class="fourth-spot"><a href="https://www.facebook.com/burnleycollegeadult">Adult Learning</a></div>
</div>

<div class="col-xs-5ths">


<div class="first-spot"><a href="https://twitter.com/burnleycollege">Sixth Form</a></div>

<div class="second-spot"><a href="https://twitter.com/uclanburnleyexp">UCLan</a></div>

<div class="third-spot"><a href="https://twitter.com/themiscareers">Themis Apprentice</a></div>

<div class="fourth-spot"><a href="https://twitter.com/themisburnley">Themis Business</a></div>
</div>

<div class="col-xs-5ths">


<div class="first-spot"><a href="www.youtube.com/user/burnleycollege">Sixth Form</a></div>

<div class="second-spot"><a href="https://www.youtube.com/channel/UCU_CwSg7Q-Gd1y4e3wFfOSw">UCLan</a></div>
</div>

<div class="col-xs-5ths">


<div class="first-spot"><a href="https://www.instagram.com/burnleycollege">Sixth Form</a></div>

<div class="second-spot"><a href="https://www.instagram.com/uclanburnleyexp">UCLan</a></div>

<div class="third-spot"><a href="https://www.instagram.com/themisburnley">Themis</a></div>
</div>

<div class="col-xs-5ths">


<div class="first-spot"><a href="https://www.snapchat.com/add/burnleycollege">Sixth Form</a></div>
</div>
</div>
</div>
</div>
