<style type="text/css">.col-xs-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

#social-media-set a {font-size:10px;}
</style>
<div class="animation fadeInUp" id="social-media-set">
<div class="6th-form-social">
<div class="row">
<div class="col-xs-5ths"><img src="/portals/0/Images/social-icons/fb.png?ver=2017-10-25-110739-723" /> <a href="https://www.facebook.com/burnleycollege">Sixth Form</a> <a href="https://www.facebook.com/themisapprenticeships">Themis Apprentice</a> <a href="https://www.facebook.com/burnleycollegeadult">Adult Learning</a> <a href="https://www.facebook.com/uclanburnleyexp">UCLan</a></div>

<div class="col-xs-5ths"><img src="/portals/0/Images/social-icons/twitter.png?ver=2017-10-25-110739-723" target="_Blank" /> <a href="https://twitter.com/burnleycollege">Sixth Form</a> <a href="https://twitter.com/themisburnley">Themis Business</a> <a href="https://twitter.com/themiscareers">Themis Apprentice</a> <a href="https://twitter.com/uclanburnleyexp">UCLan</a></div>

<div class="col-xs-5ths"><img src="/portals/0/Images/social-icons/youtube.png?ver=2017-10-25-110739-723" target="_Blank" /> <a href="www.youtube.com/user/burnleycollege">Sixth Form</a> <a href="https://www.youtube.com/channel/UCU_CwSg7Q-Gd1y4e3wFfOSw">UCLan</a></div>

<div class="col-xs-5ths"><img src="/portals/0/Images/social-icons/insta.png?ver=2017-10-25-110739-707" target="_Blank" /> <a href="https://www.instagram.com/burnleycollege">Sixth Form</a> <a href="https://www.instagram.com/themisburnley">Themis</a><br />
<a href="https://www.instagram.com/uclanburnleyexp">UCLan</a></div>

<div class="col-xs-5ths"><img src="/portals/0/Images/social-icons/SC.png?ver=2017-10-25-110739-723" target="_Blank" /> <a href="https://www.snapchat.com/add/burnleycollege">Sixth Form</a></div>
</div>
</div>
</div>
