<div class="container">
	<div class="col-md-12 governers">

		<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/David_Meakin_Web.jpg" style="height: 200px; width: 200px;" />
			</div>

			<div class="governers-title">
				Chair of the Governing Board, Remuneration Committee, Vice Chair of the Search &amp; Governance Committee	
			</div>	

			<div class="governers-body">

				<p>David Meakin is Chair of the Governing Board, a position he has held since 2014.
				   A qualified Accountant David holds a BSc(Hons) degree in Mathematics. David began a 35 year career with the NHS after leaving school, working in Nottingham, Birmingham and Aylesbury before arriving in Burnley. When David retired from the NHS in 2005 he was Director of Finance and Deputy Chief Executive.
				</p>
				<hr>

			</div>
		</div>

<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/David_Brown_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Vice Chair of the Governing Board, Chair of Search &amp; Governance Committee, Member of the Remuneration Committee	
			</div>	

			<div class="governers-body">

				<p>David J Brown has been a Governor at the College since 2005 and worked as Burnley Borough Council&rsquo;s Director of Environment prior to his retirement. He held responsibility for Planning and Environment, Street-scene and Markets services.
				</p>
				<hr>

			</div>
		</div>

		<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Hugh_Bramwell_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				College Principal	
			</div>	

			<div class="governers-body">

				<p>Hugh Bramwell has been Principal of Burnley College since January 2010. He had been Deputy Principal of the College since 2001 and prior to joining Burnley College held the post of Dean of Technology at Blackburn College.</p>
   <p>
   Hugh started work in further education at Bolton College in 1983 and has worked in a number of further education colleges including Manchester, Exeter, Bolton and Blackburn. Hugh has a background in quantity surveying and business information systems.
				</p>
				<hr>

			</div>
		</div>




<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Kelly_Forrest_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Support Staff Governor	
			</div>	

			<div class="governers-body">

				<p>Kelly Forrest was elected as Support Staff Governor by her peers in February 2015 following seven years of service as Senior Human Resources Officer within the College, a role she will continue to perform during her time on the Governing Board.</p>
   
				<hr>

			</div>
		</div>


<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Paul_Henderson_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Member of Finance Committee	
			</div>	

			<div class="governers-body">

				<p>Paul Henderson currently resides as the Director of Education Frameworks at International Building Contractor ISG. This followed previous roles including that of Client Project Manager responsible for the new build at Burnley College. A former GNVQ Building Studies student at Burnley College Sixth Form Centre, Paul progressed and graduated from the University of Central Lancashire with a BSc Hons in Building Surveying before completing a Master&rsquo;s Degree in Business Administration.</p>
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Jim_Sutcliffe_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Chair of Audit Committee, Member of Human Resources, Remuneration and Search &amp; Governance Committees
			</div>	

			<div class="governers-body">

				<p>After leaving Burnley Grammar School, Jim Sutcliffe joined Burnley Building Society as a computer specialist and Audit Manager. He then moved to the National and Provincial Building Society in Bradford as a mergers and acquisitions planner and integration manager. He developed his own management consultancy business in 1997 before recently retiring.</p>
   <p>
   Jim was appointed a Governor of Burnley College in 1998, a decision he states influenced by the high quality of education his sons received at Burnley College. He is now Chair of the Audit Committee and a member of the Human Resources Committee and Search and Governance Committee.</p>
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Richard_Thorley_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Chair of the Finance Committee and Member of the Search and Governance Committee
			</div>	

			<div class="governers-body">

				<p>Retired Director of Kaman Aerospace Group, with headquarters in Connecticut, USA, Richard Thorley became a Burnley College Governor in 1993 whilst he was Managing Director at Smiths Aerospace. He is currently Chair of the Finance Committee.</p>
   <p>
   A Chartered Management accountant Richard also holds a degree in Production Engineering and Management from Loughborough University.</p>
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Philip_Turner_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Chair of Human Resources Committee,Member of The Remuneration Committee
			</div>	

			<div class="governers-body">

				<p>Philip Turner recently retired from being Senior Partner at Waddington and Son Solicitors. He had spent over 24 years at the firm after joining on a traineeship and continues to work for them as a Senior Consultant. Philip specialises in Criminal Law.</p>
   <p>
   Philip has been a Burnley College Governor since 1993.</p>
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Paul_Ragnall_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Vice Chair of Human Resources Committee, Member of The Audit and Search &amp; Governance Committees
			</div>	

			<div class="governers-body">

				<p>Paul Ragnall joined the College&rsquo;s Governing Board in March 2011. Paul works at the National Pensions Service and has held a number of roles over the past 30 years including benefit delivery, Human Resources, Health and Safety and the Job Centre Plus. Until recently, Paul was the Deputy Manager of the Department for Work and Pensions and has now taken up a national role in relation to health and safety and elements of the human resources function.</p>
   
   
				<hr>

			</div>
		</div>

<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Ken_Phillips_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Chair of Curriculum &amp; Standards Committee Member of the Audit, Remuneration and Search &amp; Governance Committees
			</div>	

			<div class="governers-body">

				<p>Ken Phillips was formerly the Director of Regional Partnerships with our partner university, the University of Central Lancashire. He is Chairman of the Curriculum and Standards Committee which considers curriculum related issues and student achievements. Ken began teaching Politics at the University of Central Lancashire in 1972 becoming head of department in the mid 1980s. He was appointed Director of the Regional Partnerships Project in February 2004.</p>
   
   
				<hr>

			</div>
		</div>


<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Guy_Thomas_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Member of the Curriculum Standards Committee
			</div>	

			<div class="governers-body">

				<p>Guy Thomas left aerospace manufacturing group Kaman UK in May 2014 after six years of managing three subsidiary businesses within the organisation, first as Group Finance Director and then taking a new role as Group Managing Director in January 2010. He is now a self employed consultant providing specialist services support to small and midsized corporates.<br />
   <br />
   Guy is a qualified accountant and has many years experience in this role gained at Earnest &amp; Young and Brockhouse Holdings where he was Group Finance Director.</p>
   
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Aidan_Worsley_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Curriculum and Standards Committee
			</div>	

			<div class="governers-body">

				<p>Following a career in social work and the probation service, Aidan Worsley moved to the University sector, firstly at the University of Chester and then the University of Central Lancashire (UCLan) where he holds the position of Executive Dean leading the University in business, law and applied social studies.<br />
   <br />
   Aidan enjoys a national reputation as a published research author in social work and is a former president of the Association of Professors of Social Work.</p>
   
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					<img class="icon" src="/portals/0/Images/governors/Lyn_Bradley_Web.jpg" style="width: 200px; height: 200px;" />
			</div>

			<div class="governers-title">
				Lecturing Staff Governor, Member of the Curriculum and Standards Committee
			</div>	

			<div class="governers-body">

				<p>Lyn Bradley is a recent addition to the Board being elected as the Lecturing Staff Governor in April 2016.<br />
   <br />
   A longstanding member of staff Lyn joined the College in 2004 and is a computing and games lecturer in our Creative Industries and Computing Division.</p>
   
   
				<hr>

			</div>
		</div>




<div class="row">
			<div class="governers-image">	
					<img alt="" src="/portals/0/Images/governors/louise-gaskell-new.jpg" style="width: 200px; height: 200px;" title="" />
			</div>

			<div class="governers-title">
				Member of Audit Committee
			</div>	

			<div class="governers-body">

				<p>Lyn Bradley is a recent addition to the Board being elected as the Lecturing Staff Governor in April 2016.<br />
   <br />
   A longstanding member of staff Lyn joined the College in 2004 and is a computing and games lecturer in our Creative Industries and Computing Division.</p>
   
   
				<hr>

			</div>
		</div>




<div class="row">
			<div class="governers-image">	
					<img alt="" src="/portals/0/Images/governors/louise-robinson.jpg" style="width: 200px; height: 200px;" title="" />
			</div>

			<div class="governers-title">
				Member of Curriculum and Standards Committee
			</div>	

			<div class="governers-body">

				<p>Louise Robinson commenced her career with Hurel Dubois 21 years ago, worked in Supply Chain for 5 years and is currently Programmes Director of Safran Nacelles Limited. &nbsp;Previously Louise worked for Rolls Royce as Commercial Manager and Bizjets as Senior Programme Manager.&nbsp;</p>
   
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					
			</div>

			<div class="governers-title">
				Dr Martyn Walker
			</div>	

			<div class="governers-body">

				<p>Martyn attended the former Wigan and District, Mining and Technical College where he undertook his &lsquo;A&rsquo; Levels rather than attending a local VIth form school as he thought further education might better prepare him for university learning. It did. Martyn originally trained as a secondary school teacher and also worked part-time in community education and at an FE college in Derbyshire. He decided he wanted to move into FE full-time and in 1994 was appointed senior lecturer and later Head of Department at South East Essex College in Southend-on Sea. While at the College he was responsible for setting up several degree programmes and managing the University of Greenwich teacher training courses for those wishing to teach in the FE sector. Martyn is now Principal Lecturer and Researcher in the School of Education and Professional Development at the University of Huddersfield where he was first appointed in 2001. He teaches across a range of undergraduate and postgraduate education subjects and supervises PhD and EdD postgraduate researchers. Martyn also has wider School and University roles. Research interests are around 19<sup>th</sup> century adult working-class education and further education. His work attempts to inform present-day policy makers. Martyn lives in Burnley.</p>
   
   
				<hr>

			</div>
		</div>


<div class="row">
			<div class="governers-image">	
					
			</div>

			<div class="governers-title">
				Joe Clarke
			</div>	

			<div class="governers-body">

				<p>Joe Clarke is an exceptionally focused and hardworking student who has started his A Level course with the same excellent attitude and work ethic that resulted in his excellent success at GCSE, in which he received 3 x A* and 7 x A grades. Joe is studying A Levels in English Literature, History and Politics where he is an asset to his sessions &ndash; an insightful and perceptive student who can contribute confidently and articulately no matter what the subject, and demonstrates a well-considered, balanced and critical approach to all topics. Joe is also part of the A Level Honours Programme, as part of which he is undertaking the Extended Project Qualification &ndash; he initially explored investigating the role of the government in the creation of the Punk movement; however, a testament to Joe&rsquo;s eclectic and engaging interests has seen him now move on to undertake a critical discussion into the NHS and the issues surrounding state-subsidised healthcare for conditions/illnesses deemed &lsquo;self-inflicted&rsquo;. Joe&rsquo;s ultimate ambition is to progress to university &ndash; his high aspirations evidenced by his ambition to study at a university in Denmark. Joe is a passionate music fan, and enjoys going to concerts in his spare time.</p>
   
   
				<hr>

			</div>
		</div>



<div class="row">
			<div class="governers-image">	
					
			</div>

			<div class="governers-title">
				Susan Marshall
			</div>	

			<div class="governers-body">

				<p>Susan Marshall is currently studying the second year of her foundation degree in Web Design and Development. She is highly engaged with a range of enhancement activities and roles including the Class Representative and a busy Student Ambassador. She has been involved in University Management Group meetings and contributed to the Scholarly Activity and Research Fund (SCARF) Steering Group Panel. Susan is also a Business Owner of Marshalls Garage Burnley and is a former member of the Federation for Small Business Panel. She will bring a wealth of experience and a positive attitude to her role as student governor.</p>
   
   
				<hr>

			</div>
		</div>





<div class="row">
			<div class="governers-image">	
					
			</div>

			<div class="governers-title">
				Susan Marshall
			</div>	

			<div class="governers-body">

				<p>Susan Marshall is currently studying the second year of her foundation degree in Web Design and Development. She is highly engaged with a range of enhancement activities and roles including the Class Representative and a busy Student Ambassador. She has been involved in University Management Group meetings and contributed to the Scholarly Activity and Research Fund (SCARF) Steering Group Panel. Susan is also a Business Owner of Marshalls Garage Burnley and is a former member of the Federation for Small Business Panel. She will bring a wealth of experience and a positive attitude to her role as student governor.</p>
   
   
				<hr>

			</div>
		</div>

<div class="row">
<div class="minutes-title">
	Governing Board Minutes
</div>
<div class="minutes-body">
<p>The Governing Body of Burnley College keep a full record of all meetings held, to view the minutes, click on the links below:</p>
<p><a href="/Portals/0/Full%20Governing%20Board%20Minutes%20-%206%20April%202016.pdf?ver=2017-10-25-131431-113&amp;timestamp=1508934274938" target="_blank">Meeting of the Governing Board&nbsp; &ndash;&nbsp; &nbsp;6&nbsp;April&nbsp;2016</a></p>

   <p><a href="/Portals/0/Full%20Governing%20Board%20Minutes%20-%2022%20June%202016.pdf?ver=2017-10-25-131431-113&amp;timestamp=1508934415535" target="_blank">Meeting of the Governing Board &ndash;&nbsp; 22 June 2016</a></p>	



</div>

</div>		








	</div>
</div>