div.wpcf7{margin-top:4em}div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors{border:none;color:#f7f7f7;font-size:2em;padding:0;text-align:left; line-height: normal; clear: both;}
div.wpcf7-response-output{margin:30px 0}div.wpcf7-validation-errors{border:none;color:#E32F21}form.invalid input.wpcf7-not-valid,.wpcf7-form.invalid textarea.wpcf7-not-valid,.wpcf7-form input:focus:invalid:focus,.wpcf7-form textarea:focus:invalid:focus{border:1px solid #E32F21}span.wpcf7-not-valid-tip{display:none}.thmlv-dribbble-shots li{width:49%;margin-bottom:2%;margin-right:2%;display:inline-block;zoom:1;*display:inline;vertical-align:top}.thmlv-dribbble-shots li:nth-child(2n){margin-right:0}.thmlv-dribbble-shots a:hover{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)!important;filter:alpha(opacity=100)!important;-moz-opacity:1!important;-khtml-opacity:1!important;opacity:1!important}.flickr_badge_image{background:#ff0084 url(../images/flickr-overlay.png) no-repeat center center;webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);display:inline-block;margin:0 2% 2% 0;vertical-align:top;width:32%;zoom:1}.flickr_badge_image:nth-of-type(3n){margin:0 0 2%}.flickr_badge_image:nth-child(odd){background:#0063dc url(../images/flickr-overlay.png) no-repeat center center}.flickr_badge_image a img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:block;height:auto;opacity:1;transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-webkit-transition:opacity .35s ease-in-out;width:100%;z-index:-1}.flickr_badge_image a:hover img{opacity:0;transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-webkit-transition:opacity .35s ease-in-out}#thmlvPageWidget .flickr_badge_image{margin:0 1% 2%;width:10.5%}#thmlvPageWidget .flickr_badge_image:nth-of-type(10n){margin:0 0 2%}@media ( max-width : 767px ){#thmlvPageWidget .widget .flickr_badge_image{margin:0 2% 2% 0;width:15%!important}#thmlvPageWidget .widget .flickr_badge_image:nth-of-type(6n){margin:0 0 2%}#thmlvFooterWidgetArea .widget .flickr_badge_image{margin:0 2% 2% 0;width:15%!important}#thmlvFooterWidgetArea .widget .flickr_badge_image:nth-of-type(6n){margin:0 0 2%!important}}#thmlvFooterWrapper .widget{font-size:.888em;padding-bottom:1.888em;padding-top:1.888em}#thmlvFooterWrapper .thmlvWidgetTitle{color:#333;font-size:1.222em;margin-bottom:1em;margin-top:0}#searchform fieldset{position:relative}#searchform #s{border:1px solid rgba(100,100,100,0.1);padding-right:55px;width:100%}#thmlv-search-submit{position:absolute;right:0;text-align:center;top:0;width:4em}#thmlv-search-submit .fa{left:0;line-height:3.666em;position:absolute;text-align:center;top:0;width:100%;z-index:1}#thmlv-search-submit input[type="submit"]{background:transparent;border-radius:0;color:#555;height:100%;margin:0;text-indent:-999px;padding:0;position:relative;width:100%}.thmlv-widget-social a{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background:#333;color:#fff;display:inline-block;font-size:1em;height:42px;line-height:46px;margin:0 5px 10px 0;text-align:center;transition:all .1s ease-out 0;-webkit-transition:all .1s ease-out 0;-o-transition:all .1s ease-out 0;width:42px}.thmlv-widget-social a.behance:hover{background:#1769ff}.thmlv-widget-social a.dribbble:hover{background:#ea4c89}.thmlv-widget-social a.facebook:hover{background:#3B5998}.thmlv-widget-social a.flickr:hover{background:#FE0883}.thmlv-widget-social a.google:hover{background:#C63D2D}.thmlv-widget-social a.instagram:hover{background:#4E433C}.thmlv-widget-social a.linkedin:hover{background:#4875B4}.thmlv-widget-social a.pinterest:hover{background:#C9232D}.thmlv-widget-social a.tumblr:hover{background:#2B4964}.thmlv-widget-social a.twitter:hover{background:#3CF}.thmlv-widget-social a.vimeo:hover{background:#86B32D}


.media-visit{height:90vh; background-color: #f5464b; text-align: center;}
.digital-visit{height:90vh; background-color: #03464e; text-align: center;}
.splash-intro{display: inline-block;}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


@font-face {
    font-family: Quintus;  
    src: url(/wp-content/themes/north/fonts/Quintus_B_trial.otf)!important;  
    font-weight: normal;  
}



.btn-outline-secondary{border:solid 3px white!important; background-color:transparent; color:white; font-size:1.5em; text-transform:lowercase}


.media-image{height:90vh; background-color:#f5464b; margin:0px!important; padding:0px!important}
.digital-image{height:90vh; background-color:#03464e; margin:0px!important; padding:0px!important }
.media-image img{height:90vh!important; width:auto; overflow:hidden; margin:0px!important; padding:0px!important}
.digital-image img{height:90vh; width:auto; overflow:hidden; margin:0px!important; padding:0px!important}


.media-image{
    position: absolute;
    z-index: 100;
    left: 50%; display: none;
}

.digital-image{
    position: absolute;
    z-index: 100;
    right: 50%; display: none;
}

.media-image img{height:100vh; width:auto; overflow:hidden}

.white-logo-left {
    position: absolute;
    width: 100px;
    z-index: 500000000;
    margin-top: 44px;
    left: 10px;
}
.red-logo-left {
    position: absolute;
    width: 100px;
    z-index: 500000000;
    margin-top: -234px;
    left: 10px;
}

@media all and (max-width: 490px) { 
.white-logo-left{width:60px; height:60px; padding-left:10px}
.red-logo-left{width:60px; height:60px; padding-left:10px}


.media-image,
.digital-image{display:none!important;}

.page-template-splash h1{font-size:3em}

.media-visit{height:33vh; background-color: #f5464b; text-align: center;}
.digital-visit{height:33vh; background-color: #03464e; text-align: center;}

.vertical-center {
  min-height: 33%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 33vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.page-template-splash {
    margin-top: 0px!important;
}

}

 .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

.page-control {
    position: fixed;
    top: 20px;
    z-index: 90000;
    right: 104px;
}

.page-id-3391 input[type="submit"] {
    background-image: url(/wp-content/uploads/2017/11/Send_white.gif)!important;
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: left;
    width: 200px;
    height: 167px;
    text-align: right;
    font-size: 0;
}

.some-text{font-family: Quintus!important; color:white; font-size: 1.8em; float:left; margin-right: 10px; padding:3px}


.btn-success {
    color: #fff;
    background-color: #eac435;
    border-color: white;
}

.btn-danger {
  color: #fff;
  background-color: #f5464b;
  border-color: #f5464b;
}



  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 65px!important;
    border-width: 0 1px;
}

.toggle.btn{
    width: 111.5px!important;
    height: 28px;
}
.toggle-on.btn {
    padding-right: 36px!important;
}

.page-template-digital-default #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-news-blocks #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-case-studies-feed #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9;}
.digital_case_study-template-digital-case-studies-single #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.single-digital_news #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-team-feed-php #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9;}
.page-template-digital-services-single-php #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-home #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.clients-template-clients-single-post #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-our-clients-blocks #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.digitalteam-template-digital-team-single #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-services-home #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }
.page-template-digital-about #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color: #03464e!important;opacity: .9; }

.digital-scroll-menu .thmlvOpenMenu i {margin-top:9px!important}


.page-template-digital-home #thmlMainOpenMenu, .page-template-digital-default #thmlMainOpenMenu, .page-template-digital-news-blocks #thmlMainOpenMenu, .page-template-digital-case-studies-feed #thmlMainOpenMenu, .digital_case_study-template-digital-case-studies-single #thmlMainOpenMenu,
.single-digital_news #thmlMainOpenMenu, .page-template-digital-team-feed-php #thmlMainOpenMenu, .page-template-digital-about #thmlMainOpenMenu,  .page-template-digital-services-single-php #thmlMainOpenMenu,  .clients-template-clients-single-post #thmlMainOpenMenu, .page-template-our-clients-blocks #thmlMainOpenMenu , .digitalteam-template-digital-team-single #thmlMainOpenMenu, .page-template-digital-services-home #thmlMainOpenMenu
{
    color: #ffffff;
    position: absolute;
    right: 2em;
    top: 1.1em;
    z-index: 999;
    padding-right: 25px;
}





.page-template-digital-default input[type="submit"] {
    background-image: url(/wp-content/uploads/2017/11/Send_white.gif)!important;
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: left;
    width: 200px;
    height: 167px;
    text-align: right;
    font-size: 0;
}

.kc_column .digital-map {
    
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}

.one-team-member, .client-blocks {
  position: relative;
  
}
.one-team-member, .client-blocks{margin-left: 0px!important; margin-right:0px!important; padding-left:0px;padding-right:0px}

.overlay-bs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3e424499;
}
.overlay-cb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3e4244d4;
}

.one-team-member:hover .overlay-bs {
  opacity: 1;
}

.client-blocks:hover .overlay-cb {
  opacity: 1;
}

.text-bs {
    color: white;
    font-size: 14px;
        top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  padding:5px;
    text-align: center;
    
}

.text-bs-t
 {
    color: white;
    font-size: 22px;
    position: absolute;
    bottom:15%;
    margin-left:20px;
    
    
}

.one-team-member-image img{width:100%; height:auto;}
.client-block img{width:100%; height:auto;}

.one-agency-member-name {font-family: Quintus!important; color:white; font-size: 1.5em; line-height: normal;}

.page-template-team-new a{padding-left: 0px}
.one-team {padding-left:0px;padding-right:0px;}




.news-feature-image img{width:100%;height:auto;}
.digital-news-title {
    font-size: calc(3vw + 2vh);
    line-height: normal;
    font-family: 'futura-pt',sans-serif !important;
    font-weight: 600;
    letter-spacing: -0.015em;
}
#digital-news-article {
    margin-top: 90px;
    padding: 10px;
}
#digital-news-article hr{border-color:black;}
.digital-news-top{
    margin-bottom: 46px;}

.news-feature-image{margin-bottom:20px}
.single-digital_news{background-color:#e2e8e247}

#digital-news-article + hr {border-color:black!important; background-color:black!important}

.digital-news-blocks{padding-right: 0px;padding-left: 0px}

.news-details{background-color:white;

    -webkit-transition: 1.0s ease;
-moz-transition: 1.0s ease;
-o-transition: 1.0s ease;
-ms-transition: 1.0s ease;
transition: 1.0s ease;
-webkit-transition-duration: 1.0s; 
-webkit-transition-timing-function: ease-out;  height: 510px;}


.news-details:hover{background-color:transparent; color:white }
.news-details:hover a{ color:white }


.digital-news-inner {
    padding: 31px;
    margin-left: 49px;
    margin-right: 38px;
}

.digital-news-title-grid a{font-family: Quintus!important; font-size: calc(1vw + 2vh);
    line-height: normal; text-decoration: none;}

.digital-news {
    padding: 0px;
    background-size: cover;
    height: 510px;
}
.even .news-details{background-color:#e3e3e6; -webkit-transition: 1.0s ease;
-moz-transition: 1.0s ease;
-o-transition: 1.0s ease;
-ms-transition: 1.0s ease;
transition: 1.0s ease;
-webkit-transition-duration: 1.0s; 
-webkit-transition-timing-function: ease-out;  height: 510px;}
.even .news-details:hover{background-color:transparent; color:white }
.even .news-details:hover a{ color:white }


.related-content-title a{font-family: Quintus!important; font-size: calc(1vw + 1vh);  line-height: normal; text-decoration: none;}
.page-template-digital-news-blocks #thmlvContent{padding-bottom: 0em;}
.my-skills {
    margin-top: 40px;
}
.all-skills-title{font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: normal; color:#f5464b}
.relates-news-title{font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: normal; color:#f5464b}


.our-clients{margin-top:5%;}
.client-title {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: normal; color:#03464e}
.client-about{margin-top: 5%;}


.our-clients-feed-title{font-family: Quintus!important; font-size: calc(2vw + 3vh);line-height: normal; color:#03464e; text-align: center; margin-bottom: 0%}

.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 200px;
} 
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 } 
 .containerdiv img{
   max-width: 200px;
 }




.testimonial-title {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: normal; color:#03464e; text-align: center;}
.testimonial-body{text-align: center; margin:15px;}
.testimonial-person{text-align: center; font-weight: bold}
.testimonial-position{text-align: center;}

.rating-area{
    width: 200px;
    margin-left:  auto;
    margin-right:  auto;
}

.digital-cta-small input[type=text], .digital-cta-small input[type=email], .digital-cta-small input[type=password], .digital-cta-small input[type=url], .digital-cta-small input[type=tel], .digital-cta-small textarea, .digital-cta-small select{background-color: white!important}
.digital-main-cta  input[type=text], .digital-main-cta  input[type=email], .digital-main-cta  input[type=password], .digital-main-cta  input[type=url], .digital-main-cta  input[type=tel], .digital-main-cta  textarea, .digital-main-cta  select{background-color: white!important}
.digital-cta-box  input[type=text], .digital-cta-box  input[type=email], .digital-cta-box  input[type=password], .digital-cta-box  input[type=url], .digital-cta-box  input[type=tel], .digital-cta-box  textarea, .digital-cta-box  select{background-color: white!important}




.digital-cta-title {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 56px; color:white; text-align: center;}

.digital-submit input[type=submit]{background-color:black; height:50px ;width:150px;color:white;background-image:none!important;font-size: 20px; padding:0px!important; text-align:center; border-radius: 15px;}


.services-title {font-family: Quintus!important; font-size: calc(1vw + 1vh);line-height: normal; color:#03464e; text-align: center; min-height: 58px;}

.services-summary, .services-link {text-align: center;}
.digital-service-block{padding:56px;}

.services-icon img{width:120px; height:auto; display:block; margin-left:auto; margin-right:auto}


.proud-clients {
    margin-top: 90px;
   
    clear: both;
    display: block;
   /* background-color: #c5c3c352;*/
}

.digital-testi{
    margin-top: 90px;
    padding-top: 90px;
    clear: both;}


.page-template-digital-services-home .client-blocks {
    background-color: #c5c3c352;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-template-digital-services-home.kc-css-system .kc-css-386838 {
    margin: 0px 0px 0px 0px!important;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.page-template-digital-services-home .digital-services-feed{padding-left: 5%; padding-right: 5%; clear:both;}
.page-template-digital-services-home .testimonial-blocks{padding-left: 5%; padding-right: 5%;}



.page-template-digital-services-home .owl-carousel .owl-item img {
    display: block;
    width: 200px!important;
}
/*scroll menu colour*/

.page-template-digital-services-home #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}

.page-template-digital-default #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-news-blocks #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-case-studies-feed #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.digital_case_study-template-digital-case-studies-single #thmlvScrollMenuWrap {background-color: #034654!important;padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.single-digital_news #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-team-feed-php #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-services-single-php #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-home #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.digitalteam-template-digital-team-single #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.page-template-digital-about #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}
.clients-template-clients-single-post #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em;     opacity: .8;background: #034654;}

.page-template-our-clients-blocks #thmlvScrollMenuWrap {background-color: #034654!important; padding-bottom: 0.444em;padding-top: 0.666em; opacity: .8; background: #034654;}






#thmlMainOpenMenu a{color: white!important}




.page-template-digital-default a,.page-template-digital-news-blocks a,.page-template-digital-case-studies-feed a,.digital_case_study-template-digital-case-studies-single a, .single-digital_news a,
.page-template-digital-team-feed-php a, .page-template-digital-services-single-php a,.page-template-digital-home a,.digitalteam-template-digital-team-single a,.page-template-digital-about a,.clients-template-clients-single-post a, 
.page-template-our-clients-blocks a{color:#02866a!important}


a#thmlMainOpenMenu  i {color: white!important}
a.thmlvOpenMenu {color:white!important}
.thmlvMenu a{color:white!important}


.digital-cta-large input[type=text], .digital-cta-large input[type=email], .digital-cta-large input[type=password], .digital-cta-large input[type=url], .digital-cta-large input[type=tel], .digital-cta-large textarea, .digital-cta-large select{background-color: white!important}

.digital-main-cta{background-color: #e40066; padding-bottom: 3%; padding-top: 3%; clear: both;}

.page-template-digital-services-home h1, .page-template-digital-services-home h2, .page-template-digital-services-home h3, .page-template-digital-services-home h4, .page-template-digital-services-home h5, .page-template-digital-services-home h6 {color: #03464e!important;}
.page-template-digital-home h1, .page-template-digital-home h2, .page-template-digital-home h3, .page-template-digital-home h4, .page-template-digital-home h5, .page-template-digital-home h6 {color: #03464e!important;}




.digital-cta-large::-webkit-input-placeholder { color:#03464e!important; } /* chrome/webkit */
.digital-cta-large::-moz-placeholder {color:#03464e!important; } /* firefox 19+ */
.digital-cta-large:-moz-placeholder { color:#03464e!important; } /* firefox 18- */
.digital-cta-large:-ms-input-placeholder { color:#03464e!important; } /* ie */




.digital-cta-small::-webkit-input-placeholder { color:#03464e!important; } /* chrome/webkit */
.digital-cta-small::-moz-placeholder {color:#03464e!important; } /* firefox 19+ */
.digital-cta-small:-moz-placeholder { color:#03464e!important; } /* firefox 18- */
.digital-cta-small:-ms-input-placeholder { color:#03464e!important; } /* ie */


.digital-clients-header img{width:100%}

.page-template-digital-services-single .thmlvSectionTitle{display: none;}
.page-template-digital-services-single .thmlvEntryMeta {display: none;}

.digital_case_study-template .thmlvSectionTitle{display: none;}
.digital_case_study-template .thmlvEntryMeta {display: none;}

.page-template-digital-case-studies-feed .thmlvSectionTitle{display: none;}
.page-template-digital-case-studies-feed .thmlvEntryMeta {display: none;}
.page-template-digital-default .thmlvSectionTitle{display: none;}
.page-template-digital-default .thmlvEntryMeta {display: none;}
.page-template-digital-default #thmlvHeader {display: none;}

.technology-blocks {background-color: #dde0e05e; padding-bottom: 3%; padding-top: 3%; padding-left: 3%; padding-right: 3%;}




.digital.question-question {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 56px; color:#03464e; text-align: center; margin-bottom: 20px;}
ul li {
    list-style-position: outside;
    margin-left: 1em;
    margin-bottom: 1em;
}


.digital-service-question-block {border-top:1px solid #03464e; margin-top:3%; padding-top:40px; padding-bottom:45px}

.digital-question-answer{
    border: solid 2px;
    border-radius: 16px;
    padding: 10px;
}

.services-summary{border-top:solid 1px; padding-top:15px; min-height: 141px;}

.digital-number, .digital-address, .digital-email{text-align: center;}


/*.digital-footer{margin-top:3%; margin-bottom:5px; padding-top: 10px;}*/
.footer-icon{margin-bottom: 10px;}

/* digital case studies  ------- */
/*isotope styles*/

.isotope-item {
  z-index: 2;
}
 
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
 
/**** Isotope CSS3 transitions ****/
 
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
 
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
 
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
 
/**** disabling Isotope CSS3 transitions ****/
 
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* overlay digital case studies */


.container-digital-cs {
  position: relative;
}
 .container-digital-cs{margin-left: 0px!important; margin-right:0px!important; padding-left:0px;padding-right:0px}
.overlay-digital-cs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3e4244d4;
}



.container-digital-cs:hover .overlay-digital-cs {
  opacity: 1;
}
.text-digital-cs {
    color: white;
    font-size: 22px;
    position: absolute;
    bottom: 93px;
    left: 40px;
    line-height: normal;
}
.container-digital-cs img{width:100%; height:auto;} 




/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%;}
/* 2 columns */
.grid-item-big { width: 50%; padding:3px; }
.grid-item-small{width:25%; padding:3px;}
.grid-item-wide{width:50%; padding:3px;}
.grid-item-long{width:25%; padding:3px;}





.grid-item-small .text-digital-cs {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    line-height: normal;
}

.grid-item-long .text-digital-cs {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    line-height: normal;
}
.grid-item-big .text-digital-cs {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 30px;
    left: 25px;
    line-height: normal;
}
.grid-item-wide .text-digital-cs {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 30px;
    left: 25px;
    line-height: normal;
}

@media all and (max-width: 770px) { .grid-item-big { width: 100%; }
.grid-item-small{width:100%}
.grid-item-wide{width:100%;}
.grid-item-long{width:100%}
.grid-item-big .text-digital-cs, .grid-item-wide .text-digital-cs{font-size: 16px; bottom:10px; left:15px;}
}

@media screen and (min-width: 768px)
{
.page-template-digital-case-studies-feed .kc-animated {
    opacity: 1; 
}}

.od-cd-but{border:solid 3px; border-radius:15px; padding:10px 20px 10px 20px; margin-right:5px; margin-bottom:20px;}
.d-cs-f {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 56px; color:#03464e;  margin-bottom: 45px;}
.related-feed-title{font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 56px; color:#03464e;  margin-bottom: 20px; padding-left: 29px;}
.related-cs-title{font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 30px; color:#03464e;  margin-bottom: 10px; margin-top: 30px}
.related-cs-image img{width:100%}
.related-casestudies{clear:both; margin-top:3%}

.page-template-digital-case-studies-feed h1, .page-template-digital-case-studies-feed h2, .page-template-digital-case-studies-feed h3, .page-template-digital-case-studies-feed h4, .page-template-digital-case-studies-feed h5, .page-template-digital-case-studies-feed h6 {color: #03464e;}
/*.digital-case-studies-feed{margin-top:2%}*/
.client-block img{width:100%; height:auto;}
_:-ms-lang(x), _:-webkit-full-screen, .overlay-cb { background-color: black!important; }
/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-ime-align:auto) {
 .overlay-cb { background-color: black!important; }
}
.page-template-digital-services-home  #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color:#03464e!important }

.breadcrumbs{margin-left: 10px; font-size:14px; clear:both;}


.quote-body {font-family: Quintus!important; font-size: 38px;line-height: 56px; color:#03464e;  margin-bottom: 45px; text-align: center;}
.digital-cs-quote-text {padding:20px; background-color: #dcdede }
.quote-by{color: #03464e; font-size: 20px}

.digital-cs-quote{padding:0px;}

.digital-cs-quote-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.digital_case_study-template-digital-case-studies-single .owl-carousel .owl-item img {
    display: block;
    width: 200px!important;
}

.testimonial-blocks{
    border-top: 1px solid grey; 
}

.home-page {
    margin-top: -32px;
}
.team-controls{margin-top:2%;}


.thmlvMenu, .thmlvMenu ul {
    list-style-type: none;
    margin-left: 4%!important;
}
.parallax-window, .parallax-window-2 {
    min-height: 550px;
    background: transparent;
}

.proud-clients{clear:both;}
.holder-2{clear:both;}

.para-text{font-size:60px; text-align:center; color:white; padding-top:100px; line-height: normal; width: 75%;
    margin-left: auto;
    margin-right: auto;}

#count-box-0, #count-box-1, #count-box-2, #count-box-3 {
display: block;
border: 3px #ccc solid;
color: #ccc;
font-size: 4em;
border-radius: 50%;
line-height: 200px;
height: 200px;
width: 200px;
text-align: center; margin-left: auto;margin-right: auto; margin-bottom: 10px;margin-top: 10px;
}
.counter-text{text-align: center; font-size: 21px; font-weight: 900; color: #ccc;}
.counters-area{
    background-color: #424141;
    clear: both;
    padding: 40px;
}
.flexible-content-middle{margin-bottom:5%}


.page-template-digital-home .digital-services-feed {
    background-color: #f1f1f1;
}
.page-template-digital-home .proud-clients {
    margin-top: 25px;
    padding-top: 25px;
    clear: both;
    display: block;
   
}

.page-quote{padding:20px}
.page-quote-body{color:white; font-size:38px; line-height:normal; text-align:center}
.page-quote-by{color:white;font-size:23px; }


.digital-services-stats .progress-item span.label{padding-bottom:25px!important; font-weight: 900!important;}


.page-template-digital-home .text-bs {
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 5%;
    text-align: center; padding:5px;
}
.digital-service-block a {text-decoration: none}
p {
    margin: 0px 0 18px;
}

.services-link{font-size: 20px; margin-top: 30px}


.owl-prev{
    float: left;
    margin-right: 20px;
}

.owl-prev, .owl-next{border:solid 2px; padding:10px 20px 10px 20px ; border-radius:10px; margin-top: 9px;}

.owl-next{float:left}


.page-template-digital-default h1, .page-template-digital-default h2, .page-template-digital-default h3, .page-template-digital-default h4, .page-template-digital-default h5, .page-template-digital-default h6 {color: #03464e;}

.d-cs-f{float:left; margin-right: 15px}


.buttons-left{float: left ;}
.grid{clear:both;}


.news-controls{padding-bottom:20px}

.page-template-digital-about .owl-carousel .owl-item img {
    display: block;
    width: 200px!important;
}
.page-template-digital-about .owl-prev, .page-template-digital-about .owl-next{margin-bottom:2%; margin-left:10px}

.page-template-digital-about .owl-nav{
    margin-top: 20px;
}

.page-template-digital-about h1, .page-template-digital-about h2, .page-template-digital-about h3, .page-template-digital-about h4, .page-template-digital-about h5, .page-template-digital-about h6 {color: #03464e!important;}

.clients-template-clients-single-post h1, .clients-template-clients-single-post h2, .clients-template-clients-single-post h3, .clients-template-clients-single-post h4, .clients-template-clients-single-post h5, .clients-template-clients-single-post h6 {color: #03464e!important;}


.digitalteam-template-digital-team-single h1,.digitalteam-template-digital-team-single h2, .digitalteam-template-digital-team-single h3, .digitalteam-template-digital-team-single h4, .digitalteam-template-digital-team-single h5, .digitalteam-template-digital-team-single h6 {color: #03464e!important;}

.digital_case_study-template h1, .digital_case_study-template h2, .digital_case_study-template h3, .digital_case_study-template h4, .digital_case_study-template h5, .digital_case_study-template h6 {color: #03464e!important;}




.single-digital_news h1, .single-digital_news h2, .single-digital_news h3, .single-digital_news h4, .single-digital_news h5, .single-digital_news h6 {color: #03464e!important;}
.page-template-digital-news-blocks h1, .page-template-digital-news-blocks h2, .page-template-digital-news-blocks h3, .page-template-digital-news-blocks h4, .page-template-digital-news-blocks h5, .page-template-digital-news-blocks h6 {color: #03464e!important;}



.page-template-digital-services-single h1, .page-template-digital-services-single h2, .page-template-digital-services-single h3, .page-template-digital-services-single h4, .page-template-digital-services-single h5, .page-template-digital-services-single h6 {color: #03464e!important;}


.recent-case-studies-digital {font-family: Quintus!important; font-size: 38px;line-height: 56px; color:#03464e;  margin-bottom: 45px; text-align: center;}
.testimonial-feed{padding:15px}

/*digital team styles*/
.team-image img{width:100%;    animation: imageZoom linear 50s;
    animation-iteration-count: infinite;
    -webkit-animation: imageZoom linear 50s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: imageZoom linear 50s;
    -moz-animation-iteration-count: infinite;
    -ms-animation: imageZoom linear 50s;
    -ms-animation-iteration-count: infinite; }
.team-image{padding-left:0px; padding-right:0px; max-height:929px; }
#digital-team-header{height:929px; overflow: hidden; }
.digital-team{margin-top:6%; clear: both;}

.team-details-info{
    display: block;
    position: absolute;
    z-index: 100;
    top: 34%;
    padding: 20px; color: white
}
.team-name{
font-size: 6em;
    margin-bottom: .0em; font-weight:600;line-height: normal;}
.team-role{font-size: 1.5em; line-height: 30px;}

.digitalteam-template-digital-team-single .all-skills-title {
    font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: normal;
    color: #03464e;
}

.digitalteam-template-digital-team-single .relates-news-title {
    font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: normal;
    color: #03464e;
}
@media all and (max-width: 784px) { .team-details-info{
    display: block;
    position: absolute;
    z-index: 100;
    top: 17%;
    padding: 10px; color: white
} 
.team-details-info{top:57%;}
.team-name{
font-size: 4em!important;
    margin-bottom: 0em; font-weight:600;line-height:normal!important;padding-bottom: 5px;}
.team-role{font-size: 1.5em; line-height: normal;}


}

#digital-team-header{background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
animation: imageZoom linear 50s;
    animation-iteration-count: infinite;
    -webkit-animation: imageZoom linear 50s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: imageZoom linear 50s;
    -moz-animation-iteration-count: infinite;
    -ms-animation: imageZoom linear 50s;
    -ms-animation-iteration-count: infinite; }
.team-image{padding-left:0px; padding-right:0px;}

.header-holder-digi{
   max-height: 900px;
    overflow: hidden;
}

.digitalteam-template-digital-team-single .container{clear:both;}


.page-template-digital-home .services-summary {
    border-top: solid 1px;
    padding-top: 15px;
    min-height: 95px;
}

.page-template-digital-home .services-title {
    font-family: Quintus!important;
    font-size: calc(1vw + 2vh);
    line-height: normal;
    color: #03464e;
    text-align: center;
    min-height: 58px;
}
.page-template-digital-home .digital-services-feed{ clear:both; }
.digital-body{padding-left: 20px; padding-right: 20px;}


@media all and (max-width: 454px) { .para-text{font-size: 30px;} 
.breadcrumbs {
    margin-left: 5px;
    font-size: 14px;
}
.even .news-details, .news-details, .digital-news{height:429px}


}




@media all and (max-width: 1204px) { .page-template-digital-home .one-agency-member-role {display:none;}}


.clients-template-clients-single-post .our-clients-feed-title {
    font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: normal;
    color: #03464e;
    text-align: center;
    margin-bottom: 0;
}
.clients-template-clients-single-post .clients-blocks{margin-top:1%}
.clients-template-clients-single-post .client-body {  border-bottom: solid 2px grey;}


#menu-digital{
    position: absolute;
    top: 23%;
}
.digital-footer{clear:both;}

.digital-cta-box{
    padding-left: 10px;
    padding-right: 10px;
}
.technology-feed .technology-logo img{ max-width:150px; 
}
.digital-services-questions{clear:both;}
.services-bitton-link {border:solid 2px #03464e; border-radius:10px; padding:10px 15px 10px 15px}

/*.page-template-digital-home .breadcrumbs{margin-left: 0px}*/
.page-template-digital-home #digital-content-ss {margin-top:-10px;}


/*search page and results*/
.search-results a {color:#f5464b}


.search-results #thmlvHeaderTitle h1 {color:#f5464b}

#fancybox-overlay{background-color:white!important}
#fancybox-content, #fancybox-outer {
    position: relative;
    background: #f5464b!important;
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
    z-index: 111102;
    border: 0pc!important;
    
}

#fancybox-title{display:none!important}
#two-column1 input[type="submit"] {
    background-image: url(https://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/Send-White.gif) !important;
    background-repeat: no-repeat;
    background: transparent;
    padding: 3px 10px;
    float: right;
    font-size: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 215px;
    height: 160px!important;
}


.people-prev a {border:solid 2px #03464e; border-radius:15px; padding:10px 15px 10px 15px}
.people-prev {margin-bottom: 30px; margin-top: 30px;}


.quick-chat{background-color:#1bcf98}

.services-title a{
    font-family: Quintus!important;
    font-size: calc(1vw + 2vh);
    line-height: normal;
    color: #03464e;
    text-align: center;
    min-height: 58px;
}
@media all and (max-width: 824px) { #digital-content-ss{margin-top: 0px!important} }

.splash-intro{padding:30px;}


 .splash-floating-box{
    position: absolute;
    top: 82%;
    left: 37%;
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: red;
    font-weight: 900;z-index: 9999999999999;
}
/*splash 2*/
.red-back{background-color:#f5464b}
.green-back{background-color:#03464e}
.splash-title2 h1{color:white; font-family: Quintus!important;
    font-size: calc(3vw + 2vh);
text-align:center;}

.splash2-button{
    text-align:  center;
}
.splash2-button .btn-outline-secondary:hover{color:white!important}
.splash-text-body{color:white; width:75%; margin-left:auto;
margin-right:auto;}
.splash-title{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.splash-title-2{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}
.splash-title-2 h2{color: #03464e;}
.white-logo-left.splash-2{top:-30px;}

.splash-title3 {color:white;font-family: Quintus!important;
    font-size: calc(3vw + 2vh);width: 75%;
    margin-left: auto;
    margin-right: auto;text-align: center; line-height: normal}
.splash-title2 p{color:white; text-align:center; width:75%;margin-left:auto;margin-right:auto}

/*digital header*/
.white-logo-left-digital{
    width: 79px;
    margin-left:  20px;}

   
.fancy-text{font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: normal;
    color: #03464e;}

 .social-holder {
    background-color: white;
    padding: 30px;
    min-height: 746px;
}

.page-template-digital-home #thmlvScrollMenuWrap {
    
    padding-bottom: 0.444em;
    padding-top: 0.666em;
    
}

/*.page-template-digital-home */.digital-footer{

 /*background-image: url('https://www.oneagencymedia.co.uk/wp-content/uploads/footer-img_v2.png');*/
 
    background-color: #373333;border-top: 2px solid white;

}
.digital-number, .digital-address, .digital-email{text-align: left;margin-top: 33px;font-size: 15px; color: white; margin-bottom: 20px;}
.digital-number a , .digital-address a , .digital-email a{color:white!important; text-align: left}

.copyright {
    font-size: 12px;
    color: white; border-top: 1px solid gray;
}



/*mobile responsive*/

@media all and (max-width: 767px) { 
#thmlvOverlayMenu li a {
    font-size: 3em!important;
    line-height: 1em;
    font-weight: bold;
    text-decoration: none;
}

.digital_case_study-template .digital-testi{margin-bottom: 80px!important;}
.page-template-digital-about .digital-testi{margin-bottom: 120px!important;}
.page-template-digital-services-home .digital-testi{margin-bottom: 80px!important;}

.page-control {
    position: absolute;
    top: 15px;
    z-index: 90000;
    right: 52px;
}
.toggle.btn {
    width: 73.5px!important;}
.page-control .btn{padding: 7px 6px;font-size: 12px;}


.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 0px;}

#thmlMainOpenMenu {
    color: #ffffff;
    position: absolute;
    right: 1em!important;
    top: 2em;
    z-index: 999;
    padding-right: 0px!important;}

.page-template-digital-home .services-title {
    font-family: Quintus!important;
    font-size: calc(1vw + 3vh);
    line-height: normal;
    color: #03464e;
    text-align: center;
    min-height: 58px;}
  

.digital-number, .digital-address, .digital-email{display:none;}
.footer-all-in-one-digital{display: inline-block!important;color:white; margin-top: 27px;}
.footer-all-in-one-digital a{color:white!important; font-size:12px;}
.copyright{font-size: 9px; padding:0px;}

.some-text {
    font-family: Quintus!important;
    color: white;
    font-size: 1em;
    float: left!important;
    margin-right: 8px;
    padding: 3px;}
.digital-scroll-menu .page-control{top:10px; right:110px}
.business-title-2, .business-title-1 {
    font-family: Quintus!important;
    font-size: 2em!important;
    text-align: center;
     line-height: 1.2em!important;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
 }
.page-template-splash-2 h1, .page-template-splash-2 h2{
    font-size: 1.222em!important; line-height: 1.5em!important;}
 .page-template-splash-2 p {
    font-size: 15px!important;
    line-height: 18px!important;}

.page-template-splash h1, .page-template-splash h2{
    font-size: 1.222em!important; line-height: 1.5em!important;}
 .page-template-splash p {
    font-size: 15px!important;
    line-height: 18px!important;}

.btn-outline-secondary {
    border: solid 3px white!important;
    background-color: transparent;
    color: white;
    font-size: 1em!important;
    text-transform: lowercase;}
#multiscroll-nav{display: none}
.para-text{font-size:40px}
.splash-title-1 h1 ,.splash-title-2 h2 {line-height: 1.5em!important}
.digital-footer{padding-bottom:59px}

}
/*end of media*/


.business-title-2, .business-title-1{font-family: Quintus!important;font-size: 3em; text-align:center;     line-height: normal;}

.business-title-1{color:#f5464b;}
.business-title-2{color: #03464e;}
#multiscroll-nav li .active span{
    background: #fff!important;
}
#multiscroll-nav span{
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff!important;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.splash2-button.red .btn-outline-secondary {
    border: solid 3px #f5464b!important;
    background-color: transparent;
    color: #f5464b;
    font-size: 1em;
    text-transform: lowercase;
}
.splash2-button.green .btn-outline-secondary {
    border: solid 3px #03464e!important;
    background-color: transparent;
    color: #03464e;
    font-size: 1em;
    text-transform: lowercase;
}
.big-text{ text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;color:white;font-family: Quintus!important;
    font-size: calc(2vw + 3vh);    line-height: 102px; }
    .splash-text-body a{color:white; text-decoration:underline}

.splash-title h1{line-height:normal}
.splash-title-2 h2{line-height:normal}
.splash-title-2 h2{line-height:normal;     font-size: 2.222em;
    font-weight: 600;
    letter-spacing: -0.015em;     margin: .67em 0;}

.splash2-button.green .btn-outline-secondary:hover{color: #03464e!important;}
.splash2-button.red .btn-outline-secondary:hover{color: #f5464b!important;}

.white-logo-left-digital-home {position:absolute; top:10px; left:10px; z-index:100; width:100px}
.digi-news{padding-left:15px;}

@media all and (max-width: 767px) { .digital-clients-header{display:none;}}
@media all and (min-width: 768px) { .digital-clients-header-small{display:none;}}

.digital-clients-header-small img{width:100%}

.ms-section.red-logo.ms-table.active + .red-logo-left{display: inline-block;}
.red-logo-left{display: none;}

.digital-email img{width:30px;margin-left:5px}
.seo-sections{
    clear: both;
    margin-bottom: 10px;
}
.copyright a{color:white;}

.digital-case-studies-feed {
    clear: both;
    margin-top: 2%;}

/*media styles*/
input[type=text], input[type=email], input[type=password], input[type=url], input[type=tel], textarea, select {
    background-color: #ffffff!important;
    margin: 10px 0 15px;
    width: 100%;
}
.media-widgets{color:#6bda9f}


.thmlv-short-number{
    color: #6bda9f;
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 50%;
    padding-top: 60px;
}
.thmlv-short-subject{
    width: 200px;font-size:18px!important;
}
.media-fancy-text{text-align:center; font-family: Quintus!important;font-size: 3em;line-height: normal;}
.media-fancy-text-2{font-family: Quintus!important;font-size: 3em;line-height: normal;}

.page-template-media-home input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}

.media-main-cta {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #f5464b;
    padding-top: 30px;
    padding-bottom: 56px;
}
.home-page-services img{margin-bottom:60px}
/*.media-services-feed{
    width: 80%;
    margin-left:  auto;
    margin-right:  auto;
}*/
.service-right{padding-top:3%}
.media-service-block{
   
    padding-left: 5%!important;
    padding-right: 5%!important;
    padding-top: 40px;
    padding-bottom:  40px;
}

.media-service-block.even{background-color:#f3f3f3}

.media-service-image{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

@media screen and (max-width: 1314px) and (min-width: 992px) {
    .services-title{min-height:100px}
    .services-summary{min-height:240px}
}
/*#thmlvOverlayMenu {z-index: 999999999999999999!important;}*/
#thmlvCloseMenu {
    position: absolute;
    top: 1.444em;
    right: 20px!important;
}


@media screen and (min-width: 768px){

.kc-animated {
    opacity: 1!important;
}}




.circle{
    border-radius: 1000px !important;
}

.invert{
   
}

.invert span{
    background: #000 !important
}


/* big version */
.btn-animated-lg{
    
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    position:relative;
    margin: 20px;
}

.btn-animated-lg span{
    position: absolute;
    height: 6px;
    border-radius: 4px;
    background: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-animated-lg span.one{
    width: 32px;
    top: 20px;
    left: 14px;
}

.btn-animated-lg span.two{
    width: 32px;
    top: 34px;
    left: 14px;
}

.btn-animated-lg.closed span.one{
    width: 40px;
    top: 26px;
    left: 10px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
}

.btn-animated-lg.closed span.two{
    width: 40px;
    top: 26px;
    left: 10px;
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.seb{color: #03464e!important; font-size: 1.666em; line-height: normal;}
.services-control-area{float:right;}
.media-service-title{
    text-align: center;
    color: #f5464b;
    font-size: 1.5em;
}

.media-service-summary{
    max-width: 546px;
}
.media-service-image-sub{width:200px;margin-left: auto; margin-right: auto;}

.media-testi{clear:both; padding-bottom:90px;}
.page-template-media-services-home .owl-carousel .owl-item img {
    display: block;
    width: 200px!important;
}
.testimonial-title.media{color: #555556}
.page-template-media-services-home input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}
.media-question-question {font-family: Quintus!important; font-size: calc(2vw + 2vh);line-height: 56px; color:#555556; text-align: center; margin-bottom: 20px;}
ul li {
    list-style-position: outside;
    margin-left: 1em;
    margin-bottom: 1em;
}


.media-service-question-block {border-top:1px solid #555556; margin-top:3%; padding-top:40px; padding-bottom:45px}

.media-question-answer{
    border: solid 2px;
    border-radius: 16px;
    padding: 10px;
}
.page-template-media-services-home .technology-blocks {
    background-color: #f1f1f1;}

 .social-box{
    margin-top: 40px;
}

.social-feeds{background-color:#ffe5ae; padding-bottom:30px; clear:both;}
.page-template-media-services-single input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}
.page-template-media-services-single .owl-carousel .owl-item img {
    display: block;
    width: 200px!important;
}

.page-template-media-services-single .owl-nav, .page-template-media-services-home .owl-nav{margin-left:30px}

.white-font h2, .white-font h1, .white-font h3, .white-font h4, .white-font h5, .white-font h6 {color:white!important}
.digital-footer a{color:white!important;}
.digital-footer a:hover{text-decoration: underline;}
a#thmlvCloseMenu{color: white!important;} 

/*media services block hide extra item*/
.page-id-3086 .advan-s{display:none;}
.page-id-3061 .airport-s{display:none;}
.page-id-3046 .billboard-s{display: none;}
.page-id-3055 .bus-s{display: none;}
.page-id-3278 .digital-s{display: none;}
.page-id-3072 .rail-s{display: none;}
.page-id-3066 .taxi-s{display: none;}
.page-id-3090 .print-s{display: none;}
.page-id-3094 .radio-2{display: none;}
.page-id-3099 .video-s{display: none;}
.page-id-5105 .london-s{display: none;}

.media-services-block{text-align:center; font-size:22px; margin-bottom:30px}

.social-share-set{
    clear: both;
}

.page-template-media-about input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}
.page-template-media-about .owl-prev{margin-left:10px;}

.case-studies-about-title{text-align:center;font-family: Quintus!important; font-size: calc(2vw + 1vh);line-height: 56px; color:#555556; text-align: center; margin-bottom: 20px; }
.case-summary{margin-bottom:10px;}


.case-title {
    font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: 30px;
    color: #f5464b;
    margin-bottom: 10px;
    margin-top: 30px;
}
.next-switch {
    clear: both;
    margin-left: 5%;
}
.people-control{clear:both}

.portfolio-template-default input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}


.portfolio-template-default .owl-prev {
    float: left;
    margin-right: 18px;
    margin-left: 10px;
}
.page-template-media-default input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}

.page-template-media-default .kc_column {padding-left: 0px; padding-right: 0px}

.media-services-icon img{max-width:200px;/* margin-left: auto; *//* margin-right:auto; */}
.media-services-icon {margin-left:auto; margin-right:auto; width:200px}
.media-services-title a{text-align:center;font-family: Quintus!important; font-size: calc(1.1vw + 1.3vh);line-height: 40px; color:#555556; text-align: center; margin-bottom: 20px;}
.media-services-title{text-align: center}


.media-services-feed {
    background-color: #f1f0f0;
    padding-bottom: 3%;
    padding-top: 3%; clear:both;
}

.our-clients-feed-title-2 {
    font-family: Quintus!important;
    font-size: calc(2vw + 3vh);
    line-height: normal;
    color: #555556;
    text-align: center;
    margin-bottom: 0%;
}

.clients-blocks-media{clear:both; margin-bottom: 60px; margin-top:40px;}

.media-client-title {
    font-family: Quintus!important;
    font-size: calc(2vw + 2vh);
    line-height: normal;
    color: #555556;
}
.media_clients-template-media-clients-single input[type=submit] {
    background-color: #fff!important;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f5464b;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.8em;
    -webkit-appearance: none;
    transition: background 0.2s ease-out 0s;
    -webkit-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    font-weight: 800;
    text-transform: uppercase;
    float: right;
}
.media-footer{background-color:  #f5464b; color:white; padding-top:20px; border-top:5px solid white; clear:both}
.media-footer a {color:white!important;}
.term-and-c {text-align:left!important; border-top:1px solid white;}

.footer-inner-media{padding-bottom:20px}
.media-footer-icons img{width:40px; margin-right:5px}
.media-footer-icons {text-align: center;}

#thmlvScrollMenuWrap {
    background-color: #f5464b!important;
    padding-bottom: 0.444em!important;
    padding-top: 0.666em!important;
    opacity: .8!important;
    background: #f5464b!important;
}
.media-scroll-menu .thmlvOpenMenu i {
    margin-top: 9px!important;
}

#thmlMainOpenMenu{ position: absolute;
    right: 2em;
    top: 1em;
    z-index: 999;
    padding-right: 25px }
#thmlvOverlayMenu{width:36%!important;}

/*media queries - */
@media all and (max-width: 610px) { .digital-news-inner {
    padding: 10px;

    margin-left: 34px;
    margin-right: 21px;
}

.digital-news-title-grid a {
    font-family: Quintus!important;
    font-size: calc(4vw + 2vh);
    line-height: normal;
    text-decoration: none;margin-top:25px;
}

.toggle.btn {
    max-width: 70px;
    max-height: 25px!important;
    height:28px!important;
}

.services-control-area {
    float: none;
}

}
/*end of queries*/
.media-service-image-2 {
    max-width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}
.media-fancy-text-2 a{
    font-family: Quintus!important;
    font-size: 1em;
    line-height: normal;
}
.sector-feed{text-align:center;}
.sector-feed a{text-align:center; font-family: Quintus!important;
    font-size: 2.5em; line-height:normal;}
.sector-title-top{font-size:2.2em;line-height:normal; text-align:left}
.sector-icon img{max-width:150px}



.left-pil{height:100%;width:50%;float:left;}
.right-pil{height:100%;width:50%; float:left}
.red-b{background-color:#f5464b;padding-top: 25%;padding-bottom: 25%;}
.green-b{background-color:#03464e;padding-top: 25%;padding-bottom: 25%;}
.white-b {background-color:white; padding-top: 25%;padding-bottom: 25%;}

.page-s{padding: 0px!important; margin:0px!important;}

@font-face {
    font-family: Quintus;  
    src: url(/wp-content/themes/north/fonts/Quintus_B_trial.otf);  
    font-weight: normal;  
}
