/*-----------------------------------------------------------------------------------*/
/*  *.  Global
/*-----------------------------------------------------------------------------------*/

/* Back To Link */

p#backtoblog {
  display: none;
}

/* Login Form */

.login form {
	background: none;
	box-shadow: none;
}

input[type=text], 
input[type=search], 
input[type=radio], 
input[type=tel], 
input[type=time], 
input[type=url], 
input[type=week], 
input[type=password], 
input[type=checkbox],
 input[type=color], 
 input[type=date], 
 input[type=datetime], 
 input[type=datetime-local], 
 input[type=email], 
 input[type=month], 
 input[type=number], 
 select, 
 textarea {
	box-shadow: none;
}

/* Remember Me Check */

.login form .forgetmenot {
    margin-top: 1em;
}

input[type=checkbox] {
	border-radius: 100%; 
	box-shadow: none; 
	border: 2px solid rgba(0,0,0,.12);
	padding: 3px 10px 17px !important;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear; 
}

input[type=checkbox]:hover {
	border: 2px solid rgba(0,0,0,.3); 
}

input[type=checkbox]:checked { 
	background: #3e3e3e !important; 
	border-color: transparent; 
}

input[type=checkbox]:checked:before { 
	color: #FFFFFF; 
	margin: -3px 0 0 -11px; 
}

input[type=checkbox]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=radio]:focus, 
input[type=search]:focus, 
input[type=tel]:focus, 
input[type=url]:focus, 
select:focus, 
textarea:focus { 
	border: 2px solid rgba(0,0,0,.12); 
	box-shadow: none; 
}

/* Buttons */

.wp-core-ui .button-primary {
    background: #222328;
    border: none;
    box-shadow: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;    
}

/* Misc 768PX */

@media (min-width: 768px) {	

	#login {
		width: 40em;
	}
	.wp-core-ui .button-primary {
		padding: 0 3em 3em !important;
		line-height: 2.8em !important;  
	}
	
}

@media (max-width: 768px) {	

	.wp-core-ui .button-primary {
		margin-top: .4em;  
	}

}