*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:9200px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px; height:100%;
}
.section{
    /*width:800px;*/
    float:left;
    
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;
   
    
}
.white{
    color:#fff;
    
}

.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}

#section1{margin-left:300px; height: 100%;  }
#section1 img{height:100%;}
#section2{background-color: white;color: black; height:100%; }
#section3{height:100%; }
#section3 img{height:100%;width:auto; }
#section4{background-color: white; color:black; height:100%;}

.nav.hor{position:absolute; top:80%;}

/*#section1:after {
  content: url('http://localhost:8888/wordy/wp-content/uploads/2017/10/swoosh-trans-3.png');
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  left: 16.5%;
  transform: translate(-50%, -50%) scale(0.9, 0.9);
  z-index:70; height:100vh;
}*/


p{font-size: 16px;}