/**
 * @license
 * MyFonts Webfont Build ID 3021871, 2015-05-07T05:42:09-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: NeuzeitGro-Bol by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-bold/
 * 
 * Webfont: NeuzeitGro-Lig by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-light/
 * 
 * Webfont: NeuzeitGroExt-Bla by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-black-extra-condensed/
 * 
 * Webfont: NeuzeitGro-Bla by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-black/
 * 
 * Webfont: NeuzeitGro-Reg by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-regular/
 * 
 * Webfont: NeuzeitGroCon-Bla by URW++
 * URL: http://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-black-condensed/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3021871
 * Licensed pageviews: 20,000
 * Webfonts copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
 * 
 * © 2015 MyFonts Inc
*/
/*@charset "UTF-8";

@import url("//hello.myfonts.net/count/2e1c2f");*/
 
 @font-face {
    font-family: "NeuzeitGro-Reg";
    src: url("/wp-content/themes/marvel-child/fonts/2E1C2F_4_0.eot");
    src: url("/wp-content/themes/marvel-child/fonts/2E1C2F_4_0.eot?#iefix") format("embedded-opentype"),url("/wp-content/themes/marvel-child/fonts/2E1C2F_4_0.woff2") format("woff2"),url("/wp-content/themes/marvel-child/fonts/2E1C2F_4_0.woff") format("woff"),url("/wp-content/themes/marvel-child/fonts/2E1C2F_4_0.ttf") format("truetype");
}
 @font-face {
    font-family:"Bodoni W01 Bold Italic_709608";
    src:url("/wp-content/themes/marvel-child/fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix");
    src:url("/wp-content/themes/marvel-child/fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix") format("eot"),url("/wp-content/themes/marvel-child/fonts/08e83c1e-cf78-4018-9e48-bdb35c1a4967.woff2") format("woff2"),url("/wp-content/themes/marvel-child/fonts/6f551fc0-4c6f-4ef0-b026-f1e148977a7b.woff") format("woff"),url("/wp-content/themes/marvel-child/fonts/32eb1298-d5c4-4112-a2f5-ee0ac5051b72.ttf") format("truetype"),url("/wp-content/themes/marvel-child/fonts/79868027-7d4d-452f-a701-80ad10720730.svg#79868027-7d4d-452f-a701-80ad10720730") format("svg");
}