/*-----------------------------------------------------------------------------------

	Theme Name: Marvel Child
 | Shared by VestaThemes.com
	Theme URI: https://visualmodo.com
	Author: Jared S Dias
	Author URI: https://visualmodo.com
	Description: <strong>Marvel Child Theme</strong> - <a href="https://visualmodo.com">https://visualmodo.com</a>. Follow us for update notifications:<br/> <a href='http://twitter.com/visualmodo'>Twitter</a><br/> | <a href='http://www.facebook.com/visualmodo'>Facebook</a>
	Template: marvel
	Version: 1.0.0
	Text Domain:  vslmd
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: translation-ready, threaded-comments, theme-options, sticky-post, post-formats, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background, fluid-layout

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

*/


/* --------------------------------------------
	Custom CSS
-------------------------------------------- */
.vertical-nav .vertical-header.navbar-default{
margin-top: 100px!important; margin-left: 60px;}


#page-wrapper{margin-top: 100px}

a.navbar-brand{display:none!important}

.vertical-nav .vertical-header {
    position: fixed;
    width: 196px!important;
    top: 0;
    left: 0px; 
    height: 100%;
    z-index: 2;
}

.vertical-nav .vertical-header .vertical-header-menu > li > a {
    padding: 10px 18px!important;
}


.vertical-nav #page-wrapper.wrapper{padding-left: 258px!important;padding-right: 61px!important;}



.vertical-nav .footer-background-image{padding-left:255px!important;}

.saracen-logo-main img{height: 90px; margin-left: 60px}
.saracen-logo-main{width:30%;;float:left;}




.saracen-services img{height:55px; float:right; margin-right: 60px}
.saracen-services {margin-top: 41px;}




.site-navigation a{font-size:30px; font-style:italic; text-transform:lowercase; color:white!important}


.site-navigation{font-family: bodoniflf;
    font-weight: 600;}

.dropdown-menu li a {margin: 0px!important; }


#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed; 
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 60px; z-index:100!important;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 30px; z-index:100!important;
    }
    #top { top: 0;     height: 100px;}
    #bottom { bottom: 0; }

    @media 

/* Fairly small screens including iphones */
only screen and (max-width: 767px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
  #left, #right { width:20px; }
  #bottom{height:20px;} #top{display: none;}
  .site-navigation{margin-left: 0px;}
  #page-wrapper {margin-top: 0px!important;}
  /*.slider-container img{height:100%!important; width:auto!important;}*/
  .fp-tableCell{display:block!important;}
  .slider-text-1,.slider-text-2,.slider-text-3,.slider-text-4{width: 81%!important;
    left: 17%!important;padding: 9px!important;padding-top: 100px;}
   
    .image-band{margin-top: 0px!important;}
    .page-id-82 .brand-default {
    height: 106px!important;
    position: absolute;
    top: 47px!important;
    right: 26px!important;

}
    .vertical-nav #page-wrapper.wrapper {
    padding-left: 20px!important; padding-right:20px!important;
}
.vertical-nav .footer-background-image{padding-left:20px!important;}
/*.navbar{margin-top:20px!important;}*/
.saracen-logo-main, .saracen-services{display:none;}
.image-band{height:100%!important;}
.yellow-band{ height:350px!important;}

.outter-column:before {
  content: url('http://localhost:8888/wordy/wp-content/uploads/2017/10/swoosh-trans-3.png');
  position: absolute;
  background-repeat: no-repeat;
  top:1px;
  left: 0px;
  transform: translate(-15%, -30%) scale(0.4, 0.4)!important;
  z-index:10;
}
.outter-column:after{display:none}

}

.yellow-band{ height:100vh; background-color:#FBCE27;}

.image-band{ height:100vh; background-color:black; padding-left:0px!important; overflow: hidden;}

/*.page-id-82 #page-wrapper.wrapper {padding-left:0px!important;}*/

/*.page-id-82 .vertical-header{display: none;}*/

/*.inner-column-b{padding:18%}*/

.home-page-menu{list-style:none; font-family: bodoniflf;
     font-style:italic; text-transform:lowercase;
letter-spacing: 2px; z-index: 100!important;
    position: relative;}

.home-page-menu a {color:white;}

.image-band img{height:100vh}

.fp-controlArrow{top:80%!important;}


.outter-column:after {
  content: url('http://localhost:8888/wordy/wp-content/uploads/2017/10/swoosh-trans-3.png');
  position: absolute;
  background-repeat: no-repeat;
  top: 47%;
  left: 80%;
  transform: translate(-50%, -50%) scale(0.8, 0.78);
  z-index:70;
}


/*sebastiens page sideways*/

.slider-container{max-width:100%; overflow:hidden!important; position:relative;}
.slider-container img{height:100vh;width:auto;}

.slider-text-1 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-2 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 67%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-3 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 20%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-4 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 50%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-page-text{width:300px; margin-left:auto;margin-right:auto}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fbce20  transparent transparent!important;
}
.fp-controlArrow.fp-next {
    right: 46px!important;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #040404!important;
}

.btn.btn-default.GT{
    color: white;
    background-color: transparent;
    font-family: bodoniflf;
    font-size: 32px;
    margin-left: 43px;
    text-transform: lowercase;
    padding: 0px 10px 0px 10px;
}

.widget-area.vertical-header-widget-area{position:absolute; bottom:35px}




.page-id-82  .navbar-nav > li {float:none!important}
.page-id-82 .menu-item-9{display:none!important}
.page-id-82 .home-page-menu a {
    font-size: 4em;
    font-style: italic;
    text-transform: lowercase;
    color: white!important;
    line-height: initial;
}
.page-id-82 .home-page-menu {
    margin-top: 144px;
    margin-left: 176px;
}
.page-id-82 .home-page-menu .dropdown-menu a{font-size:25px!important}
.page-id-82 .brand-default {height: 144px;
    position: absolute;
    top: 67px;
    right: 77px; z-index: 100;
}
.page-id-82 .navbar-header{float:none!important;}
.page-id-82 #main-menu-hp .fa {
    display: none;
}

.page-id-82 .home-page-menu a:hover {background-color:transparent!important;}

.wpb-js-composer .wrapper#page-wrapper {
    padding: 30px;
}
.news-day{
    background-color: #fbce20 ;
    text-align: center;
    font-size: 40px;}

.news-month{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px; font-family: bodoniflf;
}
.news-year{
    background-color: #fbce20 ;
    text-align: center; font-size: 18px;
}
.news-right .right-inner img{width:100%; height:auto;}
.news-body-inner img{ width:400px!important;}
.news-body-inner .alignleft {margin-right: 15px;}
.news-body-inner .alignright  {margin-left: 15px;}

.page-id-82.wpb-js-composer .wrapper#page-wrapper {
    padding-top: 0px!important;
}



/*news layout testing*/
#primary.col-md-12.content-area{padding-left:0px!important; padding-right:0px!important}
#content{padding-left:0px!important;padding-right:0px!important}

.news-left{
   
    background-color: #fbce20;
    min-height: 100%;
}


.table-container {
  display: table;
}

.table-container .table-row {
  height: 100%;
  display: table-row;
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.container.table-container{padding-left: 0px;padding-right: 0px;}

.news-article .news-summary h1{
    font-size: 33px;
    color: white; padding-left: 10px;
}


.single-news_article #page-wrapper {
    padding-bottom:0px!important;
}


.single-news_article .news-summary{
    padding-top: 17%;
    padding-bottom: 24%;
}

.social-share.me{color:white;}
.social-share.me i {margin-right:20px}


.news-body-inner{
    padding-left: 20px;
    padding-right: 20px;padding-bottom: 20px;
}

/*news article loop*/
.news-post-article img {
    width: 100%;
    height: auto;
}
.news-post-article.item{background-color:white;     max-width: 530px; min-width: 530px;
    height: auto;}
.news-feed{ width:100%;height:100%; overflow:hidden}

.news-date-area-l {
    float: left;
    border-right: 2px solid;
    padding-right: 8px; font-family: bodoniflf; font-style: italic; font-weight:bold;
}
.news-bottom {
    padding: 20px;
}

.news-post-article .news-title{
    margin-left: 20%;
}


.page-template-archive-news_article .wrapper#page-wrapper{ background-color: #efd05a78 }
.news-post-article.item.theta-carousel-element .news-summary-side{padding:10px;}

/*.news-post-article.item.theta-carousel-element.theta-current-item .news-summary-side{display:block!important; position: absolute;left: -675px; top:10px; width:300px; font-size:25px}
.theta-carousel-inner-container {overflow:visible!important;}
.news-summary-side{display:none;}*/

.summary-holder{height:100vh!important; background-color:#fbce20d1;    margin-bottom: -36px;}


.summary-holder:after {
  content: url('http://localhost:8888/wordy/wp-content/uploads/2017/10/swoosh-trans-3.png');
  position: absolute;
  background-repeat: no-repeat;
  top: 47%;
  left: 75%;
  transform: translate(-50%, -50%) scale(1, 1);
  z-index:-10;
}

.news-day-l, .news-year-l{font-size:25px;line-height:inherit}

.page-template-archive-news_article .news-title a {color:black!important; font-size:40px}

@media all and (max-width: 866px) {.theta-carousel-inner-container{ transform: translate3d(0px, 0px, 1000px) scale(0.7)!important;
     }
.news-date-area-l{float: none!important;} .news-title{margin-left: 0px!important;} .news-summary-side{width:100%!important;}
 .news-day-l{float:left; margin-right: 10px;} .news-post-article.item{max-width:500px!important;}
.news-post-article img{max-width: 100%!important;} .news-feed {
    width: 100%;
    height: 587px;   }.summary-holder{height:550px!important;}
  }

 @media all and (max-width: 566px) {.theta-carousel-inner-container{ transform: translate3d(0px, 0px, 1000px) scale(0.7)!important;
     }
.news-date-area-l{float: none!important;} .news-title{margin-left: 0px!important; width:350px;} .news-summary-side{width:100%!important;}
 .news-day-l{float:left; margin-right: 10px;} .news-post-article.item{max-width:350px!important;}
.news-post-article img{max-width: 100%!important;} .news-feed {
    width: 100%;
    height: 100%;   }.summary-holder{height:450px!important;}
  } 


.page-template-archive-news_article .summary-holder h1 {color:white!important;margin-top:25%}
.page-template-archive-news_article .summary-holder p {color:white!important}

.news-post-article.col-xs-12{padding-left: 0px;
    padding-right: 0px;}
.news-post-article.mobile{display: none;}


    @media (max-width:800px) {
    .news-feed {
        display:none !important;
    }
    .news-post-article.mobile{display:block!important;}
}


/*news article mobile*/
.news-post-article.mobile{background-color:white; margin-bottom:20px}
.news-post-article.mobile .news-date-area-l {
    float: none!important;
    border-right: 2px solid;
    padding-right: 8px;
    font-family: bodoniflf;
    font-style: italic;
    font-weight: bold;
}
.page-template-archive-news_article .news-post-article.mobile .news-title a {
    color: black!important;
    font-size: 35px; margin-left:8px
}
.news-post-article.mobile .news-summary-side{padding:10px}
.news-post-article.mobile .news-day-l,.news-post-article.mobile .news-year-l {
    font-size: 18px;
    line-height: inherit;
}

.news-post-article.mobile .news-title {
    margin-left: 0px!important;
    
}

/*individual case studies*/

.case-study{margin-left: 0px; padding-left:0px;}

.swooshy img{height:100vh;overflow:hidden;}
.case-study-body-inner .case-study-video iframe{width:100%;}

.quick-links {
    /*position: absolute!important;
    top: 100%;
    left: 27%;*/
    font-size: 30px;
    color: white;
    font-family: bodoniflf;
    font-style: italic;
    text-decoration: none;
    list-style: none;
        margin-left: 29%;
}

.parameters{
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 5px;
    font-size: 18px;
}
.quick-links a{color:white;}
.case-study-hero-slider.col-md-12{padding-left:0px; padding-right:0px;}


.flexslider {max-height: 100vh!important; margin:0px!important; border:0px!important;}

.col-container.swoosh-background, .col-container.case-study-intro{position:absolute; top:0px;left:-15px}
.swoosh-background img{height:100vh}
.case-study-intro{padding:25px; color:white}
.col-intro{width:27%; font-size: 1.2em;}
.col-quicklinks{width:100%}


@media all and (max-width: 1677px) { 


.col-container.swoosh-background, .col-container.case-study-intro{position: initial; clear: both; background-color: #fbce20;     padding: 20px 20px 20px 40px}
.col-container.swoosh-background{display: none;}
.col.col-intro {width:100%;}
.case-study-intro{padding:0px;}
.col-quicklinks.quick-links{width:100%; margin-left: 0px;}
.flexslider {
    max-height: 100%!important;
    margin: 0px!important;
    border: 0px!important;
}
flexslider .slides img {
    height: auto!important; width:100%!important;
}

 }

.single-case_study .vertical-nav .footer-background-image{padding-left:0px!important}
.case-study-footer{clear:both;}

/*.flexslider .slides img {
    height: 100vh;
}*/

.address-item {padding:60px; text-align: center;}
.contact-details{text-align: center;}


.quote-area{
    margin-top: -133px;
    width:850px;
    margin-left:auto;margin-right:auto;
}

.slick-slide img{    display: block; height:100vh;width:100%}

//.grid-item { width: 400px;height:auto }
//.grid-item--width2 { width: 400px; }

//.grid-item img{width:100%; height:auto}
//.grid-item.odd{width:550px;height:auto}


.grid-item {
  float:left;
  
}

.grid-item.odd{ width: 30%; }
.grid-item.odd img{width:100%;height:auto; padding:5px; margin-bottom:10px}
.grid-item.even { width: 30%; }
.grid-item.even img { width:100%; height: auto; padding:5px; margin-bottom:10px }
.gallery-container{height:90%;width:90%; padding:30px; display: block;}
.video-container{width:90%; margin-left:auto;margin-right:auto; margin-top:-130px}
.fagsfacf-gallery-slider .slick-arrow {
    top: 83%;
}

.fagsfacf-gallery-slider button.slick-arrow, .fagsfacf-gallery-carousel button.slick-arrow {
    width: 58px;
    cursor: pointer !important;
    height: 83px;
    position: absolute;
    z-index: 9;
    text-indent: -99999px;
    border: 0px !important;
    padding: 20px 15px !important;
    text-align: center;
    margin: 0px !important;
    border-radius: 0px !important;
}

.enquiry-form-case-study{color:white;}


