/*-----------------------------------------------------------------------------------

	Theme Name: Marvel Child
 | Shared by VestaThemes.com
	Theme URI: https://visualmodo.com
	Author: Jared S Dias
	Author URI: https://visualmodo.com
	Description: <strong>Marvel Child Theme</strong> - <a href="https://visualmodo.com">https://visualmodo.com</a>. Follow us for update notifications:<br/> <a href='http://twitter.com/visualmodo'>Twitter</a><br/> | <a href='http://www.facebook.com/visualmodo'>Facebook</a>
	Template: marvel
	Version: 1.0.0
	Text Domain:  vslmd
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: translation-ready, threaded-comments, theme-options, sticky-post, post-formats, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background, fluid-layout

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

*/


/* --------------------------------------------
	Custom CSS
-------------------------------------------- */

a.navbar-brand img{max-width:200px}
.vertical-nav .vertical-header .dropdown-menu {
    border: none;
    top: 40px!important;
    left: 40px!important;
}


.site-navigation{font-family: bodoniflf;
    font-weight: 600; line-height: normal;}
.site-navigation a {
    font-size:2em;
    font-style: italic;
    text-transform: lowercase;
    color: white!important; margin-bottom:15px;
    
}
.page-id-91 .row{margin-right: 0px!important; margin-left:0px!important;}

.dropdown-menu{background-color: black!important; position: unset!important; float: none!important;padding: 10px 29px!important;} 

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: black!important;
}
.navbar-inverse {
    background-color: black!important;
    border-color: black!important;
}

.vertical-nav .vertical-header nav.site-navigation div.navbar .navbar-nav {
    margin: 55px 0!important;
}

.image-band{height:100%!important;}
.yellow-band{ height:350px!important;}

/*.outter-column:before {
  content: url('/wp-content/uploads/bits/swoosh-trans-3.png');
  position: absolute;
  background-repeat: no-repeat;
  top:90px;
  left: 30px;
  transform: translate(0%,0%) scale(1, 1)!important;
  z-index:10;
  height:100vh
}*/
.outter-column:after{display:none}

.yellow-band{height:100vh!important;background-color: #fbce27; background-image: url("/wp-content/uploads/bits/swoosh-trans-3.png");
background-repeat:no-repeat; background-size:cover

}

.image-band{ height:100vh; background-color:black; padding-left:0px!important; overflow: hidden;}
.inner-column-b{
    /*position: relative;
    z-index: 100; padding: 35px;    margin-top: 24%;*/ margin-top: 184px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
/*.saracen-services{
    position: absolute;
    top: 33px;
    z-index: 100;
    right: 0px;
}*/
.saracen-services {
    position: absolute;
    top: -1px;
    z-index: 100;
    right: 0px;
    
    padding: 30px;
}

#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed; 
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 60px; z-index:100!important;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 30px; z-index:100!important;
    }
    #top { top: 0;     height: 100px;}
    #bottom { bottom: 0; }

.page-id-91 h1 {
    color: white;
    font-size: 3.8em;
    line-height: normal;
}
.saracen-services img{width:200px; margin-right:30px;}
.dropdown-menu li a{font-size:28px}
.vertical-header-widget .fa{color: white!important}
.vertical-header-widget .vslmd-widget-container{
    position: absolute;
    bottom: 75px;
}
.get-in-touch {
    position: fixed;
    left: -77px;
    background-color: #FBCE27;
    z-index: 999999;
    top: 50%;
    font-size: 1.5em;
    padding: 4px 12px 5px 12px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: black;
    font-weight: 600;
    border-radius: 10px;
}
.wrapper-footer{background-color: black!important;}

.dropdown-menu>li>a {
    display: block;
    padding: 0px 19px!important;
    clear: both;
    font-weight: 400;
    line-height: 25px!important;
    color: #333;
    white-space: nowrap;
}


/*home-2*/

.page-id-111 .vertical-nav .vertical-header {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    margin-left: 58px;
}
.page-id-111 a.navbar-brand{display:none!important}
.page-id-111 .inner-column-b {
    /*position: relative;
    z-index: 100;
    padding: 30px;
    margin-top: 55%;
    margin-left: 0px;*/ margin-top:130px;
}
/*.page-id-111 .outter-column:before {
    content: url(/wp-content/uploads/bits/swoosh-trans-3.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 90px;
    left: 75px;
    transform: translate(0%,0%) scale(1, 1)!important;
    z-index: 10;
    height: 100vh;
}*/
.page-id-111 h1 {
    color: white;
    font-size: 3.8em; line-height: normal;
}
 .page-id-111 .row{
    margin-left: 56px;
}

.page-id-111 .saracen-services {
    position: absolute;
    top: -8px;
    z-index: 100;
    right: 0px;
    padding: 30px;
}
.page-id-111 .vertical-nav .vertical-header nav.site-navigation div.navbar .navbar-nav {
    margin: 75px 0!important;
}
.sar-top-logo img{width:230px;}
.sar-top-logo{position:fixed; top:10px;left:60px; z-index:999999}

/*sebs slider page*/
.slider-container{max-width:100%; overflow:hidden!important; position:relative;}
.slider-container img{height:100vh;width:auto;}

.slider-text-1 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-2 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 67%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-3 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 20%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-4 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 30%;
    left: 50%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-page-text{width:300px; margin-left:auto;margin-right:auto}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fbce20  transparent transparent!important;
}
.fp-controlArrow.fp-next {
    right: 46px!important;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #040404!important;
}

/*defualt pag*/
.content-column{background-color: white; margin-top: 130px;padding-left: 60px!important; padding-right: 60px!important;}
.full-height-image-column{background-repeat:no-repeat;
background-size:cover; 
height:100%; background-position: left;
}
.page-template-saracen-default .container{padding:0px;}
.page-template-saracen-default #primary{padding:0px}
.col-holder{padding-left:0px!important; padding-right:0px}

@media (min-width: 1501px)
{
.vertical-nav #page-wrapper.wrapper .container, .vertical-nav #single-wrapper .container, .vertical-nav #woocommerce-wrapper .container, .vertical-nav #wrapper-index.wrapper .container, .vertical-nav .footer-background-image .wrapper-footer .container, .vertical-nav .header-presentation .hp-background-color .container {
    width: 100%!important; 
}
}

.fancy-text-yellow{font-size:1.8em; line-height:normal; color:#fbce20; font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}

.heading-7 {font-size:30px ;font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}   


.page-template-saracen-default .row{margin-left: 0px; margin-right: 0px;}
.full-height-image-column {
  margin-left: 0px;
  -webkit-transition: margin 4s ease;
     -moz-transition: margin 4s ease;
       -o-transition: margin 4s ease;
      -ms-transition: margin 4s ease;
          transition: margin 4s ease;
}
 
.full-height-image-column:hover {
  margin-left: -400px;
}
.get-in-touch-title{text-align:center; font-size:38px ;font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}

.get-in-touch-inner{width:80%; margin-left:auto; margin-right:auto;}
.get-in-touch-form-outter{padding-top: 38px; padding-bottom: 30px; line-height: normal;}
.get-in-touch-inner-services{width:50%; margin-left:auto; margin-right:auto;}
.get-in-touch-form-outter-type-services {padding-top: 38px; padding-bottom: 30px; line-height: normal;}
.content-column{
    z-index: -1;
}

.wpcf7 .wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-range):not(.wpcf7-checkbox):not(.wpcf7-radio):not(.wpcf7-acceptance):not(.wpcf7-file) {
    color: #555;
    background-color: #fff;
    border: 1.4px solid black!important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.get-in-touch-title-services {
    width:50%; margin-left:auto;margin-right:auto;
    font-size: 54px;
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 10px;color: black;
    
}
.get-in-touch-submit{width:150px; float:right;}
.get-in-touch-submit input[type=submit].wpcf7-submit {background-color: black; color:white; border:none; padding:10px}

.get-in-touch-services-number, .get-in-touch-services-mail { width:50%; margin-left:auto;margin-right:auto; font-size: 34px;
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 800;
    
    }

.get-in-touch-services-mail{margin-bottom: 20px;}
/*case studies*/

.case-study{margin-left: 0px; padding-left:0px;}

.swooshy img{height:100vh;overflow:hidden;}
.case-study-body-inner .case-study-video iframe{width:100%;}

.quick-links {
    /*position: absolute!important;
    top: 100%;
    left: 27%;*/
    font-size: 30px;
    color: white;
    font-family: bodoniflf;
    font-style: italic;
    text-decoration: none;
    list-style: none;
        margin-left: 29%;
}

.parameters{
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 5px;
    font-size: 18px;
}
.quick-links a{color:white;}
.case-study-hero-slider.col-md-12{padding-left:0px; padding-right:0px;}


.flexslider {max-height: 100vh!important; margin:0px!important; border:0px!important;}

.col-container.swoosh-background, .col-container.case-study-intro{position:absolute;top:0px;left: -45px;}
.swoosh-background img{height:100vh}
.case-study-intro{padding:25px; color:white}
.col-intro{width:27%; font-size: 1.2em;}
.col-quicklinks{width:100%}


@media all and (max-width: 1677px) { 


.col-container.swoosh-background, .col-container.case-study-intro{position: initial; clear: both; background-color: #fbce20;     padding: 20px 20px 20px 40px}
.col-container.swoosh-background{display: none;}
.col.col-intro {width:100%;}
.case-study-intro{padding:0px;}
.col-quicklinks.quick-links{width:100%; margin-left: 0px;}
.flexslider {
    max-height: 100%!important;
    margin: 0px!important;
    border: 0px!important;
}
flexslider .slides img {
    height: auto!important; width:100%!important;
}

 }

.single-case_study .vertical-nav .footer-background-image{padding-left:0px!important}
.case-study-footer{clear:both;}

/*.flexslider .slides img {
    height: 100vh;
}*/

.address-item {padding:60px; text-align: center;}
.contact-details{text-align: center;}


.quote-area{
    margin-top: -133px;
    width:850px;
    margin-left:auto;margin-right:auto;
}

.slick-slide img{    display: block; height:100vh;width:100%}

//.grid-item { width: 400px;height:auto }
//.grid-item--width2 { width: 400px; }

//.grid-item img{width:100%; height:auto}
//.grid-item.odd{width:550px;height:auto}


.grid-item {
  float:left;
  
}

.grid-item.odd{ width: 30%; }
.grid-item.odd img{width:100%;height:auto; padding:5px; margin-bottom:10px}
.grid-item.even { width: 30%; }
.grid-item.even img { width:100%; height: auto; padding:5px; margin-bottom:10px }
.gallery-container{height:90%;width:90%; padding:30px; display: block;}
.video-container{width:90%; margin-left:auto;margin-right:auto; margin-top:-130px}
.fagsfacf-gallery-slider .slick-arrow {
    top: 83%;
}

.fagsfacf-gallery-slider button.slick-arrow, .fagsfacf-gallery-carousel button.slick-arrow {
    width: 58px;
    cursor: pointer !important;
    height: 83px;
    position: absolute;
    z-index: 9;
    text-indent: -99999px;
    border: 0px !important;
    padding: 20px 15px !important;
    text-align: center;
    margin: 0px !important;
    border-radius: 0px !important;
}

.enquiry-form-case-study{color:white;}
.case_study-template-single-case-study .container{padding-right:0px}
.case_study-template-single-case-study #primary{padding-right:0px; margin-right:0px}



