/*-----------------------------------------------------------------------------------

	Theme Name: Marvel Child
 | Shared by VestaThemes.com
	Theme URI: https://visualmodo.com
	Author: Jared S Dias
	Author URI: https://visualmodo.com
	Description: <strong>Marvel Child Theme</strong> - <a href="https://visualmodo.com">https://visualmodo.com</a>. Follow us for update notifications:<br/> <a href='http://twitter.com/visualmodo'>Twitter</a><br/> | <a href='http://www.facebook.com/visualmodo'>Facebook</a>
	Template: marvel
	Version: 1.0.0
	Text Domain:  vslmd
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: translation-ready, threaded-comments, theme-options, sticky-post, post-formats, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background, fluid-layout

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

*/


/* --------------------------------------------
	Custom CSS
-------------------------------------------- */

a.navbar-brand img{max-width:200px}
.vertical-nav .vertical-header .dropdown-menu{left:307px!important;}
.site-navigation{font-family: bodoniflf;
    font-weight: 600; line-height: normal;}
.site-navigation a {
    font-size:2em;
    font-style: italic;
    text-transform: lowercase;
    color: white!important; margin-bottom:15px;
    
}
.dropdown-menu {
    position: absolute;
    top: -18px!important;
    left: 0;
    z-index: 9;
 
    float: left;
    min-width: 307px!important;
    padding: 41px 44px!important;
    margin: 7px;
    list-style: none;
   
    text-align: left;
    background-color: #fff;
  
}
.dropdown-menu a{color: white!important}
.dropdown-menu{border:solid 2px black!important; background-color: black!important;}
.page-id-91 .row{margin-right: 0px!important; margin-left:0px!important;}

 

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: black!important;
}
.navbar-inverse {
    background-color: black!important;
    border-color: black!important;
}

.vertical-nav .vertical-header nav.site-navigation div.navbar .navbar-nav {
    margin: 55px 0!important;
}

.image-band{height:100%!important;}
.yellow-band{ height:350px!important;}
.outter-column:after{display:none}

.yellow-band{height:100vh!important;background-color: #fdd94e; background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png");
background-repeat:no-repeat; background-size:cover; background-position: center;}
.image-band{ height:100vh; background-color:black; padding-left:0px!important; overflow: hidden;}
.inner-column-b{
    margin-top: 184px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.saracen-services {
    position: absolute;
    top: -19px;
    z-index: 100;
    right: 0px;
    padding: 24px;
}
#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed; 
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 60px; z-index:100!important;
    }
    #left { left: 0; }
    #right { right: 0; }   
  #top, #bottom {
    left: 0; right: 0;
    height: 30px; z-index:100!important;
    }
    #top { top: 0;     height: 100px;}
    #bottom { bottom: 0; }
.page-id-91 h1 {
    color: white;
    font-size: calc(2.2vw + 1.3vh);
    line-height: normal;
}
.saracen-services img{width:115px; margin-right:30px;}
.dropdown-menu li a{font-size:28px}
.vertical-header-widget .fa{color: white!important}
.vertical-header-widget .vslmd-widget-container{
    position: absolute;
    bottom: 75px;
}
.get-in-touch {
    position: fixed;
    left: 35px;
    background-color: #FBCE27;
    z-index: 999999;
    top: 93%;
    font-size: 1.7em;
    padding: 10px 18px 10px 18px;  
    color: black;
    font-weight: 600;
    border-radius: -3px;
}
.wrapper-footer{background-color: black!important;}
.dropdown-menu>li>a {
    display: block;
    padding: 0px 19px!important;
    clear: both;
    font-weight: 400;
    line-height: 25px!important;
    color: #333;
    white-space: nowrap;
}
/*home-2*/

.page-id-111 .vertical-nav .vertical-header {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    margin-left: 58px;
}
.page-id-111 a.navbar-brand{display:none!important}
.page-id-111 .inner-column-b {
    margin-top:130px;
}

.page-id-111 h1 {
    color: white;
    font-size: 3.8em; line-height: normal;
}
 .page-id-111 .row{
    margin-left: 56px;
}

.page-id-111 .saracen-services {
    position: absolute;
    top: -8px;
    z-index: 100;
    right: 0px;
    padding: 30px;
}
.page-id-111 .vertical-nav .vertical-header nav.site-navigation div.navbar .navbar-nav {
    margin: 75px 0!important;
}
.sar-top-logo img{width:230px;}
.sar-top-logo{position:fixed; top:10px;left:60px; z-index:999999}

/*sebs slider page*/
.slider-container{max-width:100%; overflow:hidden!important; position:relative;}
.slider-container img{height:100vh;width:auto;}
.page-template-services-test .vertical-nav .footer-background-image{padding-left: 0px!important}

.slider-text-1 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 35%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-2 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 35%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-3 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 35%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-text-4 {
    position: absolute;
    z-index: 100;
    background-color: #ffffffdb;
    width: 35%;
    left: 56%;
    top: 0px;
    height: 100vh;
    padding: 30px;padding-top: 200px;
    
}
.slider-page-text{width:300px; margin-left:auto;margin-right:auto}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fbce20  transparent transparent!important;
}
.fp-controlArrow.fp-next {
    right: 46px!important;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #040404!important;
}

/*defualt pag*/
.content-column{background-color: white; margin-top: 50px;padding-left: 60px!important; padding-right: 60px!important;}
.full-height-image-column{background-repeat:no-repeat;
background-size:cover; 
height:100%; background-position: left;
}
.page-template-saracen-default .container{padding:0px;}
.page-template-saracen-default #primary{padding:0px}
.col-holder{padding-left:0px!important; padding-right:0px}


/*news single */
.content-column-news{background-color: white; margin-top: 30px;padding-left: 60px!important; padding-right: 60px!important;}
.full-height-image-column-news{background-repeat:no-repeat;
background-size:cover; 
height:100%; background-position: left;
}
.news_article-template-news-single .container{padding:0px;}
.news_article-template-news-single #primary{padding:0px}
.col-holder-news{padding-left:0px!important; padding-right:0px!important}

.full-height-image-column-news{background-color:#fdd94e; }
.news-date-top{color:#fbce20;font-size: 1.7em;
    line-height: normal;
    font-family: bodoniflf;
    font-style: italic;     margin-top: 28px;
    margin-bottom: 12px;}
.news-primary-row{border-bottom: solid 1px; margin-bottom:20px}

.news-headline, .news-date-top, .news-primary-row{margin-left: 0px!important; margin-right: 0px!important; padding-left: 0px!important; padding-right: 0px!important;}
.news_article-template-news-single .row{margin-right: 0px!important; margin-left:0px!important;}

.news-hero{padding-left:0px!important; padding-right:0px!important;}
.news-hero img{width:100%; height:auto;}

.blog-image img{width:100%; height:auto;}
.fancy-text-yellow{font-size:1.8em; line-height:normal; color:#fbce20; font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}

.heading-7 {font-size:30px ;font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}   
.page-template-saracen-default .row{margin-left: 0px; margin-right: 0px;}
.full-height-image-column {
  margin-left: 0px;
  -webkit-transition: margin 4s ease;
     -moz-transition: margin 4s ease;
       -o-transition: margin 4s ease;
      -ms-transition: margin 4s ease;
          transition: margin 4s ease;
}
.full-height-image-column:hover {
  margin-left: -400px;
}
.get-in-touch-title{text-align:center; font-size:38px ;font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 500; margin-bottom: 10px;}

.get-in-touch-inner{width:80%; margin-left:auto; margin-right:auto;}
.get-in-touch-form-outter{padding-top: 38px; padding-bottom: 30px; line-height: normal;}
.get-in-touch-inner-services{width:50%; margin-left:auto; margin-right:auto;}
.get-in-touch-form-outter-type-services {padding-top: 38px; padding-bottom: 30px; line-height: normal;}
.content-column{
    z-index: -1;
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-range):not(.wpcf7-checkbox):not(.wpcf7-radio):not(.wpcf7-acceptance):not(.wpcf7-file) {
    color: #555;
    background-color: #fff;
    border: 1.4px solid black!important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.get-in-touch-title-services {
    width:50%; margin-left:auto;margin-right:auto;
    font-size: 54px;
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 10px;color: black;
    
}
.get-in-touch-submit{width:150px; float:right;}
.get-in-touch-submit input[type=submit].wpcf7-submit {background-color: black; color:white; border:none; padding:10px}
.get-in-touch-services-number, .get-in-touch-services-mail { width:50%; margin-left:auto;margin-right:auto; font-size: 34px;
    font-family: bodoniflf!important;
    font-style: italic;
    font-weight: 800;
    
    }
.get-in-touch-services-mail{margin-bottom: 20px;}
/*case studies*/
.case-study{margin-left: 0px; padding-left:0px;}
.swooshy img{height:100vh;overflow:hidden;}
.case-study-body-inner .case-study-video iframe{width:100%;}
.quick-links {
    /*position: absolute!important;
    top: 100%;
    left: 27%;*/
    font-size: 30px;
    color: white;
    font-family: bodoniflf;
    font-style: italic;
    text-decoration: none;
    list-style: none;
    text-align: right;
}
.parameters{
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 5px;
    font-size: 18px;
}
.quick-links a{color:white;}
.quick-links li{margin-bottom: 15px;}
.case-study-hero-slider.col-md-12{padding-left:0px; padding-right:0px;}
.flexslider {max-height: 100vh!important; margin:0px!important; border:0px!important;}
.col-container.swoosh-background, .col-container.case-study-intro{position:absolute;top:0px;left: -45px;}
.swoosh-background img{height:100vh}
.case-study-intro{padding:25px; color:white}
.col-intro{width:27%; font-size: 1.2em;}
.col-quicklinks{width:100%; margin-top: 40%; margin-bottom: 30%;}
.yellow-col-pages{font-size:0.8em}
.single-case_study .vertical-nav .footer-background-image{padding-left:0px!important}
.case-study-footer{clear:both;}
.address-item {padding:60px; text-align: center;}
.contact-details{text-align: center;}
.quote-area{
    margin-top: -133px;
    width:850px;
    margin-left:auto;margin-right:auto;
}
.page-template-saracen-default .content-column{z-index:0;}
.page-template-saracen-default .col-holder{z-index:10;}
.vertical-nav .vertical-header {z-index: 100!important;}
.slick-slide img{    display: block; height:100vh;width:100%}

//.grid-item { width: 400px;height:auto }
//.grid-item--width2 { width: 400px; }

//.grid-item img{width:100%; height:auto}
//.grid-item.odd{width:550px;height:auto}
.grid-item {
  float:left;
  
}
.grid-item.odd{ width: 30%; }
.grid-item.odd img{width:100%;height:auto; padding:5px; margin-bottom:10px}
.grid-item.even { width: 30%; }
.grid-item.even img { width:100%; height: auto; padding:5px; margin-bottom:10px }
.gallery-container{height:70%;width:90%; padding:30px; display: block;}
.video-container{width:90%; margin-left:auto;margin-right:auto; margin-top:-130px}
.fagsfacf-gallery-slider .slick-arrow {
    top: 83%;
}
.fagsfacf-gallery-slider button.slick-arrow, .fagsfacf-gallery-carousel button.slick-arrow {
    width: 58px;
    cursor: pointer !important;
    height: 83px;
    position: absolute;
    z-index: 9;
    text-indent: -99999px;
    border: 0px !important;
    padding: 20px 15px !important;
    text-align: center;
    margin: 0px !important;
    border-radius: 0px !important;
}

.enquiry-form-case-study{color:white;}
.case_study-template-single-case-study .container{padding-right:0px; padding-left: 0px}
.case_study-template-single-case-study #primary{padding-right:0px; margin-right:0px; padding-left: 0px; margin-left: 0px;}
.case_study-template-single-case-studies-two .container{padding-right:0px; padding-left:0px}
.case_study-template-single-case-studies-two #primary{padding-right:0px; margin-right:0px; padding-left:0px}
.image-holder{height:100vh; width:100%; background-size:cover; background-repeat: no-repeat;
 background-position:bottom left;
}
.contact-cs-box {background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center }
.left-column-cs{background-color:#fdd94e; height:100vh;  background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center }
.left-column-cs{margin-left:15px; color: white;}
.right-column-cs{margin-left: -15px}
.section{background-size: cover;}
.main-body-text-cs{background-color:#ffffff; opacity:.93; padding:40px; margin:0px;}
.utube-image img{width:100%}
.video-holder-cs{margin-top: 168px;}
.left-address-box{background-color: #fdd94e; height:100vh; }
.bold-title{font-size:1.6em; line-height:normal;}
.address-text{color:white; font-size:.8em; padding:10px}
.left-inner-address{padding:30px;     margin-top: 105px;}
.address-row-top{margin-top:150px}
.case_study-template-single-case-study .site-info.bottom-footer{display: none;}
.left-inner-cs{padding-top: 33px;}
.cs-footer {padding-left:0px!important; padding-right:0px!important}
.address-fancy{font-family: bodoniflf; font-style: italic; font-size: 1em;}
.address-row-top{margin-bottom: 78px;}
.address-bottom-box{margin-top: 30px}
.form-holder-cs{margin-top: 168px}
.cs-footer {margin-top: 54px;}
.right-column-cs{padding-right:0px!important}
.quote-body-text{font-size: 2.5em; line-height: normal; font-family: bodoniflf; font-style: italic;}
.quote-by-text{font-size: 1.5em; margin-top: 20px; line-height: normal;}
.quote-inner{padding: 75px;}
.case_study-template-single-case-study .row {margin-left: -15px;margin-right: 0px!important;}
.get-in-touch-title-services, .get-in-touch-services-number a, .get-in-touch-services-mail a{color: white}
/*case studies feed*/
.cs-image-main img{width:100%}
.case-post-article{max-width:550px;background-color:white; padding:10px}
.page-template-case-studies-feed{background-color:#fbce2040; }
.cs-title-feed {
    font-size: 1.2em;
    line-height: normal;
    font-family: bodoniflf;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-open .modal {z-index: 9999!important;}
.page-template-case-studies-feed .summary-holder{height:122vh; background-color:#fdd94e;background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center }
.page-template-case-studies-feed  .container{padding-right:0px; padding-left: 0px}
.page-template-case-studies-feed  #primary{padding-right:0px; margin-right:0px; padding-left: 0px; margin-left: 0px;}
#popmake-452{background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center}
#popmake-452 .get-in-touch-submit input[type=submit].wpcf7-submit {
    background-color: #fbce20;
    color: white;
    border: none;
    padding: 10px;
}
/*news feed*/
.feed-title{color:white; font-size: 3em;
    line-height: normal; margin-bottom: 36px;
    font-family: bodoniflf;
    font-style: italic;}
.latest-news-title{font-size: 1.3em;
    line-height: normal;
    font-family: bodoniflf;
    font-style: italic;}
.latest-news-date{color:white; font-size: 1em;
    line-height: normal; 
    font-family: bodoniflf;
    font-style: italic; margin-bottom:15px; border-bottom:solid .5px #c3c3c3; padding-bottom:5px;}
.news-feed-inner{padding: 40px;}
.full-height-image-column-news {background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center}
.next-blog-controls {padding-bottom: 20px}
.grid-sizer,
.grid-item { width: 20%;}
/* 2 columns */
/*.grid-item-big { width: 100%; padding:3px; }
.grid-item-small{width:25%; padding:3px;}
.grid-item-wide{width:75%; padding:3px;}*/
.grid-item-big{width:50%; padding:3px;}
.grid-item-small{width:50%; padding:3px;}
.grid-item-wide{width:50%; padding:3px;}
.grid-item-long{width:50%; padding:3px;}
.saracen-news-image img{width:100%; height:auto;}
.saracen-news-inner{background-color:#fbce20; padding:15px; }
.saracen-news-date{font-size: 12px}
.saracen-news-title{font-size: 1.5em; line-height: normal; font-family: bodoniflf; font-style: italic;     min-height: 88px;}
.saracen-news-title a{color: white;}
.overlay-news {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease; background-color: white;
  background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center
}
.saracen-news-article:hover .overlay-news {opacity: .85;}
.saracen-news-summary {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; opacity: 1; background-color: black; padding:5px;
}
.grid-item-small .saracen-news-summary{font-size: 80%; line-height: normal}
.grid-item-big .saracen-news-summary{font-size: 80%; line-height: normal}
.grid-item-wide .saracen-news-summary{font-size: 80%; line-height: normal}
.grid-item-long .saracen-news-summary{font-size: 80%; line-height: normal}
.btn.btn-lg.btn-outline-info{border: solid white 2px;color: white; margin-top:5px; margin-bottom: 5px;}
.btn.btn-lg.btn-outline-info a{color: white}
.btn.btn-secondary{border:solid 2px black}
.news-page-content {margin-top:100px;}
.s-n-f{margin-bottom: 20px; font-size: 1.5em; line-height: normal; font-family: bodoniflf; font-style: italic;}
.news-buttons-left{margin-bottom: 20px}
.saracen-news-filters{background-color:#fbce20; padding:20px; margin-bottom: 20px}
.page-template-image-header .container{padding:0px;}
.page-template-image-header #primary{padding:0px}
.page-template-image-header .row{padding-left: 0px!important; padding-right: 0px!important; margin-right: 0px!important; margin-left: 0px!important}
.col-holder-news{padding-left:0px!important; padding-right:0px!important}
.full-height-image-column-header-template {background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center}
.full-height-image-column-header-template {background-color: #fdd94e;min-height: 100%;}
.column-image-header-inner{padding:40px}
.case-post-article.related-feed{margin-bottom:30px}.case-post-article.related-feed{margin-bottom:30px}
.btn.btn-primary a{color:white;}
.feed-title-image-header {
    color: white;
    font-size: 2.5em;
    line-height: normal;
    margin-bottom: 36px;
    font-family: bodoniflf;
    font-style: italic;
}
.widgets-footer img{margin-right:10px; margin-bottom: 10px}
.footer-text{font-size: 1.5em; line-height: normal; font-family: bodoniflf; font-style: italic; color:#fdd94e; font-weight:900}
.top-footer{padding-bottom: 0px!important;margin-bottom: 1.25em!important;} 
.footer-small-text{font-size:13px}
.site-info.bottom-footer {
    border-top: 1px solid;
    padding-top: 1.25em!important;
    margin-top: 0px!important; 
    font-size: 12px;
}
.case_study-template-single-case-study .cs-footer{margin-top: 0px!important}
.fancy-title-text{font-size: 2em; line-height: normal; font-family: bodoniflf; font-style: italic; font-weight:900; margin-bottom: 20px}
.hp-quote-body{font-size: 0.9em; line-height: normal; font-family: bodoniflf; font-style: italic;  margin-bottom: 20px}
.hp-quote-by{color:#fdd94e; font-weight:900; font-size:1.2em}
.case-feed{margin-bottom: 30px; padding-top: 20px}
.owl-nav{width:200px;margin-left:auto;margin-right:auto; color:black}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;}
.owl-dot {float:left;}
.owl-dots{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 15px;}
.fancy-text-contact{font-size: 1.6em; line-height: normal; font-family: bodoniflf; font-style: italic;}
.fancy-text-title {font-size: 2em; line-height: normal; font-family: bodoniflf; font-style: italic; text-align: center;}
.title-text-social{font-size: 2em; line-height: normal; font-family: bodoniflf; font-style: italic; text-align: center; color: white}
.white-text-large{color: white!important; font-size: 1.5em; line-height: normal;}
.footer-small-text a {color: white!important}
#ed_txt_group{max-width: 250px;}
.page-id-104 input[type="submit" i] {
    border-color:0px!important;
    border-style: solid;
    border-width: 0px;
    background-color:black!important;
    padding: 1px 7px 2px;
    color: white;}
.filtered-cs-feeds{background-color:#fdd94e}
.filtered-inner{background-color:white; padding:10px}
.filtered-cs-feeds{padding-left:0px!important; padding-right:0px!important; background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center}
.page-template-ofo-filtered .container{padding-left:0px!important; padding-right:0px!important; margin-left: 0px!important; margin-right: 0px!important}
.page-template-ofo-filtered #primary{padding:0px}
.page-template-ofo-filtered .row{padding-left: 0px!important; padding-right: 0px!important; margin-right: 0px!important; margin-left: 0px!important}
.filtered-inner{min-height:750px; margin-bottom:30px;     overflow: hidden;}
.filtered-inner .cs-summary{margin-top:20px}
.filtered-cs-feeds{padding-top:60px;}
.filtered-readmore{margin-top:30px}
.filtered-inner .parameters{min-height:110px}
.filtered-inner .cs-summary{min-height:110px}
.filtered-image-holder{overflow:hidden}
.btn.btn-primary.filter-me{margin-bottom: 10px;}
.filtered-header{padding-left: 15px}
.cs-image-main-filtered img{width:100%; height:auto}
.cs-footer-area{padding-right:0px!important}
.page-template-case-studies-feed .row{margin-right: 0px!important;}
.saracen-news-feed{margin-bottom:40px}
.page-template-services-test .widgets-footer .col-md-4 img{max-width:100px!important}
.service-title{color:#fbce20; font-size: 1.6em; line-height: normal; font-family: bodoniflf; font-style: italic;border-bottom: solid 2px black;padding-bottom: 5px; } 
.services-box{min-height:124px}
.saracen-news-inner-hp{background-color:#fdd94e; padding:10px; min-height:320px; background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:contain; background-position:center}
.news-summary-hp{min-height:150px}
.home-page-news-feed{margin-bottom: 90px;}
.news-title-hp{font-size: 2.3em; line-height: normal; font-family: bodoniflf; font-style: italic;border-top: solid 2px black;padding-bottom: 20px; padding-top:20px}
.saracen-hp-news{margin-bottom:20px;}
.case-feed{clear:both;}
.page-template-services-alternate .container{padding-left:0px!important; padding-right:0px!important; margin-left: 0px!important; margin-right: 0px!important}
.page-template-services-alternate #primary{padding-left:0px!important; padding-right:0px!important; margin-left: 0px!important; margin-right: 0px!important}
.page-template-services-alternate .row{padding-left: 0px!important; padding-right: 0px!important; margin-right: 0px!important; margin-left: 0px!important}
.slider-holder2{margin-left:0px!important; margin-right:0px!important; padding-left:0px!important; padding-right:0px!important}
#slider-2 img{width:100%}
ul.slides{margin:0px!important}
div.wpcf7-mail-sent-ok {border: 2px solid white!important;}
/*media queries - all normal css above this */
@media all and (max-width: 1677px) { 
.col-container.swoosh-background, .col-container.case-study-intro{position: initial; clear: both; background-color: #fbce20;     padding: 20px 20px 20px 40px}
.col-container.swoosh-background{display: none;}
.col.col-intro {width:100%;}
.case-study-intro{padding:0px;}
.col-quicklinks.quick-links{width:100%; margin-left: 0px;}
.flexslider {
    max-height: 100%!important;
    margin: 0px!important;
    border: 0px!important;
}
.flexslider .slides img {
    height: auto!important; width:100%!important;}}
@media (max-width:779px) and (min-width:200px) {
    .slider-container img{width:100%; height:auto;}
.slider-text-1, .slider-text-2, .slider-text-3, .slider-text-4{position:unset; height:auto; width:100%; padding-top: 20px; padding:49px;}
.get-in-touch-title-services, .get-in-touch-services-number a, .get-in-touch-services-mail a{color: white}
    .get-in-touch-title-services, .get-in-touch-services-number , .get-in-touch-services-mail {width:70%; font-size: 1.2em}
    .get-in-touch-inner-services{width:70%;}
    .get-in-touch-form-outter-type-services {
    padding-top: 0px; 
    padding-bottom: 30px;}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.case-feed{border-top:solid 2px;}
.news-page-content{margin-top:20px;}
.overlay-news{display: none!important}
.slider-holder{margin-bottom:20px; display: none;}
.main-body-text-cs{margin:0px!important;}
#sectionB{background-image:unset!important}
.quote-inner{width:96%!important;}
.quote-body-text {font-size: 1.2em!important;}
.quote-by-text{font-size: 1.4em!important}
.btn.btn-lg.btn-secondary{width:100%; margin-bottom:5px}
.saracen-news-article{margin-bottom: 20px}
.image-holder{height:300px; background-size:contain;}
.case-post-article{width:100%;}
.footer-text{font-size: 1em!important;}
.feed-inner{padding-left: 30px!important; padding-right: 30px!important;}
.page-template-case-studies-feed .row{margin-left:0px!important; margin-right: 0px!important}
.left-column-cs, .left-address-box{height:auto!important;}
.case-post-article{margin-top:15px;margin-bottom: 15px;}
.cs-title-feed {
    font-size: 1.6em!important;
    margin-bottom: 10px;
    margin-top: 10px;
}
.page-template-case-studies-feed .summary-holder{height:400px!important; background-color:#fdd94e;background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center }
.fp-controlArrow{top:25%!important;}
.full-height-image-column{min-height:600px}
.col-holder{padding-right:0px!important}
.content-column{margin-top:20px;}
.page-template-saracen-default .get-in-touch-inner {
    width: 108%;
    margin-left: auto;
    margin-right: auto;
}
.yellow-band{height:unset!important;}
.inner-column-b{padding:30px; margin-top:40px; margin-bottom:40px}
.page-id-91 h1 {
    color: white;
    font-size: calc(2.2vw + 1.3vh);
    line-height: normal;
}
.grid-item-big .saracen-news-summary{font-size: 100%!important; line-height: normal}
.grid-item-small .saracen-news-summary{font-size: 100%!important; line-height: normal}
.grid-item-wide .saracen-news-summary{font-size: 100%!important; line-height: normal}
.grid-item-long .saracen-news-summary{font-size: 100%!important; line-height: normal}
.grid-item-big { width: 100%!important; padding:3px; }
.grid-item-small{width:100%!important; padding:3px;}
.grid-item-wide{width:100%!important; padding:3px;}
.grid-item-long{width:100%!important; padding:3px;}
}
@media (min-width: 1501px)
{.vertical-nav #page-wrapper.wrapper .container, .vertical-nav #single-wrapper .container, .vertical-nav #woocommerce-wrapper .container, .vertical-nav #wrapper-index.wrapper .container, .vertical-nav .footer-background-image .wrapper-footer .container, .vertical-nav .header-presentation .hp-background-color .container {
    width: 100%!important; 
}}
@media (max-width:1286px) and (min-width:780px) {
    .right-column-cs{margin-left: 0px}
    .main-body-text-cs{margin:0px}
    .my-row{margin-top: 60px}
    .cs-footer {margin-top: 131px;}
    .slider-text-1, .slider-text-2, .slider-text-3, .slider-text-4{width:50%; left:38%;}
    .get-in-touch-title-services, .get-in-touch-services-number a, .get-in-touch-services-mail a{color: white}
    .get-in-touch-title-services, .get-in-touch-services-number , .get-in-touch-services-mail {width:78%}
    .get-in-touch-inner-services{width:78%;}
    .news-hero{width:100%!important}
    .content-column-news{width:100%!important}

.quote-body-text {font-size: 1.6em;}
body{font-size: 16px}    
.grid-item-big .saracen-news-summary{font-size: 80%!important; line-height: normal}
.grid-item-small .saracen-news-summary{font-size: 80%!important; line-height: normal}
.grid-item-wide .saracen-news-summary{font-size: 80%!important; line-height: normal}
.grid-item-long .saracen-news-summary{font-size: 80%!important; line-height: normal}
.grid-item-big { width: 50%!important; padding:3px; }
.grid-item-small{width:50%!important; padding:3px;}
.grid-item-wide{width:50%!important; padding:3px;}
.grid-item-long{width:50%!important; padding:3px;}
.page-template-case-studies-feed .summary-holder{height:400px!important; background-color:#fdd94e;background-image: url("/wp-content/uploads/bits/sarecen-interiors-s.png"); background-repeat:no-repeat; background-size:cover; background-position:center }}
@media all and (max-width: 1284px) {
.quote-inner {
    padding: 5px;
    width:75%;
    margin-left:auto;
    margin-right:auto;}
.quote-body-text {font-size: 1.5em;}
.quote-area {margin-top: 59px;width: 100%;margin-bottom: 60px;}
.main-body-text-cs{margin:40px}
.left-inner-cs{margin-left:40px; margin-right:40px; margin-bottom:40px; padding-top:40px}
.saracen-services{display: none;}
.col-quicklinks {margin-top: 10%;margin-bottom: 10%;}
.gallery-container {
    padding: 0px;
    height: auto!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;}
.grid-item.odd{width:100%}
.grid-item.even { width: 100%; }
.form-holder-cs {margin-top: 68px;margin-bottom:90px}
.left-inner-address {padding: 57px;}
.navbar-brand>img.brand-default{display: inline-block;}
.case_study-template-single-case-study .row {margin-left: -15px;margin-right: 0px!important;}
.col-holder-news{display: none}
.quote-body-text {font-size: 1.6em;}}
/*ipad pro*/
/* Landscape*/
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {.cs-title-feed{font-size:1.1em} .overlay-news{display: none}.services-box{min-height: 190px!important}
 .saracen-news-title{font-size:1.4em!important;} .slider-container img {width: 100%;height: auto;}
.slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;  }
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}

.left-address-box{width:50%!important}
.inline-form-cs{width:50%!important}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {
    font-size: 1.6em;}
 .gallery-container {
    height: 80%;
    width: 100%;
    padding: 20px;
    display: block;}
.grid-item.odd {
    width: 40%;}
.grid-item.even {
    width: 40%;}}
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {.col-holder-news{display: none} .content-column-news{width:100%!important}.news-hero{width:100%!important;} .overlay-news{display: none}
.yellow-band{width:100%!important; height:unset!important;} .image-band{width:100%!important;} .inner-column-b {margin-top: 38px;padding-bottom: 30px;} 
.saracen-news-inner-hp{min-height: 336px;} .services-box {
    min-height: 78px;
} .page-id-91 h1{text-align: center}
.slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;
}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;
}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px; 
}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px; 
}
.slider-container img {
    height: auto;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
/*ipad retina*/
/*Landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { .col-holder-news{display: none} .content-column-news{width:100%!important}.news-hero{width:100%!important;} .overlay-news{display: none}
.slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;   }
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}
.slider-container img {height: auto;width: 100%;}
.left-address-box{width:50%!important}
.inline-form-cs{width:50%!important}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
/*Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { .overlay-news{display: none} .col-holder-news{display: none} 
.slider-text-1 {
    position: unset; 
    background-color: #ffffffdb;
 height:auto;
    width:100%;  
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}
.slider-container img {height: auto;width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
/*ipad mini*/
/*Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { .col-holder-news{display: none} .content-column-news{width:100%!important}.news-hero{width:100%!important;} .overlay-news{display: none}
.slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;    }
.slider-container img {height: auto;width: 100%;}
.left-address-box{width:50%!important}
.inline-form-cs{width:50%!important}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
/*Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {.col-holder-news{display: none} .overlay-news{display: none} .yellow-band{width:100%!important;} .image-band{width:100%!important;} .page-template-home-page{margin-right: -59px!important} #rev_slider_2_1_wrapper{left:unset!important;}
.slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}
.slider-container img {height: auto;width: 100%}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
/*kindle fire */
@media amzn-kf8
  and (device-height: 1024px)
  and (device-width: 758px),
  amzn-kf8
  and (device-height: 758px)
  and (device-width: 1024px){
.col-holder-news{display: none} .content-column-news{width:100%!important}.news-hero{width:100%!important;} .overlay-news{display: none}
.slider-text-1 {position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px;}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}
.slider-container img {
    height: auto;
    width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}
@media screen
  and amzn-kf8
  and (device-height:1024px)
  and (device-width: 758px) {.col-holder-news{display: none} .content-column-news{width:100%!important}.news-hero{width:100%!important;} .overlay-news{display: none}
  .slider-text-1 {
    position: unset;
    background-color: #ffffffdb;
 height:auto;
    width:100%;
    padding: 30px;
    padding-top: 60px}
.slider-text-2 {
    position: unset;
  height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-3 {
    position: unset;
height:auto;
    background-color: #ffffffdb;
   width:100%;
    padding: 30px;padding-top: 60px;}
.slider-text-4 {
    position: unset;
  width:100%;
    background-color: #ffffffdb;
   height:auto;
    padding: 30px;padding-top: 60px;}
.slider-container img {
    height: auto;
    width: 100%}
h1,h2,h3,h4,h5,h6{font-size:30px!important}
.quote-body-text {font-size: 1.6em;}}