@charset "utf-8";
/* CSS Document */

.pulldownsearch {
display: none;
}

.Login {
display: none;
}


span.StoreProductModelName {
    font-size: 14px;
    color: #006093 !important;
    font-weight: bold;
}

.backgroundImage-coursehead {
    background: #006093;
    text-align: center;
    background-attachment: fixed;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}

/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #006093  !important;
height: 39px !important;
text-align: center;
}

#megaCatHoriz li a {
background: #006093  !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #79a5bd !important;
}

.StoreCatalogWrapper {
border: none !important;
}

.StoreSearch {
border-bottom: none !important;


@media all and (max-width: 730px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}
#social-media-set a {
    font-size: 13px;
    color: white!important;
}

#dnn_FootPaneG a {color:white!important;}

#social-media-set a {
    
    color:  #ffffff!important;
}
.grey-social{display:none;}

.pink-social{display:none;}
.blue-social{display:none;}

.social-colours {
    margin-left: -27px!important;
    margin-right: -11px!important;
}
#social-media-set a {
    
    color: #ffffff!important;
}

.grey-logos{display:none;}

.pink-logos{display:none;}
.blue-logos{display:none;}
.DnnModule-1951 a{color:#777777;}