@charset "utf-8";
/* CSS Document */

.pulldownsearch {
display: none;
}

.Login {
display: none;
}


span.StoreProductModelName {
    font-size: 14px;
    color: #014A8E !important;
    font-weight: bold;
}

.backgroundImage-coursehead {
    background: #014A8E;
    text-align: center;
    background-attachment: fixed;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}

/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #014A8E  !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #014A8E  !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}

.StoreCatalogWrapper {
border: none !important;
}

.StoreSearch {
border-bottom: none !important;
}
#social-media-set a {
    
    color:  #ffffff!important;
}
.grey-social{display:none;}
.white-social-2{display:none;}
.pink-social{display:none;}
.blue-social{display:none;}

.social-colours {
    margin-left: -27px!important;
    margin-right: -11px!important;
}
#social-media-set a {
    
    color: #ffffff!important;
}

.grey-logos{display:none;}

.pink-logos{display:none;}
.blue-logos{display:none;}
.DnnModule-1951 a{color:#777777;}