@charset "utf-8";
/* CSS Document */

.pulldownsearch {
display: none;
}

.Login {
display: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}


.Container-8 .dnntitle {
border-bottom: none !important;}

.backgroundImage-fitness {
    background: #D02E3B;
    text-align: center;
    background-attachment: fixed;
}



