@charset "utf-8";
/* CSS Document */

.pulldownsearch {
display: none;
}

.Login {
display: none;
}




.phoneHeadBottom, .searchBox2, .searchBox2:before {
display: none !important;
}

#mobile_search {
display: none !important;
}





/* Removal of padding inbetween image-based navigation (below slider)  */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #034A8C;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #014A8E; color: #034A8C;}

.footer-row{ 
margin-left: 0px !important;}

.Container-8 .dnntitle {
border-bottom: none !important;}






.photo_box.content_bottom_push_in_2 .content{
margin-top: -52px;}


.photo_box.content_bottom_push_in_2 .shade{
margin-top: -50px;}



/**************

.dnn_logo img{
margin-bottom: -100% !important;
z-index:2 !important;

}

.dnn_logo{
z-index:2 !important;
position: absolute;
}

#dnn_dnnLOGO_imgLogo{
margin-bottom: -100% !important;
z-index:2 !important;

}


*************/





.backgroundImage-sixth {
    background: #034A8C;
    text-align: center;
    background-attachment: fixed;
}