@charset "utf-8";
/* CSS Document */

.pulldownsearch {
display: none;
}

.Login {
display: none;
}


/* Removal of padding inbetween image-based navigation (below slider)  */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #459B2C;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #2DB573; color: #459B2C;}

.Container-8 .dnntitle {
border-bottom: none !important;}


.rTwenty {padding-right:50px;}
.lTwenty {padding-left:50px;}

.backgroundImage-parent {
    background: #459B2C;
    text-align: center;
    background-attachment: fixed;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}

/*****************Buttons******************/



/**************Apply*********************/


.btn-default {
    color: #2bb5b2;
    background-color: #fff;
    border-color: #459B2C;
    
}

.btn-default:hover {
    color: #fff;
    background-color: #BCBEC0;
    border-color: #fff;
}



/**************others*********************/


.btn-primary {
    	color: #fff;
    	background-color: #459B2C;
    	border-color: #2cb673;
}

.btn-primary:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}

.btn-lg {
border-radius: 0px;
}

.btn {
border-radius: 0px;
border: 3px solid #459B2C;
} 

.btn-primary:active {
    background: #2bb5b2;
    border-color: #459B2C;
    text-align: center;
}




/***********************************/

/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #459B2C !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #459B2C !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}
