			@font-face {
				font-family: 'futura-pt';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/170717120553Futura-PT.eot');
				src: local('futura-pt'), url('/wp-content/uploads/useanyfont/170717120553Futura-PT.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/170717120553Futura-PT.woff') format('woff');
			}
            
            .futura-pt{font-family: 'futura-pt' !important;}
            
						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
					font-family: 'futura-pt' !important;
				}
		