<div class="case-post-article item  theta-carousel-element theta-current-item" style="position: absolute; opacity: 1; box-shadow: rgb(0, 0, 0) 0px 0px 80px -11px; transform: translate3d(312.287px, 277.268px, 398.54px) scale(0.67); z-index: 14;"><div class="cs-image-main">	<a href="http://www.officerefurbishment.site/case-studies/sharia-compliant-bank/"><img src="http://www.officerefurbishment.site/wp-content/uploads/2018/02/092011-26_03_15_0347editsmall.jpg" alt=""></a></div> < <div class="cs-title-feed">Contact Us</div><div class="cs-summary"></div></div>




<div class="case-post-article contact-form-inline"><div class="cs-image-main">	<a href="/contact/"><img src="http://www.officerefurbishment.site/wp-content/uploads/2018/04/office-fit-out.jpg" alt=""></a></div><div class="cs-title-feed">Contact Us</div><div class="cs-summary">Simply fill in our contact form and we'll get back to you as soon as we can.</div></div>



-webkit-box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);
box-shadow: 10px 9px 19px -6px rgba(0,0,0,0.75);


<div class="social-links-menu">
<a href="https://www.facebook.com/pages/Saracen-Interiors-Ltd-Office-Fit-Out-and-Interior-Design/138909636158444"><img src="/wp-content/uploads/social/facebook.png"></a><a href="https://twitter.com/SaracenInt"><img src="/wp-content/uploads/social/twitter.png"></a><a href="https://uk.pinterest.com/SaraInteriors/"><img src="/wp-content/uploads/social/pinterest.png"></a><a href="https://www.youtube.com/channel/UCAeusLUSfAwpP0Pn1jUUvEg"><img src="/wp-content/uploads/social/youtube.png"></a><a href="http://www.linkedin.com/company/549425?trk=tyah4"><img src="/wp-content/uploads/social/linkedin.png"></a>
</div>