<div id="thmlvContent">
<header id="thmlvHeader" class="thmlvRevolution"><a href="http://north.themelovin.com" id="thmlvLogo"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/north-dark-logo.png" alt="North" id="thmlvLogoDark" class="thmlvLogoSwitch"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/north-light-logo.png" alt="North" id="thmlvLogoLight" class="thmlvLogoSwitch"></a>
<div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color: rgb(255, 255, 255); padding: 0px; height: 974px; left: 0px; position: absolute; width: 997px; max-height: none; overflow: visible;">

<div id="rev_slider_8_1" class="rev_slider fullscreenbanner revslider-initialised tp-simpleresponsive" style="height: 100%; background-color: rgb(255, 255, 255); background-image: none; max-height: none; backface-visibility: hidden; transform-style: preserve-3d; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); perspective: 2500px;">
<ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;"> 
<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01-320x200.jpg" data-saveperformance="off" data-title="Rev Slider" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; position: absolute; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">

<div class="slotholder" style="width:100%;height:100%;" data-duration="10000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01.jpg" data-src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01.jpg&quot;); background-position: 38.9322% 0%; width: 100%; height: 100%; opacity: 0; visibility: hidden; background-size: 159.085% 108.962%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>


<div class="tp-caption north-rev-h1 tp-fade tp-resizeme start" data-x="10" data-y="center" data-voffset="-70" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 28.5px; top: 338px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">This is a<br style="min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
Revolution Slider
</div>

<div class="tp-caption north-rev-h2 tp-fade tp-resizeme start" data-x="10" data-y="center" data-voffset="90" data-speed="300" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 19px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 28.5px; top: 558px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">Lorem ipsum dolor sit amet,<br style="min-height: 0px; min-width: 0px; line-height: 19px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px;">
consectetur adipiscing elit.
</div>
</li>

<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02-320x200.jpg" data-saveperformance="off" data-title="We Create" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; position: absolute; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">

<div class="slotholder" style="width:100%;height:100%;" data-duration="10000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02.jpg" data-src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02.jpg&quot;); background-position: 38.3394% 0%; width: 100%; height: 100%; opacity: 0; visibility: hidden; background-size: 159.998% 109.588%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>


<div class="tp-caption north-rev-h1 tp-fade tp-resizeme start" data-x="10" data-y="center" data-voffset="-70" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 28.5px; top: 259px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">We create,<br style="min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
define and craft<br style="min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
unforgettable<br style="min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
digital experiences
</div>
</li>

<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-03-320x200.jpg" data-saveperformance="off" data-title="Like It" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1; z-index: 20; position: absolute; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">

<div class="slotholder" style="width:100%;height:100%;" data-duration="10000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-03.jpg" data-src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-03.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-03.jpg&quot;); background-position: 38.3086% 0%; width: 100%; height: 100%; opacity: 1; visibility: inherit; background-size: 160.047% 109.621%; transform: matrix(1, 0, 0, 1, 0, 0);"></div><div class="kenburnimg" style="position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-03.jpg" style="user-select: none; position: absolute; width: 146%; height: 100%; left: 0px; top: 0px; visibility: inherit; opacity: 1; transform: translate3d(-229.5px, 0px, 0px) scale(1.03592, 1.03592); transform-origin: 0% 0% 0px;"></div></div>


<div class="tp-caption north-rev-h1 tp-fade tp-resizeme start" data-x="center" data-hoffset="90" data-y="center" data-voffset="-70" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 499.5px; top: 338px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">Do you<br style="min-height: 0px; min-width: 0px; line-height: 79px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px;">
like it?!
</div>

<div class="tp-caption north-rev-h2 tp-fade tp-resizeme start" data-x="center" data-hoffset="90" data-y="center" data-voffset="90" data-speed="300" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 19px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 490.5px; top: 558px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">Lorem ipsum dolor sit amet,<br style="min-height: 0px; min-width: 0px; line-height: 19px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px;">
consectetur adipiscing elit.
</div>
</li>
</ul>
<div class="tp-bannertimer" style="width: 33.0556%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div> <div class="tp-loader spinner2" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
<style scoped="">.tp-caption.north-rev-h1,.north-rev-h1{color:#ffffff;font-size:5em;font-weight:600;font-family:"Anton",Arial,sans-serif;letter-spacing:-0.015em;line-height:1.333;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.north-rev-h2,.north-rev-h2{color:#ffffff;font-size:1.222em;font-weight:200 !important;font-family:"Lekton",Arial,sans-serif;letter-spacing:-0.015em;line-height:1.333;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}</style>
<script type="text/javascript">

				/******************************************
					-	PREPARE PLACEHOLDER FOR SLIDER	-
				******************************************/
				

				var setREVStartSize = function() {
					var	tpopt = new Object();
						tpopt.startwidth = 960;
						tpopt.startheight = 350;
						tpopt.container = jQuery('#rev_slider_8_1');
						tpopt.fullScreen = "on";
						tpopt.forceFullWidth="on";

					tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
				};

				/* CALL PLACEHOLDER */
				setREVStartSize();


				var tpj=jQuery;
				tpj.noConflict();
				var revapi8;

				tpj(document).ready(function() {

				if(tpj('#rev_slider_8_1').revolution == undefined){
					revslider_showDoubleJqueryError('#rev_slider_8_1');
				}else{
				   revapi8 = tpj('#rev_slider_8_1').show().revolution(
					{	
												dottedOverlay:"none",
						delay:9000,
						startwidth:960,
						startheight:350,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						
												
						simplifyAll:"off",

						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"preview4",

						touchenabled:"on",
						onHoverStop:"off",
						nextSlideOnWindowFocus:"off",

						swipe_threshold: 75,
						swipe_min_touches: 1,
						drag_block_vertical: false,
						
												
												
						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"off",
						fullScreen:"on",

												spinner:"spinner2",
												
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",

						
						forceFullWidth:"on",
						fullScreenAlignForce:"off",
						minFullScreenHeight:"",
						
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

												fullScreenOffsetContainer: "",
						fullScreenOffset: "",
												hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0					});



									}
				});	/*ready*/

			</script>
<style type="text/css">
	#rev_slider_8_1_wrapper .tp-loader.spinner2{ background-color: #f0f0f0 !important; }
</style>
<div style="position: absolute; top: 487px; margin-top: -55px; left: 0px;" class="tp-leftarrow tparrows default preview4 hidearrows"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02-320x200.jpg&quot;);"></div><div class="tp-arr-imgholder2" style="background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-02-320x200.jpg&quot;); transform: matrix(1, 0, 0, 1, 0, 0);"></div><div class="tp-arr-titleholder">We Create</div><div class="tp-arr-subtitleholder"></div></div></div></div><div style="position: absolute; top: 487px; margin-top: -55px; right: 0px;" class="tp-rightarrow tparrows default preview4 hashoveralready hidearrows"><div class="tp-arr-allwrapper" style="visibility: hidden; opacity: 0;"><div class="tp-arr-iwrapper" style="transform: matrix(1, 0, 0, 1, 180, 0);"><div class="tp-arr-imgholder" style="transform: matrix(1, 0, 0, 1, 0, 0); background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01-320x200.jpg&quot;);"></div><div class="tp-arr-imgholder2" style="background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/06/About-Us-01-320x200.jpg&quot;); transform: matrix(1, 0, 0, 1, 0, 0);"></div><div class="tp-arr-titleholder">Rev Slider</div><div class="tp-arr-subtitleholder"></div></div></div></div></div><div class="tp-fullwidth-forcer" style="width: 100%; height: 974px;"></div></div></header><div id="thmlv-main" class="container row">
<div class="thmlv-short-col thmlv-short-span-6" data-animation="" data-delay="0">
<h4><span style="color: #363636;">Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span></h4>
<p></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p> Nam nulla nunc, feugiat et accumsan eget, mattis quis justo. Morbi ac velit eget ipsum condimentum congue. Integer consectetur, leo blandit sollicitudin venenatis, ligula nulla aliquet leo, id sagittis dui libero sed eros.</p>
</div> <div class="thmlv-short-col thmlv-short-span-6 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #363636;">Nulla pharetra, elit a imperdiet volutpat, ipsum metus ornare est</span></h4>
<p></p>
<p>Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel. Quisque vitae tortor eu diam bibendum maximus. In non dui sed diam vestibulum luctus. Mauris in blandit quam, nec hendrerit nunc. Praesent consectetur justo sed nisi auctor rutrum.</p>
<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p></div><div class="thmlv-short-clear"></div>
<div style="height: 60px;" class="thmlv-short-divider"></div><p></p>
<p>
</p><div id="fws_59ccf0bf2f64b" class="thmlv-short-full-width-section standard_section   " style="background-color: rgb(240, 240, 240); padding: 120px 63px; margin-left: -63px; visibility: visible;">
<div class="container"><br>
<div class="thmlv-short-col thmlv-short-span-4 thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-rocket" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-col thmlv-short-span-4 thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-beaker" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-col thmlv-short-span-4 thmlv-short-col-last thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-bolt" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-clear"></div>
<div style="height: 60px;" class="thmlv-short-divider"></div><br>
<div class="thmlv-short-col thmlv-short-span-4 thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-rocket" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-col thmlv-short-span-4 thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-beaker" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-col thmlv-short-span-4 thmlv-short-col-last thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;"><i class="icon-3x icon-bolt" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>
<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>
<p> </p></div><div class="thmlv-short-clear"></div> </div></div>
<div id="fws_59ccf0bf2fb57" class="thmlv-short-full-width-section standard_section   " style="background-color: rgb(34, 34, 34); color: rgb(187, 187, 187); padding: 90px 63px; margin-left: -63px; visibility: visible;">
<div class="container"><div class="thmlv-short-col thmlv-short-span-6" data-animation="" data-delay="0"> <div class="thmlv-short-col thmlv-short-span-2" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">1.</span></h4>
</div><div class="thmlv-short-col thmlv-short-span-10 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">Strategy</span></h4>
<p></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non efficitur nulla. Nullam sed dignissim nunc. Mauris sit amet nisi blandit ligula finibus aliquam sit amet non sem.<br>
</p></div><div class="thmlv-short-clear"></div> </div> <div class="thmlv-short-col thmlv-short-span-6 thmlv-short-col-last" data-animation="" data-delay="0"> <div class="thmlv-short-col thmlv-short-span-2" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">2.</span></h4>
</div><div class="thmlv-short-col thmlv-short-span-10 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">User Experience</span></h4>
<p></p>
<p>Ut sed faucibus quam, et lacinia tellus. Sed et elit a arcu faucibus semper vel id eros. Nunc vel gravida ex. Nullam ultrices aliquet quam, vel pellentesque arcu semper non.<br>
</p></div><div class="thmlv-short-clear"></div> </div><div class="thmlv-short-clear"></div>
<div class="thmlv-short-col thmlv-short-span-6" data-animation="" data-delay="0"> <div class="thmlv-short-col thmlv-short-span-2" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">3.</span></h4>
</div><div class="thmlv-short-col thmlv-short-span-10 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">Design</span></h4>
<p></p>
<p>Duis varius pretium consequat. Quisque velit nisi, ullamcorper vel purus in, viverra dapibus quam. Sed urna libero, sodales ac lorem vitae, efficitur accumsan eros.<br>
</p></div><div class="thmlv-short-clear"></div> </div> <div class="thmlv-short-col thmlv-short-span-6 thmlv-short-col-last" data-animation="" data-delay="0"> <div class="thmlv-short-col thmlv-short-span-2" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">4.</span></h4>
</div><div class="thmlv-short-col thmlv-short-span-10 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #ffffff;">Development</span></h4>
<p></p>
<p>Phasellus vestibulum ligula non ex aliquam tempor. Fusce at accumsan nisi. Nam tristique fringilla aliquam. In et enim laoreet, venenatis purus eget, sodales erat.<br>
</p></div><div class="thmlv-short-clear"></div> </div><div class="thmlv-short-clear"></div></div></div>
<div id="fws_59ccf0bf30028" class="thmlv-short-full-width-section parallax_section    bg-only" style="background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/04/About-Us-02.jpg&quot;); background-position: 50% 190px; background-repeat: no-repeat; background-size: cover; padding: 0px 63px; height: 402px; margin-left: -63px; visibility: visible;" data-image-height="600">
<div class="container"> </div></div><br>
<div style="height: 60px;" class="thmlv-short-divider"></div><p></p>
<h3 style="text-align: center; margin-bottom: 2em;">Sed diam nonummy nibh euismod<br>
tincidunt ut laoreet dolore magna</h3>
<p></p><ul class="thmlv_short_circular_wrap">
<li class="thmlv_short_circ_singular_wrap"><div style="display:inline;width:170px;height:170px;"><canvas width="170" height="170"></canvas><input class="knob" id="b49171" data-fgcolor="#A8C6C9" data-thickness=".07" data-readonly="true" rel="66" value="0" readonly="readonly" style="width: 89px; height: 56px; position: absolute; vertical-align: middle; margin-top: 56px; margin-left: -129px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: 200; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Helvetica; text-align: center; color: rgb(168, 198, 201); padding: 0px; -webkit-appearance: none;"></div><p class="thmlv-circular-title">Lorem ipsum</p></li>
<li class="thmlv_short_circ_singular_wrap"><div style="display:inline;width:170px;height:170px;"><canvas width="170" height="170"></canvas><input class="knob" id="b16231" data-fgcolor="#333333" data-thickness=".07" data-readonly="true" rel="83" value="0" readonly="readonly" style="width: 89px; height: 56px; position: absolute; vertical-align: middle; margin-top: 56px; margin-left: -129px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: 200; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Helvetica; text-align: center; color: rgb(51, 51, 51); padding: 0px; -webkit-appearance: none;"></div><p class="thmlv-circular-title">Lorem ipsum</p></li>
<li class="thmlv_short_circ_singular_wrap"><div style="display:inline;width:170px;height:170px;"><canvas width="170" height="170"></canvas><input class="knob" id="b47893" data-fgcolor="#A8C6C9" data-thickness=".07" data-readonly="true" rel="43" value="0" readonly="readonly" style="width: 89px; height: 56px; position: absolute; vertical-align: middle; margin-top: 56px; margin-left: -129px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: 200; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Helvetica; text-align: center; color: rgb(168, 198, 201); padding: 0px; -webkit-appearance: none;"></div><p class="thmlv-circular-title">Lorem ipsum</p></li>
<li class="thmlv_short_circ_singular_wrap"><div style="display:inline;width:170px;height:170px;"><canvas width="170" height="170"></canvas><input class="knob" id="b92000" data-fgcolor="#333333" data-thickness=".07" data-readonly="true" rel="94" value="0" readonly="readonly" style="width: 89px; height: 56px; position: absolute; vertical-align: middle; margin-top: 56px; margin-left: -129px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: 200; font-stretch: normal; font-size: 28px; line-height: normal; font-family: Helvetica; text-align: center; color: rgb(51, 51, 51); padding: 0px; -webkit-appearance: none;"></div><p class="thmlv-circular-title">Lorem ipsum</p></li> </ul><br>
<div style="height: 60px;" class="thmlv-short-divider"></div><p></p>
<p>
</p><div id="fws_59ccf0bf303cb" class="thmlv-short-full-width-section standard_section   " style="background-color: rgb(240, 240, 240); padding: 90px 63px 120px; margin-left: -63px; visibility: visible;">
<div class="container"><div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-01.jpg" alt="our clients 01" width="198" height="158" class="aligncenter size-full wp-image-1131"></div><div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-03.jpg" alt="our clients 03" width="198" height="158" class="aligncenter size-full wp-image-1133"></div><div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-02.jpg" alt="our clients 02" width="198" height="158" class="aligncenter size-full wp-image-1132"></div><div class="thmlv-short-col thmlv-short-span-3 thmlv-short-col-last has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-04.jpg" alt="our clients 04" width="198" height="158" class="aligncenter size-full wp-image-1134"></div><div class="thmlv-short-clear"></div>
<div style="height: 60px;" class="thmlv-short-divider"></div><br>
<div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-06.jpg" alt="our clients 06" width="198" height="158" class="aligncenter size-full wp-image-1136"></div><div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-05.jpg" alt="our clients 05" width="198" height="158" class="aligncenter size-full wp-image-1135"></div><div class="thmlv-short-col thmlv-short-span-3 has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-07.jpg" alt="our clients 07" width="198" height="158" class="aligncenter size-full wp-image-1137"></div><div class="thmlv-short-col thmlv-short-span-3 thmlv-short-col-last has-animation" data-animation="fade-in-from-bottom" data-delay="50" style="opacity: 1; bottom: 0px;"><img src="http://north.themelovin.com/wp-content/uploads/2015/06/our-clients-08.jpg" alt="our clients 08" width="198" height="158" class="aligncenter size-full wp-image-1138"></div><div class="thmlv-short-clear"></div></div></div>
<div id="fws_59ccf0bf30645" class="thmlv-short-full-width-section parallax_section   " style="background-image: url(&quot;http://north.themelovin.com/wp-content/uploads/2015/04/About-Us-02.jpg&quot;); background-position: 50% 191px; background-repeat: no-repeat; background-size: cover; color: rgb(255, 255, 255); padding: 180px 63px; margin-left: -63px; visibility: visible;">
<div class="container">
<p style="text-align: center;"><i class="icon-3x icon-quote-right" style="color: #ffffff; "></i></p>
<h4 style="text-align: center;"><span style="color: #ffffff;">Vestibulum laoreet vulputate libero, tristique pretium mi rutrum sit amet. In sollicitudin lectus at ante imperdiet, id lacinia dolor pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</span></h4>
<p> </p></div></div><p></p>
<div class="thmlv-short-col thmlv-short-span-6" data-animation="" data-delay="0">
<h4><span style="color: #363636;">Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span></h4>
<p></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p> Nam nulla nunc, feugiat et accumsan eget, mattis quis justo. Morbi ac velit eget ipsum condimentum congue. Integer consectetur, leo blandit sollicitudin venenatis, ligula nulla aliquet leo, id sagittis dui libero sed eros.</p>
</div> <div class="thmlv-short-col thmlv-short-span-6 thmlv-short-col-last" data-animation="" data-delay="0">
<h4><span style="color: #363636;">Nulla pharetra, elit a imperdiet volutpat, ipsum metus ornare est</span></h4>
<p></p>
<p>Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel. Quisque vitae tortor eu diam bibendum maximus. In non dui sed diam vestibulum luctus. Mauris in blandit quam, nec hendrerit nunc. Praesent consectetur justo sed nisi auctor rutrum.</p>
<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p></div><div class="thmlv-short-clear"></div>
<div class="thmlvClear"></div>
</div>
</div>