<div class="thmlv-short-col thmlv-short-span-4 thmlv-centered-text has-animation" data-animation="fade-in-from-bottom" data-delay="90" style="opacity: 1; bottom: 0px;">
	<i class="icon-3x icon-beaker" style="background-color: #A8C6C9; color: #ffffff; "></i><br>
<h4 style="text-align: center; margin-top: 0.222em; margin-bottom: 0.222em;">Donec urna diam</h4>

<p style="text-align: center;">Aliquam egestas sollicitudin libero, consectetur maximus ex feugiat vel.</p>

<p> </p></div>