<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="trust-image-holder">
            <img  class="media-element file-default img-responsive" data-delta="3" alt="" title="" typeof="foaf:Image" src="http://skypark.co.uk/sites/default/files/park-mark_1.jpg" ></div>
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Safe & Secure Parking</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <p>The Park Mark® Safer Parking Scheme is a Police Crime Prevention Initiative&nbsp;(Police-CPI) and is aimed at reducing both crime and the fear of crime in parking facilities.</p>
            </div>
        </div>
    </div>
    
    
</div>


<div id="accordion2" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="trust-image-holder">
            <img class="media-element file-default img-responsive" data-delta="3" alt="" title="" typeof="foaf:Image" src="http://skypark.co.uk/sites/default/files/save-money.jpg"></div>
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Best Price Guaranteed</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Booking direct with Skypark, will Guarantee that you get the best price.</p>
            </div>
        </div>
    </div>
    
    
</div>

<div id="accordion3" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="trust-image-holder">
            <img class="media-element file-default img-responsive" data-delta="3" alt="" title="" typeof="foaf:Image" src="http://skypark.co.uk/sites/default/files/24-hour.jpg"></div>
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">24hr Customer Support</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>You can call us 24hrs a day, we are always here to help.</p>
                <p>Skypark Manchester: <br> 0161 490 2482</p>
                <p>Skypark Liverpool: <br> 0151 448 0300</p>
            </div>
        </div>
    </div>
    
    
</div>