a.request-a-quote{   
 position: fixed; 
 display: block;
 line-height: 1.2;
 color: #FFF;
 text-decoration: none;
 outline: none;
 z-index: 999999;
 
 
 @media screen and (max-width: $screen-sm-max ){
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $colour-pink;
  width: auto;
  padding: 22px 0;
  text-align: center;
  font-size: ( $base-font-size  +  10px );
 }
 
 @media screen and (min-width: $screen-md-min ){
         
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: transparent;
  font-size: ( $base-font-size  +  7px );

 
  &:before{
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   content: '';
   width: 100px;
   height: 100px;
   background-color: $colour-pink;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   z-index: -1;
  }

  > span{
   display: table; 
   width: 100%;
   height: 100%;   
   > span{
    display: table-cell; 
    text-align: center;
    vertical-align: middle;
    b{
     display: block;
    }
   }         
  }
   
 }
 
 @media screen and (min-width: $screen-lg-min ){
       
  &:before{
  -webkit-transition: all 80ms ease;
  -moz-transition: all 80ms ease;
  -ms-transition: all 80ms ease;
  -o-transition: all 80ms ease;
  transition: all 80ms ease;
  
  }
  
  &:hover::before{
   -moz-transform: scale(1.08);
   -webkit-transform: scale(1.08);
   -o-transform: scale(1.08);
   -ms-transform: scale(1.08);
   transform: scale(1.08);
  }
  
 }
 
}

.header-navigation{
        
 font-family: 'Roboto Slab'; 
 

}

.ste-waste-tc{
        
 &:before, &:after{
  display: table;
  content: '';
  clear: both;  
 }
 
 .ste-waste-tcl, .ste-waste-tcr{    
  float: left;
  width: 50%;
 }
 
 @media screen and (max-width: $screen-xs-max ){
  .ste-waste-tcl{
   width: 49%;
  }
  .ste-waste-tcr{
   width: 51%;       
  }
 }
}

.ste-waste{
 display: block;
 width: 358px;
 height: 70px;
 margin-top: 26px;
 margin-bottom: 28px;
 margin-left: 34px;
 /*background-image: url( '../images/ste-waste.png' );*/
 background-size: 358px 70px;
 background-repeat: no-repeat;
 text-decoration: none;
 outline: 0; 
 
 @media screen and (max-width: $screen-sm-max ){
  margin: 10px 0 10px 12px;    
 }
 
 html.mdr-svg &{
  /*background-image: url( '../images/ste-waste.svg' );  */      
 }
 
 @media screen and (max-width: $screen-sm-max ){
  width: 128px;
  height: 39px;
  background-image: url( '../images/ste-waste-mobile.png' );
  background-size: 128px 39px;
  
  html.mdr-svg &{
   background-image: url( '../images/ste-waste-mobile.svg' );     
  }
      
 }
 
 @media screen and (max-width: $screen-ty-max ){
  margin: 10px 0 10px 6px;       
 }
}

.telephone-contact{
 display: table;
 margin-right: 130px;
 margin-left: auto;
 
 @media screen and (max-width: $screen-sm-max ){
  margin-right: 0;
 }
 
 >b, >a{
  display: block;
  float: left;  
 }
 
 >b{
  margin: 32px 32px 0 0;
  font-size: $default-h2-font-size;
  font-weight: normal;
  line-height: 55px;
  white-space: nowrap;  
 
  @media screen and(max-width: $screen-sm-max){
   display: none;       
  }
  
 }
 
 >a{
  margin-top: 33px; 

  @media screen and (min-width: $screen-md-min ){
   -webkit-transition: all 80ms ease;
   -moz-transition: all 80ms ease;
   -ms-transition: all 80ms ease;
   -o-transition: all 80ms ease;
   transition: all 80ms ease;

   &:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }      
  }
  
  &.mobile-telephone{
   display: none;
   @media screen and(max-width: $screen-sm-max){
    display: block;       
   }
  }
  
   
  width: 55px;
  height: 55px;
  background-image: url( '../images/telephone-contact.png' );
  background-repeat: no-repeat;
  background-size: 165px 55px;
  
  html.mdr-svg &{
   background-image: url( '../images/telephone-contact.svg' );      
  }

  @media screen and(max-width: $screen-sm-max){
   margin-top: 7px;
   width: 43px;
   height: 43px;  
   
   &.mobile-telephone{
    background-position: center center;       
   }
   &.envelope{
    background-position: right center;       
   }
  
  }
  
 }
 
 button{
  display: none;

  @media screen and (max-width: $screen-sm-max ){
   display: block;
   float: left;
   border: 0;
   margin-left: 3px;
   padding: 0 10px;
   width: 55px;
   height: 55px;
   background-color: #FFF;
   cursor: pointer;
   overflow: visible;

   &::-moz-focus-inner {
    border: 0;
    padding: 0;
   }
   
   span, span:before, span:after{
    position: relative;
    display: block;     
    height: 2px;
    background-color: #000;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
   }
   
   span:before, span:after{
    content: '';
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -ms-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
   }
   
   span:before{
    top: -10px;    
   }
   span:after{
    top: 8px;    
   }
   
   html.menu-open &{

    span{
     background-color: transparent;
     &:before{
      top: 1px;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
     }
     &:after{
      top: -1px;
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
     }
    }  
   }
   
   
   
  }
  
 }
   
}


.boopumtow{
 position: relative;
 z-index: 1;
}
 
.menu-nav-bar{   
 border-top: solid #bcbdc0 1px;
 border-bottom: solid #bcbdc0 1px;
 
 @media screen and (max-width: $screen-sm-max) {
  border-bottom-color: #FFFFFF;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease, border-bottom-color 500ms ease;
  -moz-transition: max-height 500ms ease, border-bottom-color 500ms ease;
  -ms-transition: max-height 500ms ease, border-bottom-color 500ms ease;
  -o-transition: max-height 500ms ease, border-bottom-color 500ms ease;
  transition: max-height 500ms ease, border-bottom-color 500ms ease;
  
  html.menu-open &{
   max-height: 3000px;
   border-bottom-color: #bcbdc0;
  }
  
 }
 
}

.main-navigation{
        
}

.nav-bar{  
 position: relative;

 &:before, &:after {
  content: " ";
  display: table;
 }
 &:after {
  clear: both;
 }

}

.popdownbump, .popdownbumponload{
 position: relative;
 z-index: -2;
}
.popdownbumponload{
 height: 54px;
}

.popdown{
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 max-height: 1px;
 overflow: hidden;
 border-bottom: solid $line-color 1px;
 background-color: $main-background-color;
 z-index: -2;
 
 &.popdownonload{
  max-height: 200px;
  top: 100%;
  z-index: -1;      
 }
 
 ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  
  li{
   display: block;
   float: left;

   a{
    display: block;
    font-size: ( $default-font-size + 2);
    padding: 15px 20px;
    color: $main-color;
    text-decoration: none;
    outline: 0;   
    
    @media screen and(min-width: $screen-lg-min){  
    
     -webkit-transition: color 600ms ease;
     -moz-transition: color 600ms ease;
     -ms-transition: color 600ms ease;
     -o-transition: color 600ms ease;
     transition: color 600ms ease;
     
    }
    
   }
   
   &:HOVER > a, &.active > a{
    color: $menu-color-hover;     
   }
   
  }
  
 }
 
 &.popdown-commercialservices{
         
  ul li{   
   &:HOVER > a, &.active > a{
    color: $menu-color-blue;     
   }  
  }   
 }
 &.popdown-domesticservices{
  ul li{   
   &:HOVER > a, &.active > a{
    color: $menu-color-green;     
   }  
  }    
 }
 
 
}

@media screen and(max-width: $screen-sm-max){

 .popdownbump, .popdownbumponload, .popdown{
  display: none;       
 }
 
}

