@import url("/portals/_default/master-burnley-fonts.css");
@charset "utf-8";
/* CSS Document */


.pulldownsearch {
display: none;
}

.Login {
display: none;
}

@font-face {  
  font-family: 'Century Gothic'
  src: url('/Portals/0/Fonts/GOTHIC.TTF?ver=2017-06-15-090145-063');
}

/* Removal of padding inbetween image-based navigation (below slider)  */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-md-7, .col-lg-7, .col-xs-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #2BB5B2;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #2BB5B2; color: #2BB5B2;}


.col-sm-8{
padding-left: 50px;
padding-right: 25px;}



.footer-row{ 
margin-left: 0px !important;}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3eb6b5;
}

.backgroundImage-adult {
    background: #2bb5b2;
    text-align: center;
    background-attachment: fixed;
}



.Container-8 .dnntitle {
border-bottom: none !important;}

.btn-success {
	color: #2bb5b2;
    	background-color: #fff;
    	border-color: #fff;}

.btn-success:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}


.flip_box_3 .front .fa {
background-color: #2bb5b2;
color: #fff;
}

.table-striped > tbody > tr:nth-child(odd) > td {
background-color: #2bb5b2;
}

.ContentBottom {
    background: #fff;
    border-top: none;
}




/*****************Buttons******************/



/**************Apply*********************/


.btn-default {
    color: #2bb5b2;
    background-color: #fff;
    border-color: #2bb5b2;
    
}

.btn-default:hover {
    color: #fff;
    background-color: #BCBEC0;
    border-color: #fff;
}



/**************others*********************/


.btn-primary {
    	color: #fff;
    	background-color: #2bb5b2;
    	border-color: #2cb673;
}

.btn-primary:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}

.btn-lg {
border-radius: 0px;
}

.btn {
border-radius: 0px;
border: 3px solid #2bb5b2;
} 

.btn-primary:active {
    background: #2bb5b2;
    border-color: #2cb673;
    text-align: center;
}




/***********************************/



.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #2BB5B2;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #2BB5B2;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #2BB5B2;
                border-right: 0 solid #2BB5B2;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #BCBEC0 !important;
}


.timeline-badge.ncs {
    background-color: #E3028E !important;
}



.timeline-title {
    margin-top: 0;
    color: #2BB5B2;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #2BB5B2 !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #2BB5B2 !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}

.StoreProductModelName{
color: #2bb5b2 !important;
}

/*sebs*/
#icon-1{
  width: 70px;
  height: 60px;
  background-color: #37b9b7!important;
}
#icon-2{
  width: 70px;
  height: 60px;
  background-color: #37b9b7!important;
}
#icon-3{
  width: 70px;
  height: 60px;
  background-color: #37b9b7!important;
}
#icon-4{
  width: 70px;
  height: 60px;
  background-color: #37b9b7!important;
}
#icon-5{
  width: 70px;
  height: 60px;
  background-color: #37b9b7!important;
}
#social-media-set a {
    
    color:  #37b9b7;
}
@media all and (max-width: 730px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}


#qa-1{
  
  background-color: #37b9b7!important;
}
#eu-1{
  
  background-color: #37b9b7!important;
}

.white-social{display:none;}
.grey-social{display:none;}
.pink-social{display:none;}
.white-social-2{display:none;}
.social-colours {
    margin-left: -25px;
    margin-right: -17px;
}

.grey-logos{display:none;}
.pink-logos{display:none;}
.white-logos{display:none;}


/*events hide unwanted fields*/

#dnn_ctr3263_ViewEventPlannerModule_EventListView_lblSearch, #dnn_ctr3263_ViewEventPlannerModule_EventListView_txtSearch, #dnn_ctr3263_ViewEventPlannerModule_EventListView_divLocation, #dnn_ctr3263_ViewEventPlannerModule_EventListView_divCategory, #dnn_ctr3263_ViewEventPlannerModule_EventListView_pnlMinPrice, #dnn_ctr3263_ViewEventPlannerModule_EventListView_pnlMaxPrice{display:none;}

label{margin-right:5px!important};




/*css compressed*/

.footer-icon-links {
  /* color: white !important; */
}


/* Load Font on page load */

@font-face {  
  font-family: 'Century Gothic'
  src: url('/Portals/0/Fonts/GOTHIC.TTF?ver=2017-06-15-090145-063');
}

/* Form customization CSS */

.form-button {
  button-radius: 4px !important;
  width: 80% !important;
  background-color: #0099ff !important;
}

.form-input {
  background-color: #e7e580 !important;
  color: #4e9195 !important;
  button-radius: 4px !important;
  border: none !important;
  width: 80% !important;
}

.form-input:focus {
  border: 3px solid #555;
}

.form-input::-webkit-input-placeholder {
  color: #64b9be !important;
  font-style: italic;
}

.form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #64b9be !important;
  font-style: italic;
}

.form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #64b9be !important;
  font-style: italic;
}

.form-input:-ms-input-placeholder {
  color: #64b9be !important;
  font-style: italic;
}


/* Bootstrap Customization*/

.phoneHeadBottom {
  display: none !important;
}

.ModActionFormC .bstrap30 .row {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 75px;
  padding-right: 25px;
}

.ModActionFormC .bstrap30 .section-title.underlined {
  border-bottom: 1px solid #fff !important;
  width: 95%;
}

.pane_layout .col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative !important;
  padding: 0px !important;
}

.head_mid,
.content_mid,
.footer_mid {
  padding: 0px !important;
}

.Footer_Contentbg .title3,
.Footer_Contentbg .title8 {
  border-bottom: none;
}

.row {
  margin-top: -8px;
}

.row [class*="Pane"] {
  padding: 0px !important;
}

.Container-8 {
  margin-left: 50px;
  margin-top: 50px;
}

.ContentBottom2 {
  background-color: #fff;
}

.ContentBottom [class*="Pane"],
.ContentBottom2 [class*="Pane"],
.ContentBottom3 [class*="Pane"] {
  margin: 0px !important;
}

.Mian_Box_3 [class*="Pane"] {
  margin: 0px !important;
}

.Mian_Box_2 [class*="Pane"] {
  margin: 8px 0px 0px !important;
}

.ContentBottom {
  border-top: 0px !important;
  background: #fff;
}


/* Top navigation border elimination */

span {
  border: none !important;
}


/* Margin */

#dnn_content {
  min-height: 250px !important;
}


/*Resetting all margins and padding on webpage*/

* {
  box-sizing: border-box;
}


/*Content area classes*/

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#dnn_ctr2748_ContentPane .content-bg {
  background-image: url('/Portals/0/Images/Adult/adult-page-content-bg.png?ver=2017-06-19-093606-017');
  background-repeat: no-repeat;
}

.content-area-width {
  width: 85%;
  /*height: 965px;*/
}

#dnn_ctr2748_HtmlModule_lblContent .content-area-width {
  width: 80%;
  height: 965px;
}

.content-margin {
  margin: 0 auto;
}



.content-links a {
  text-decoration: none;
  color: #b6f5f5;
  font-family: 'Century Gothic', 'Poppins', sans-serif;
  font-size: 30px;
}

.content-links a:hover {
  text-decoration: none;
  color: #fff;
}

.font-light-blue {
  color: #3eb6b5;
}

.font-black {
  color: #000000;
}

.heading {
  font-family: 'Century Gothic', 'Poppins', sans-serif;
}

#dnn_ctr2748_ContentPane .tilted-box {
  width: 400px;
  height: 150px;
  color: #fff;
  /* Rotate div */
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
  padding: 20px 0px;
  margin: 100px auto;
}

.heading-line-height {
  line-height: 18px;
}

/*.heading-top-padding {
  padding-top: 43px;
}*/

.content-links-top-padding {
  padding-top: 25px;
}

.content-links-line-height {
  line-height: 50px;
}

.uppercase {
  text-transform: uppercase;
}

img.pointer-one {
  display: block-inline;
  position: absolute;
  left: -50px;
  top: 35px;
}

img.pointer-two {
  display: block-inline;
  position: absolute;
  left: -50px;
  top: 85px;
}

img.pointer-three {
  display: block-inline;
  position: absolute;
  left: -50px;
  top: 137px;
}

img.pointer-four {
  display: block-inline;
  position: absolute;
  left: -50px;
  top: 188px;
}

img.pointer-five {
  display: block-inline;
  position: absolute;
  left: -50px;
  top: 240px;
}

.bold-and-big {
  font-weight: bold;
  font-size: 25px;
}

p.one {
  font-family: 'Century Gothic', 'Poppins', sans-serif;
  font-size: 15px!important;
}

.para-right-padding {
  padding-right: 50%;
}


/* Apply Now Hover Button */

.hover-apply-now-bg {
  background: #000;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  padding: 0px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  position: absolute;
  z-index: 100;
  top: 760px;
  right: 200px;
}

.hover-apply-now-link {
  font-family: 'Century Gothic', 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  padding: 45px;
  display: block;
  line-height: 50px;
}

.hover-apply-now-link a {
  text-decoration: none;
  color: #fff;
}

.hover-apply-now-link a:hover {
  text-decoration: none;
  color: #cacaca;
}

/* Button 2 */

.hover-apply-now-bg-2 {
  background: #000;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 0px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  position: absolute;
  z-index: 100;
  top: 800px;
  right: 450px;
}

.hover-apply-now-link-2 {
  font-family: 'Century Gothic', 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  padding: 35px;
  display: block;
  line-height: 35px;
}

.hover-apply-now-link-2 a {
  text-decoration: none;
  color: #fff;
}

.hover-apply-now-link-2 a:hover {
  text-decoration: none;
  color: #cacaca;
}

@media only screen and (max-width:940px) {
  .tilted-box {
    margin-top: 40px;
  }
}

@media only screen and (max-width:768px) {
  .tilted-box {
    margin: 30px 175px;
  }
  .content-padding {
    padding-left: 35px;
    padding-right: 10px;
    padding-bottom: 90px;
  }
  img.pointer-one {
    left: -45px;
    top: 10px;
  }
  img.pointer-two {
    left: -45px;
    top: 60px;
  }
  img.pointer-three {
    left: -45px;
    top: 110px;
  }
  img.pointer-four {
    left: -45px;
    top: 165px;
  }
  img.pointer-five {
    left: -45px;
    top: 210px;
  }
  .para-right-padding {
    padding-right: 40%;
  }
  .content-area-width {
    width: 100%;
  }
  .content-links-top-padding {
    padding-top: 0px;
  }
  .hover-apply-now-bg {
    top: 1140px;
    right: 250px;
  }

}

@media only screen and (max-width:640px) {
/*  .tilted-box {
    margin-top: 10px;
    margin-left: 110px;
  }*/

  .tilted-box {
    margin-top: -10px;
    margin-left: 50px;
  }

  .content-links-top-padding {
    padding-top: 0px;
  }
  img.pointer-one {
    left: -45px;
    top: 10px;
  }
  img.pointer-two {
    left: -45px;
    top: 60px;
  }
  img.pointer-three {
    left: -45px;
    top: 110px;
  }
  img.pointer-four {
    left: -45px;
    top: 165px;
  }
  img.pointer-five {
    left: -45px;
    top: 220px;
  }
  .hover-apply-now-bg {
    top: 1000px;
    right: 150px;
  }

  .hover-apply-now-bg-2 {
    top: 786px;
    right: 182px;
  }

}

@media only screen and (max-width:480px) {
  .content-padding { 
    padding-bottom: 150px;
  }
  .tilted-box {
    margin-top: -40px;
    margin-left: 45px;
  }
  .hover-apply-now-bg {
    width: 150px;
    height: 150px;
    top: 1000px;
    right: 60px;
  }
  .hover-apply-now-link {
    padding: 25px;
    font-size: 30px;
    line-height: 40px;
  }

  p.one { 
    font-size: 12px;
  }

  .para-right-padding {
    padding-right: 10%;
  }


  .content-links a {
    font-size: 25px;
  }

  .hover-apply-now-bg-2 {
    top: 800px;
    right: 150px;
  }
}

@media only screen and (max-width:320px) {

  .content-links a {
    font-size: 20px;
  }
  .bold-and-big {
    font-size: 0px;
  }
  .content-padding {
    padding-bottom: 40px;
  }
  img.pointer-one {
    top: 10px;
  }
  img.pointer-two {
    top: 70px;
  }
  img.pointer-three {
    top: 125px;
  }
  img.pointer-four {
    top: 185px;
  }
  img.pointer-five {
    top: 245px;
  }
  .para-right-padding {
    padding-right: 0;
  }
  .hover-apply-now-bg {
    width: 150px;
    height: 150px;
    top: 1000px;
    right: 80px;
  }
  .hover-apply-now-link {
    padding: 25px;
    font-size: 30px;
    line-height: 40px;
  }
  p.one { 
    font-size: 11px;
  }

  .hover-apply-now-bg-2 {
    top: 810px;
    right: 80px;
  }

}

.adult-button-wrapper {
    width: 100%;
}

.adult-button-container {
    border: none;
    background-color: #3db6b6;
    border-radius: 33px;
    float: left;
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 10px;
}

.adult-button-container a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    color: white;  
    font-weight: bold;
    line-height: 12px;
}






.cvProductListContainer{min-height:280px}





.content-padding{padding-left: 35px;}
.content-margin{margin: 0 auto!important;}
.headline-breakline{ display: none;}

img.pointer{display: block-inline;
    position: absolute;
    left: -250px;
    top: 15px;
}

.content-area{width: 1030px;
    margin: 0;
    padding: 0;
}

.heading-padding{padding: 0px;
    margin: -10px 0 0 -180px;
}


.tilted-box{
width: 400px;
    height: 150px;
    color: #000;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding: 20px 0px;
    margin: 0px auto;
}
.content-bg {background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-top.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.white {
    color: white;
}


#dnn_ctr2758_ContentPane .content {
    margin: 30px 20px 0px 20px;
    float: left;
}
.content {
    margin: 30px 20px 0px 20px;
    float: left;
}

#dnn_ctr2758_ContentPane .content-para {
    font-family: 'Century Gothic', 'Poppins', sans-serif !important;
    display: block;
    padding: 60px 250px 10px 270px;
    font-weight: bold;
    font-size: 1.2em;
}

#dnn_ctr2758_ContentPane .hover-apply-now-bg {
    background: #000;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: relative;
    z-index: 100;
    top: 150px;
    right: -300px;
}

#dnn_ctr2758_ContentPane .content-footer {
    background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-bottom.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 372px;
}

#dnn_ctr2758_ContentPane .icon {
    padding: 0 0px 10px 100px;
    margin: 0;
}
 

#dnn_ctr2737_ContentPane .content {
    margin: 30px 20px 0px 20px;
    float: left;
}

#dnn_ctr2737_ContentPane .content-para {
    font-family: 'Century Gothic', 'Poppins', sans-serif !important;
    display: block;
    padding: 60px 250px 10px 270px;
    font-weight: bold;
    font-size: 1.2em;
}

#dnn_ctr2737_ContentPane .read-more-bttn {
    padding-left: 27%;
    display: block;
}

#dnn_ctr2737_ContentPane .icon {
    padding: 0 0px 10px 100px;
    margin: 0;
}

.icon {
    padding: 0 0px 10px 100px;
    margin: 0;
}
#dnn_ctr2737_ContentPane .hover-apply-now-bg {
    background: #000;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: relative;
    z-index: 100;
    top: 150px;
    right: -300px;
}

#dnn_ctr2737_ContentPane .hover-apply-now-bg-2 {
    background: #000;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: absolute;
    z-index: 100;
    top: 2037px;
    right: 450px;
}

#dnn_ctr2737_ContentPane  .content-footer {
    background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-bottom.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 372px;
}
h2 br{display:none}



.content-para {
    font-family: 'Century Gothic', 'Poppins', sans-serif !important;
    display: block;
    padding: 60px 250px 10px 270px;
    font-weight: bold;
    font-size: 1.2em; clear:both;
}


#dnn_ctr2756_ContentPane .hover-apply-now-link-2 {
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding: 35px;
    display: block;
    line-height: 35px;
}

#dnn_ctr2756_ContentPane .hover-apply-now-bg {
    background: #000;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: relative;
    z-index: 100;
    top: 150px;
    right: -300px;
}
#dnn_ctr2756_ContentPane .hover-apply-now-bg-2 {
    background: #000;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: absolute;
    z-index: 100;
    top: 3290px;
    right: 450px;
}

.content-footer {
    background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-bottom.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 372px;
}

.read-more-bttn {
    padding-left: 27%;
    display: block;
}



#dnn_ctr2810_ContentPane .hover-apply-now-bg-2 {
    background: #000;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: absolute;
    z-index: 100;
    top: 1730px;
    right: 450px;
}
#dnn_ctr2810_ContentPane .hover-apply-now-bg {
    background: #000;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: relative;
    z-index: 100;
    top: 150px;
    right: -300px;
}


.attractionListHeader, .eventListHeader {
    
    font-size: 16px;
    font-weight: bold;
    color: #37b9b7!important;
}



label[for="dnn_ctr3263_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_txtAdditionalInformation"]:after{content:'  / specific requirements'}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 8px 0;
  
    line-height: normal;
}

/*events styles*/
.eventDateLabel{font-size:20px;}
.signUpToEventHeader {
    font-weight: bold;
    color: #37b9b7!important;
}
.signUpToEventLabels {
    font-weight: bold;
    color: #37b9b7!important;
}
label{color:#37b9b7!important;}
.viewBookingCaptionBold, .signUpQuestionCaptionBold {
  color: #469c2a !important;
}

select#dnn_ctr3263_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_ddlFixedPriceQty.form-control {
  width: 15%;
}
.epmMarginRight {
    display: block;
}

.eventDateLabel {
    font-weight: bold;
    color: #37b9b7!important;
    padding-right: 5px;
}

#dnn_ctr3262_ViewEventPlannerModule_eventlistview_lblFilterEvents{color:#37b9b7!important;font-family: 'Century Gothic', 'Poppins', sans-serif;}

.smallCalHeader {
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #37b9b7!important;
    color: #fff;
    width: 100%;
    height: 20px;
}
h3{color:#cc0839;font-family: 'Century Gothic', 'Poppins', sans-serif!important;}
div#dnn_ctr3262_ContentPane, .reviewWrapper, .eventListView {
  
  padding: 50px;
}



.viewBookingCaptionBold, .signUpQuestionCaptionBold {
    color: #37b9b7 !important;
}
.signUpToEventSuccessInfo {
    border: 1px solid #37b9b7;
    background: #fff; 
    padding: 10px;
    width: 700px;
    margin: 10px auto;
}


/*end of events*/
.stripeHeader {
    background: none!important;
    color: #fff;
    font-weight: bold;
    padding: 2px 11px;
    text-align: left;
    line-height: 1.2;
}
.NormalBold {
    font-weight: bold;
    color: #37B9BC!important
}
.stripe .bookingGrid{background: transparent;!important;}
.infoCaption{color:white!important;}
#dnn_ctr3263_ViewEventPlannerModule_ViewBookingDetails_hypPdf{display: none;}
#dnn_ctr3263_ViewEventPlannerModule_ViewBookingDetails_hypCalenderView{display: none;}
h6{padding-left:35px}

/* Themis Events Page, Booking Confirmation CSS */

span#dnn_ctr3263_ViewEventPlannerModule_eventlistview_lblFilterEvents {
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    color:#37b9b7!important;
}



    img.naDevMainImage {
        width:170px;
    }

    span.eventTitle {
        font-size: 25px;
    }

    span#dnn_ctr3251_ViewEventPlannerModule_ViewBookingDetails_lblEmailAddress a {
        color: #fff !important;
    }

   .viewBookingHeaderLabelsRed {
        color: #37B9BC !important;
   }
   .viewBookingHeaderLabels {
        color: #37B9BC !important;
   }

  a#dnn_ctr3251_ViewEventPlannerModule_ViewBookingDetails_hypPdf {
      display: none;
  }

  a#dnn_ctr3251_ViewEventPlannerModule_ViewBookingDetails_hypCalenderView {
      display: none;
  }

  .infoCaption {
      background: #000000 !important;
      border: 1px solid #fff !important;
  }

  tr.alt td, tr.over td {
      background: none !important;
  }

  button, input, select, textarea {
      color: #000 !important;    
  }

  ul.jsddm {
      color: black;
  }

  div#dnn_ctr3251_ViewEventPlannerModule_SignUpToEvent_pnlSignUpResult {
      background: #000000 !important;
  }

  .signUpToEventSuccessInfo span a {
      color: white !important;
      text-decoration: underline;
  }

  .signUpToEventSuccessInfo { 
    /*border: 1px solid #ffffff !important;*/
    padding: 10px !important;
  }


  .epmMarginRight {
    display: block;
  }
  
  body, .smallCalHeader, .smallCalBody  {
    font-family: 'Century Gothic', 'Poppins', sans-serif;
  }

  /*A, A:link, A:active, A:visited, A:hover {
    color:#37b9b7!important;
  }*/

  .animation.fadeInUp.animated a{
    /*color: white !important;*/
  }

  /*.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
*/
  blockquote p {
    text-indent:0px;
  }

  .eventTitle, .eventDateLabel, .leaveReviewHeader, .signUpToEventHeader, .leaveReviewLabels, .signUpToEventLabels, span#dnn_ctr3251_ViewEventPlannerModule_eventlistview_lblFilterEvents{
    color:#37b9b7!important;
    font-family: 'Century Gothic', 'Poppins', sans-serif;
  }

  
  span#dnn_ctr3251_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblBillingAddress {
    display:none;
  }

  span#dnn_ctr3251_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_Label9 {
      display:none;}



#dnn_ctr3263_ViewEventPlannerModule_eventlistview_lblSearch, #dnn_ctr3263_ViewEventPlannerModule_eventlistview_txtSearch, #dnn_ctr3263_ViewEventPlannerModule_eventlistview_divLocation, #dnn_ctr3263_ViewEventPlannerModule_eventlistview_divCategory, #dnn_ctr3263_ViewEventPlannerModule_eventlistview_pnlMinPrice, #dnn_ctr3263_ViewEventPlannerModule_eventlistview_pnlMaxPrice{display:none;}


.eventCalendarCategoryContainer {
    padding-bottom: 20px;
    float: left!important;
    width: 50%;
} 


.eventListLables {
  font-family: 'Century Gothic', 'Poppins', sans-serif;
  color:#37b9b7!important;
}
#dnn_ctr3263_ViewEventPlannerModule_calendar_rowLocations{display:none;}
#dnn_ctr3263_ViewEventPlannerModule_calendar_rowCategories{display:none;}
.fc-event-hori {
   
    height: auto!important;
}
#dnn_ctr3255_HtmlModule_lblContent{margin-top:20px; margin-bottom: 20px;}

.Footer_Contentbg .Container-3 .dnntitle, .Footer_Contentbg .Container-8 .dnntitle {
    border-bottom: 2px solid #37b9b7!important;
}
.bstrap30 .btn-info {
    color: #fff!important;
    background-color: #37b9b7!important;
    border-color: #37b9b7!important;
}
#dnn_ctr3120_ModuleContent {margin-top: 20px; margin-bottom: 20px}


.CvStandardButton {text-shadow: none!important}

#dnn_ctr2758_ContentPane br{display: inline;}


/*@media all and (max-width: 1020px) { .adult-button-container {float:none; width:100%; height:110px} }*/

@media all and (max-width: 769px){
.content-padding{padding:0px!important;}
#dnn_ctr2748_ContentPane .tilted-box {
    margin: 73px!important; padding: 0px 0px!important;
}
.adult-button-wrapper {
        margin-left: 24px;
    width: 400px!important;
}
.cvStoreProductAccordion {max-width: 300px!important;}
.headline-breakline{display: inline;}
h6{padding-left:35px}

.content-area .icon{float:none!important;}
.content{float:none!important;}
.content-para{width:400px;padding:40px!important}
.hover-apply-now-bg{right: 10px!important}
#dnn_ctr2756_ContentPane .hover-apply-now-bg{right: 206px!important;}
#dnn_ctr2756_ContentPane .hover-apply-now-bg-2 {
    top: 4997px;
    right: 42px;
}
#dnn_ctr2810_ContentPane .hover-apply-now-bg-2{top: 2758px; right: 0px;}
#dnn_ctr2758_ContentPane .content {
   padding: 30px;
}
.read-more-bttn{padding-left:0%!important}
#dnn_ctr2737_ContentPane .content {
    padding: 30px;
}
#dnn_ctr2737_ContentPane .read-more-bttn {
    padding-left: 0%!important;
}
.content {
    float: none!important;
    padding: 30px;
} }
/*new htags*/
h1, .h1 {
  font-size: 3em;
  line-height: normal; }

h2, .h2 {
  font-size: 2.7em;
 line-height: normal; }

h3, .h3 {
  font-size: 2.3em;
  line-height: normal; }

h4, .h4 {
  font-size: 2em;
  line-height: normal; }

h5, .h5 {
  font-size: 1.8em;
  line-height: normal; }

h6, .h6 {
  font-size: 1.5em;
  line-height: normal; }

p {
  font-size: 1em;  }


@media all and (max-width: 658px) { 
h1{font-size: 1.8em!important}
h2{font-size:1.5em!important }
h3{font-size:1.3em!important }
h4{font-size:1.2em!important }
h5{font-size:1.1em!important }
h6{font-size: 1em!important}    }

/*block styles*/
.footer-block{
    background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-bottom.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 372px;
}
.sticker-apply{
    background: #000;
    
    width: 150px;
    height: 150px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;}
.sticker-enquire{
    background: #000;
    
    width: 200px;
    height: 200px;
    padding: 0px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;}

.sticker-enquire h2 a{color:white; text-decoration:none}
.sticker-apply h2 a{color:white; text-decoration:none}
.sticker-apply h2 a:hover{color:#3eb6b5; }
.sticker-enquire h2 a:hover{color:#3eb6b5; }
.sticker-enquire h2 {
    position: absolute;
    top: 52px;
    left: 34px;
}
 .sticker-apply h2 {
    position: absolute;
    top: 26px;
    left: 30px;
}
.sticker-enquire h2 br{display:inline!important;}
.sticker-apply h2 br{display:inline!important;}
.footer-sticker{margin-top:12%}
.left-icon-adult{height:294px;}
.adult-paragraphy p{color:#3eb6b5; font-size: 1.2em; font-weight:bold; margin-bottom:60px;}

.adult-hr{margin-left:auto;margin-right:auto; width:70%;}
.adult-header-block{
    background-image: url(/Portals/0/Images/Adult/careers-guidance/careers-guidance-content-bg-top.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;     height: 600px;
    margin-bottom: -330px;
}

.adult-header-title-block h1 {color:white; text-transform: uppercase; transform: rotate(-11deg); margin-left:20px}

.adult-header-title-block{margin-top: -21px;}
@media all and (max-width: 788px) { .container{padding:30px}
.adult-header-title-block {
    margin-top: -10px;
}

.left-icon-adult {
    height: 160px;
}
.footer-sticker {
    margin-top: 2%;
    margin-left:173px;
}

}

.adult-course-block-item {
    background-color: #3db6b6;
    text-align: center;
    width: 266px;
    height: 266px;
    padding: 74px;
    margin: 10px;
    border-radius: 23px;
}
.adult-course-block-item a{color:white; text-align:center; text-decoration: none;
    font-size: 17px;
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    line-height: 12px;}


.adult-block-main{
    background-image: url(/Portals/0/Images/Adult/adult-page-content-bg.png);
    background-repeat: no-repeat;height:838px; margin-top: 40px;
}
.adult-block-main p{color:#3db6b6;     font-family: 'Century Gothic', 'Poppins', sans-serif;
    font-size: 15px!important;}


.tilted-block-adult{-ms-transform: rotate(-11deg)!important;
    -webkit-transform: rotate(-11deg)!important;
    transform: rotate(-11deg)!important;}


@media all and (max-width: 780px) { .adult-block-main{background-image: none!important}

.tilted-area-adult{background-color:#3db6b6; height:300px}
.tilted-box.tilted-block-adult { transform:none!important}


 }




.dnnFormRadioButtons label{color:black!important;}
.dnnBoxLabel{color:black!important;}

.ui-dialog-title, .ui-dialog-content{color:black}

/*templates media queries*/
@media all and (max-width: 511px) { 
.adult-breadcrumbs h6{font-size: 1em; padding-left:5px}

.adult-header-title-block h1{font-size:1.8em; margin-top:38px; margin-left:0px}

.footer-sticker {margin-top: 2%; margin-left: 83px; }

.content-area{width:100%}
.adult-button-wrapper{max-width:100%}
.tilted-area-adult {background-color: #3db6b6; height: 326px;}
.tilted-box.tilted-block-adult a{padding-left:15px}
 .adult-block-main{background-image: none!important;margin-bottom: 52%;
 }
}

.adult-breadcrumb-blue{ 
    color: #fff;
    font-family: 'Century Gothic', 'Poppins', sans-serif;
    font-size: 1.1em;
    margin-left: 10px;
}


.adult-breadcrumb-blue a{color:white!important}

.adult-header-title-block h2 {color:white; text-transform: uppercase; transform: rotate(-11deg); margin-left:20px}

@media all and (max-width: 507px) {.tilted-box{-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);margin-left:20px;}

.heading-padding {
    padding: 0px;
    margin: 0px;
}
.adult-breadcrumb-blue{
 margin-left: 20px;
}
h1{font-size: }
h2{font-size: }
h3{font-size: }
h4{font-size: }
h5{font-size: }
h6{font-size: }


}
