div.wpcf7{margin-top:4em}div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors{border:none;color:#88BB48;font-size:1em;padding:0;text-align:left}div.wpcf7-response-output{margin:30px 0}div.wpcf7-validation-errors{border:none;color:#E32F21}form.invalid input.wpcf7-not-valid,.wpcf7-form.invalid textarea.wpcf7-not-valid,.wpcf7-form input:focus:invalid:focus,.wpcf7-form textarea:focus:invalid:focus{border:1px solid #E32F21}span.wpcf7-not-valid-tip{display:none}.thmlv-dribbble-shots li{width:49%;margin-bottom:2%;margin-right:2%;display:inline-block;zoom:1;*display:inline;vertical-align:top}.thmlv-dribbble-shots li:nth-child(2n){margin-right:0}.thmlv-dribbble-shots a:hover{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)!important;filter:alpha(opacity=100)!important;-moz-opacity:1!important;-khtml-opacity:1!important;opacity:1!important}.flickr_badge_image{background:#ff0084 url(../images/flickr-overlay.png) no-repeat center center;webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);display:inline-block;margin:0 2% 2% 0;vertical-align:top;width:32%;zoom:1}.flickr_badge_image:nth-of-type(3n){margin:0 0 2%}.flickr_badge_image:nth-child(odd){background:#0063dc url(../images/flickr-overlay.png) no-repeat center center}.flickr_badge_image a img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:block;height:auto;opacity:1;transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-webkit-transition:opacity .35s ease-in-out;width:100%;z-index:-1}.flickr_badge_image a:hover img{opacity:0;transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-webkit-transition:opacity .35s ease-in-out}#thmlvPageWidget .flickr_badge_image{margin:0 1% 2%;width:10.5%}#thmlvPageWidget .flickr_badge_image:nth-of-type(10n){margin:0 0 2%}@media ( max-width : 767px ){#thmlvPageWidget .widget .flickr_badge_image{margin:0 2% 2% 0;width:15%!important}#thmlvPageWidget .widget .flickr_badge_image:nth-of-type(6n){margin:0 0 2%}#thmlvFooterWidgetArea .widget .flickr_badge_image{margin:0 2% 2% 0;width:15%!important}#thmlvFooterWidgetArea .widget .flickr_badge_image:nth-of-type(6n){margin:0 0 2%!important}}#thmlvFooterWrapper .widget{font-size:.888em;padding-bottom:1.888em;padding-top:1.888em}#thmlvFooterWrapper .thmlvWidgetTitle{color:#333;font-size:1.222em;margin-bottom:1em;margin-top:0}#searchform fieldset{position:relative}#searchform #s{border:1px solid rgba(100,100,100,0.1);padding-right:55px;width:100%}#thmlv-search-submit{position:absolute;right:0;text-align:center;top:0;width:4em}#thmlv-search-submit .fa{left:0;line-height:3.666em;position:absolute;text-align:center;top:0;width:100%;z-index:1}#thmlv-search-submit input[type="submit"]{background:transparent;border-radius:0;color:#555;height:100%;margin:0;text-indent:-999px;padding:0;position:relative;width:100%}.thmlv-widget-social a{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background:#333;color:#fff;display:inline-block;font-size:1em;height:42px;line-height:46px;margin:0 5px 10px 0;text-align:center;transition:all .1s ease-out 0;-webkit-transition:all .1s ease-out 0;-o-transition:all .1s ease-out 0;width:42px}.thmlv-widget-social a.behance:hover{background:#1769ff}.thmlv-widget-social a.dribbble:hover{background:#ea4c89}.thmlv-widget-social a.facebook:hover{background:#3B5998}.thmlv-widget-social a.flickr:hover{background:#FE0883}.thmlv-widget-social a.google:hover{background:#C63D2D}.thmlv-widget-social a.instagram:hover{background:#4E433C}.thmlv-widget-social a.linkedin:hover{background:#4875B4}.thmlv-widget-social a.pinterest:hover{background:#C9232D}.thmlv-widget-social a.tumblr:hover{background:#2B4964}.thmlv-widget-social a.twitter:hover{background:#3CF}.thmlv-widget-social a.vimeo:hover{background:#86B32D}


.media-visit{height:100vh; background-color: #dd1a18; text-align: center;}
.digital-visit{height:100vh; background-color: #03464e; text-align: center;}
.splash-intro{display: inline-block;}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


@font-face {
    font-family: Quintus;  
    src: url(http://www.oneagencymedia.co.uk/wp-content/themes/north/fonts/Quintus_B_trial.otf);  
    font-weight: normal;  
}


.page-template-splash h1 {font-family: Quintus!important; color:white; font-size: 10em; text-transform: lowercase;line-height: normal;}
.btn-outline-secondary{border:solid 3px white!important; background-color:transparent; color:white; font-size:2em; text-transform:lowercase}


.media-image{height:100vh; background-color:#dd1a18; margin:0px!important; padding:0px!important}
.digital-image{height:100vh; background-color:#03464e; margin:0px!important; padding:0px!important }
.media-image img{height:100vh; width:auto; overflow:hidden; margin:0px!important; padding:0px!important}
.digital-image img{height:100vh; width:auto; overflow:hidden; margin:0px!important; padding:0px!important}


.media-image{
    position: absolute;
    z-index: 100;
    left: 50%; display: none;
}

.digital-image{
    position: absolute;
    z-index: 100;
    right: 50%; display: none;
}

.media-image img{height:100vh; width:auto; overflow:hidden}

.white-logo-left {
    position: absolute;
    width: 100px;
    z-index: 500000000;
    margin-top: 10px;
    left: 10px;
}

@media all and (max-width: 490px) { 
.white-logo-left{width:60px; height:60px; padding-left:10px}

.media-image,
.digital-image{display:none;}

.page-template-splash h1{font-size:4em}

.media-visit{height:50vh; background-color: #dd1a18; text-align: center;}
.digital-visit{height:50vh; background-color: #03464e; text-align: center;}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.page-template-splash {
    margin-top: 0px!important;
}

}

 .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

.page-control{position:absolute; top:20px; z-index:90000; right:145px}

.page-id-3391 input[type="submit"] {
    background-image: url(/wp-content/uploads/2017/11/Send_white.gif)!important;
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: left;
    width: 200px;
    height: 167px;
    text-align: right;
    font-size: 0;
}

.some-text{font-family: Quintus!important; color:white; font-size: 1.8em; float:left; margin-right: 10px; padding:3px}


.btn-success {
    color: #fff;
    background-color: #03464e;
    border-color: #03464e;
}

.btn-danger {
  color: #fff;
  background-color: #dd1a18;
  border-color: #dd1a18;
}



  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 65px!important;
    border-width: 0 1px;
}

.toggle.btn{
    width: 111.5px!important;
    height: 28px;
}
.toggle-on.btn {
    padding-right: 36px!important;
}

.page-template-digital-default #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color:#03464e!important }
.page-template-digital-news-blocks #thmlvOverlayMenu.thmlvToggleMenuOpen {background-color:#03464e!important }

.page-template-digital-default input[type="submit"] {
    background-image: url(/wp-content/uploads/2017/11/Send_white.gif)!important;
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: left;
    width: 200px;
    height: 167px;
    text-align: right;
    font-size: 0;
}

.kc_column .digital-map {
    
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}

.one-team-member {
  position: relative;
  
}
.one-team-member{margin-left: 0px!important; margin-right:0px!important; padding-left:0px;padding-right:0px}

.overlay-bs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3e424499;
}

.one-team-member:hover .overlay-bs {
  opacity: 1;
}

.text-bs {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom:40px;
    left: 40px;
    
}

.one-team-member-image img{width:100%; height:auto;}

.one-agency-member-name {font-family: Quintus!important; color:white; font-size: 2em; line-height: normal;}

.page-template-team-new a{padding-left: 0px}
.one-team {padding-left:0px;padding-right:0px;}




.news-feature-image img{width:100%;height:auto;}
.digital-news-title {
    
    font-size: calc(3vw + 2vh);
    line-height: normal;
}
#digital-news-article {
    margin-top: 90px;
    padding: 10px;
}
#digital-news-article hr{border-color:black;}
.digital-news-top{
    margin-bottom: 46px;}

.news-feature-image{margin-bottom:20px}
.single-digital_news{background-color:#adafad47}

#digital-news-article + hr {border-color:black!important; background-color:black!important}

.digital-news-blocks{padding-left: 0px;padding-left: 0px}

.news-details{background-color:white;

    -webkit-transition: 1.0s ease;
-moz-transition: 1.0s ease;
-o-transition: 1.0s ease;
-ms-transition: 1.0s ease;
transition: 1.0s ease;
-webkit-transition-duration: 1.0s; 
-webkit-transition-timing-function: ease-out;  height: 510px;}


.news-details:hover{background-color:transparent; color:white }
.news-details:hover a{ color:white }


.digital-news-inner {
    padding: 31px;
    margin-left: 49px;
    margin-right: 38px;
}

.digital-news-title-grid a{font-family: Quintus!important; font-size: calc(2vw + 2vh);
    line-height: normal; text-decoration: none;}

.digital-news {
    padding: 0px;
    background-size: cover;
    height: 510px;
}
.even .news-details{background-color:#e3e3e6; -webkit-transition: 1.0s ease;
-moz-transition: 1.0s ease;
-o-transition: 1.0s ease;
-ms-transition: 1.0s ease;
transition: 1.0s ease;
-webkit-transition-duration: 1.0s; 
-webkit-transition-timing-function: ease-out;  height: 510px;}
.even .news-details:hover{background-color:transparent; color:white }
.even .news-details:hover a{ color:white }


.related-content-title a{font-family: Quintus!important; font-size: calc(1vw + 1vh);  line-height: normal; text-decoration: none;}
.page-template-digital-news-blocks #thmlvContent{padding-bottom: 0em;}
