<div class="col-md-12">
<div class="col-md-2 advan-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_0_service_page_link}}">{{meta_service_group_0_sub_service_0_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_0_service_page_link}}">{{meta_service_group_0_sub_service_0_service_title}}</a></div>
</div>

<div class="col-md-2 airport-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_1_service_page_link}}">{{meta_service_group_0_sub_service_1_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_1_service_page_link}}">{{meta_service_group_0_sub_service_1_service_title}}</a></div>
</div>

<div class="col-md-2 billboard-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_2_service_page_link}}">{{meta_service_group_0_sub_service_2_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_2_service_page_link}}">{{meta_service_group_0_sub_service_2_service_title}}</a></div>
</div>

<div class="col-md-2 bus-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_3_service_page_link}}">{{meta_service_group_0_sub_service_3_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_3_service_page_link}}">{{meta_service_group_0_sub_service_3_service_title}}</a></div>
</div>

<div class="col-md-2 digital-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_4_service_page_link}}">{{meta_service_group_0_sub_service_4_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_4_service_page_link}}">{{meta_service_group_0_sub_service_4_service_title}}</a></div>
</div>

<div class="col-md-2 rail-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_5_service_page_link}}">{{meta_service_group_0_sub_service_5_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_5_service_page_link}}">{{meta_service_group_0_sub_service_5_service_title}}</a></div>
</div>

<div class="col-md-2 taxi-s">
<div class="other-media-service-image">
<a href="{{meta_service_group_0_sub_service_6_service_page_link}}">{{meta_service_group_0_sub_service_6_service_icon}}</a></div>
<div class="other-media-service-name">
<a href="{{meta_service_group_0_sub_service_6_service_page_link}}">{{meta_service_group_0_sub_service_6_service_title}}</a></div>
</div>

</div>