
@keyframes imageZoom{0%{transform:scale(1);}
50%{transform:scale(1.24);}
100%{transform:scale(1);}
}
@-moz-keyframes imageZoom{0%{-moz-transform:scale(1);}
50%{-moz-transform:scale(1.24);}
100%{-moz-transform:scale(1);}
}
@-webkit-keyframes imageZoom{0%{-webkit-transform:scale(1);}
50%{-webkit-transform:scale(1.24);}
100%{-webkit-transform:scale(1);}
}
@-ms-keyframes imageZoom{0%{-ms-transform:scale(1);}
50%{-ms-transform:scale(1.24);}
100%{-ms-transform:scale(1);}
}
@keyframes spin{from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}
@-moz-keyframes spin{from{-moz-transform:rotate(0deg);}
to{-moz-transform:rotate(360deg);}
}
@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg);}
to{-webkit-transform:rotate(360deg);}
}
@font-face{font-family:'MyWebFont';src:url('fonts/FuturaPTLight.eot');src:url('fonts/FuturaPTLight.eot?#iefix') format('embedded-opentype'),
url('fonts/FuturaPTLight.ttf') format('truetype'),
url('fonts/FuturaPTLight.woff') format('woff');}
body{font-family:'MyWebFont', Arial, sans-serif !important;color:#555555;font-size:18px;font-weight:300;line-height:1.777em;overflow-x:hidden;}
.fa-reorder::before, .fa-bars::before{font-size:2em;}
.fa-navicon::before, .fa-reorder::before, .fa-bars::before{font-size:2em;}
#thmlv-main{font-size:1.5em !important;}
.comment-respond{margin:0 auto;max-width:920px;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1170px;}
}
.no-touch #thmlvScrollMenuWrap{display:block;-webkit-transform:translate3d(0,-102%,0);-moz-transform:translate3d(0,-102%,0);-ms-transform:translate3d(0,-102%,0);-o-transform:translate3d(0,-102%,0);transform:translate3d(0,-102%,0);-webkit-transition:-webkit-transform 0.4s ease-in-out, opacity 0.2s ease-out 0s;-moz-transition:-moz-transform 0.4s ease-in-out, opacity 0.2s ease-out 0s;-o-transition:-o-transform 0.4s ease-in-out, opacity 0.2s ease-out 0s;transition:transform 0.4s ease-in-out, opacity 0.2s ease-out 0s;}
.no-touch .thmlvShowScroll #thmlvScrollMenuWrap{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.page-template-thmlv-page-portfolio #thmlvContent,
.tax-skills #thmlvContent{padding-bottom:0;}
.thmlvClear{clear:both;}
.thmlvCommentsOpen #thmlvContent{padding-bottom:0;}
.thmlvCommentContent{font-size:95%;margin-left:6.5em;}
#thmlvCommentsWrap{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.03);font-size:0.888em;margin-top:7em;padding-bottom:6em;padding-top:4em;}
#thmlvContent{padding-bottom:4em;position:relative;z-index:2;}
#thmlvCopyright{font-size:0.888em;margin-bottom:2.5em;}
.thmlvFixed{padding:10px;}
.thmlvFixed .container{display:table;height:100%;width:100%;}
.thmlvFixed .container > div{display:table-cell;vertical-align:middle;}
#thmlvFooterWrapper{position:fixed;bottom:0;left:0;right:0;top:0;}
#thmlvFooterWrapper .container{max-width:980px;padding-bottom:50px;padding-left:2.5em;padding-right:2.5em;padding-top:50px;}
#footerText{height:auto;margin-left:5%;margin-top:15px;color:#d31918;font-size:18px;line-height:20px;}
@media (max-width:767px){#footerText{height:auto;margin-left:2%;margin-top:15px;color:#d31918;font-size:14px;line-height:20px;}
}
.pinpoint a{padding:4px 5px 4px 2px;line-height:3.428571;background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/location2.png');background-repeat:no-repeat;background-position:left center;margin-left:1px;background-size:15px;}
.callus a{padding:4px 5px 4px 30px;line-height:3.428571;background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/phone2.png');background-repeat:no-repeat;background-position:left center;margin-left:5px;background-size:20px;}
.cpright a{padding:4px 0px 4px 25px;line-height:3.428571;background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/copyright2.png');background-repeat:no-repeat;background-position:left center;margin-left:1px;background-size:20px;}
#footerBrif{height:auto;cursor:pointer;margin-top:25px;}
.thmlvFullHeight #thmlvHeaderTitle,
.thmlvFullHeight #thmlvHeaderTitleWrap{height:100%;position:absolute;width:100%;}
.thmlvFullHeight #thmlvHeaderTitle{background-color:transparent !important;bottom:0;}
.thmlvFullHeight #thmlvHeaderTitle div{bottom:25%;position:absolute;left:2%;right:25%;top:300px;width:90%;}
.thmlvFullHeight #thmlvHeaderTitleWrap{background-position:center center;background-size:cover;}
.thmlvGmap{height:100%;white-space:nowrap;}
#thmlvHeader{margin-bottom:6em;position:relative;}
#thmlvHeader.thmlvNoHeader #thmlvHeaderTitleWrap{padding-top:5em;}
#thmlvHeader.thmlvFullHeight{background-position:center center;background-size:cover;position:relative;overflow:hidden;}
#thmlvMask{height:45px;overflow:hidden;width:45px;}
#thmlvMenuWrap{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;min-height:100%;padding-left:6%;}
#thmlvMaskedCircle{border-style:solid;border-width:1px;border-radius:90px;height:90px;width:90px;}
.thmlvOverlay{bottom:0px;display:none;height:100%;overflow-x:hidden;position:fixed;width:100%;z-index:999;}
.thmlvOverlay#thmlvOverlayLoading{display:block;}
#thmlvOverlayLoading{background-color:#ffffff;}
#thmlvScrollMenuWrap{background-color:#f5464b;display:none;font-size:0.888em;left:0;padding-bottom:1.444em;padding-top:1.666em;position:fixed;top:0;width:100%;z-index:101;}
#thmlvScrollMenuWrap .container{max-width:100%;padding-left:4em;padding-right:4em;}
#thmlvScrollMenuWrap .span_9{text-align:right;}
#thmlvScrollMenuWrap .span_9 nav{display:inline-block;text-align:right;}
#thmlvSpinner{-webkit-animation:spin 1s infinite linear;animation:spin 1s infinite linear;height:90px;position:absolute;width:90px;}
#thmlvSpinnerImage{background-position:center center;background-size:cover;border-radius:180px;bottom:3px;height:84px;left:3px;line-height:90px;overflow:hidden;position:absolute;text-align:center;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;width:84px;z-index:1001;}
#thmlvSpinnerPositioning{height:90px;left:50%;margin:-45px 0 0 -45px;position:absolute;top:-100%;width:90px;}
#thmlvSpinnerWrapper{height:90px;margin:0 auto;position:relative;width:90px;}
.thmlvStatic{position:static !important;}
.typeSearch{border-bottom:1px solid rgba(0, 0, 0, 0.1);margin:0px auto 6em;max-width:1280px;padding-bottom:3em;}
#thmlvTopMenu{position:relative;}
.thmlvZoom{color:#ffffff;}
.thmlvZoom #thmlvHeaderTitleWrap{transform-origin:50% 80%;animation:imageZoom linear 50s;animation-iteration-count:infinite;-webkit-animation:imageZoom linear 50s;-webkit-animation-iteration-count:infinite;-moz-animation:imageZoom linear 50s;-moz-animation-iteration-count:infinite;-ms-animation:imageZoom linear 50s;-ms-animation-iteration-count:infinite;}
input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=tel],
textarea,
select{background-color:#f7f7f7;margin:10px 0 15px;width:100%;}
input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=tel],
input[type=date],
textarea{border:0;color:#ffffff;font-size:1em;line-height:1.777em;font-weight:300;outline:none;padding:1em;}
input[type=submit]{background-color:#333333;border:0px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#ffffff;cursor:pointer;font-size:0.888em;font-weight:400;padding:1em 1.5em;-webkit-appearance:none;transition:background 0.2s ease-out 0s;-webkit-transition:background 0.2s ease-out 0s;-o-transition:background 0.2s ease-out 0s;}
.comment-form #comment{height:50px;height:4rem;-webkit-transition:all 300ms;transition:all 300ms;}
.comment-form #comment.form-open{height:150px;height:15rem;}
.post-password-form input[type=password]{width:20%;}
#thmlvFooterWrapper input[type=text],
#thmlvFooterWrapper input[type=email],
#thmlvFooterWrapper input[type=password],
#thmlvFooterWrapper input[type=url],
#thmlvFooterWrapper input[type=tel],
#thmlvFooterWrapper textarea,
#thmlvFooterWrapper select,
#respond input[type=text],
#respond input[type=email],
#respond input[type=password],
#respond input[type=url],
#respond input[type=tel],
#respond textarea,
#respond select{background-color:#ffffff;}
a{color:#555555;text-decoration:none;transition:background 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-out 0s;-webkit-transition:background 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-out 0s;-o-transition:background 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-out 0s;}
.author a{color:#555555;}
p a{padding-bottom:2px;}
h1 a,
.thmlvSectionTitle{color:white;}
#cancel-comment-reply-link{font-size:0.666em;font-weight:300;}
#thmlvCloseMenu{position:absolute;top:1.444em;}
#thmlvCloseMenu,
.thmlvToTop{color:#ffffff;display:block;}
.thmlvHeaderDark #thmlMainOpenMenu{color:#ffffff;}
.thmlvHeaderDark #thmlMainOpenMenu{display:inline;}
#thmlvLogo{position:absolute;margin-left:2em;margin-top:2em;max-width:80px;z-index:999;cursor:pointer;}
#thmlvLogoC{position:absolute;margin-left:4em;margin-top:0;max-width:80px;z-index:999;left:40%;cursor:pointer;}
#thmlvLogoVV{max-width:80px;z-index:999;cursor:pointer;margin-left:4em;margin-top:0em;}
#thmlvLogoCC{max-width:80px;z-index:999;float:right;cursor:pointer;margin-top:-21px;}
@media all and (max-width:1268px){#thmlvLogoCC{position:relative;left:6px}
}
@media all and (max-width:910px){#thmlvLogoCC{position:relative;left:20px}}
#thmlMainOpenMenu{color:#ffffff;position:absolute;right:2em;top:2em;z-index:999;padding-right:25px;}
.addshadow{-webkit-box-shadow:1px 2px 20px 10px #f6f6f6;-moz-box-shadow:1px 2px 20px 10px #f6f6f6;box-shadow:1px 2px 20px 10px #f6f6f6;}
#thmlvScrollMenuWrap a{color:#fff;}
#thmlvScrollMenuWrap a:hover{opacity:.5;}
.thmlvToTop{bottom:1.444em;color:#333333;display:inline-block;overflow:hidden;position:fixed;right:3.444em;white-space:nowrap;visibility:hidden;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;transition:opacity .3s 0s, visibility 0s .3s;}
.thmlvToTopVisible{visibility:visible;opacity:1;}
#thmlvSocial li a{font-size:1em;}
#thmlvSocial li a:hover{opacity:.5;}
#thmlvStickyOpenMenu{position:absolute;right:3.444em;display:inline-block;font-size:1em;margin-left:3em;margin-right:1em;}
ol, ul{list-style-position:inside;list-style-type:decimal;}
ul{list-style-type:disc;}
.thmlvArchiveList{margin-bottom:2.222em;}
.thmlvCommentList .comment{list-style-type:none;padding-bottom:2em;}
#thmlvSocial{padding-top:2.5em;}
#thmlvSocial li{display:inline-block;list-style-type:none;margin-right:1em;}
#thmlvSocial li:last-of-type{margin-right:0;}
.thmlvTopMenu li{display:inline-block;list-style-type:none;margin-left:1em;}
.thmlvTopMenu li:first-of-type{margin-left:0;}
h1, h2, h3, h4, h5, h6{color:#f5464b;font-weight:500;line-height:1.0em;}
h1{font-size:2.222em;font-weight:600;letter-spacing:-0.015em;}
h2{font-size:2em;}
h3{font-size:1.666em;}
h4{font-size:1.444em;}
h5{font-size:1.222em;}
h6{font-size:1.222em;opacity:0.5;}
h3#reply-title,
#thmlvComments h1{color:#444444;font-size:1.666em;font-weight:500;margin-bottom:2em;}
h3#reply-title{margin-top:2em;}
.comment-edit-link:before,
.comment-reply-link:before{content:"\00b7";margin-left:3px;margin-right:6px;}
.container .fa{margin-bottom:1em;margin-top:2.5em;}
.thmlvArchiveTitle{color:#333333;font-size:1.222em;font-weight:600;margin-bottom:0.444em;}
.thmlvHeaderDark #thmlvLogo h1{color:#ffffff;}
#thmlvHeaderTitle .thmlvSectionTitle{font-size:6em;margin-bottom:.0em;}
#thmlvLogo h1{font-size:1.444em;font-weight:500;}
.thmlvZoom .thmlvSectionTitle{color:#ffffff;font-size:5em;margin-bottom:0.444em;}
.typeSearch h1{margin-bottom:1.222em;}
#cancel-comment-reply-link:before,
.pubtime:before{content:"\00b7";margin-left:3px;margin-right:6px;}
.comment img{border-radius:50%;float:left;margin-right:1.555em;}
img{max-width:100%;height:auto;}
.no-touch .fp-tableCell video,
.no-touch #thmlvHeader video{display:block;}
.fp-tableCell video,
#thmlvHeader video{display:none;left:0px;width:100%;height:100%;position:absolute;top:0px;}
.page #thmlv-main > p > img.alignnone,
.page .wp-caption.alignnone,
.single #thmlv-main > p > img.alignnone,
.single .wp-caption.alignnone{margin-left:-15%;margin-right:-15%;width:130% !important;max-width:none;}
.thmlvAuthorMeta{font-size:1.222em;}
.thmlvFeaturedMedia img{margin:0 auto;}
.thmlvGmap img{max-width:none;width:100%;}
.thmlvGmap span{white-space:nowrap;}
.thmlvHeaderDark #thmlvLogoDark{}
.thmlvHeaderDark #thmlvLogoLight{display:inline;}
#thmlvLogoDark,
#thmlvLogoLight{display:inline;}
#thmlvLogoLight{}
.thmlvToTop .fa{-webkit-transition:.2s ease-in-out;-moz-transition:.2s ease-in-out;-o-transition:.2s ease-in-out;transition:.2s ease-in-out;}
.thmlvToTop:hover .fa{-webkit-transform:translate(0, -.2em);-moz-transform:translate(0, -.2em);-o-transform:translate(0, -.2em);-ms-transform:translate(0, -.2em);transform:translate(0, -.2em);}
#thmlvWelcome{display:block;font-size:1.5em;position:absolute;left:8%;}
#thmlvWelcome:before{border-bottom:none;content:"";display:block;margin-bottom:.5em;width:60px;}
@media (min-aspect-ratio:16/9){.fp-tableCell video,
#thmlvHeader video{height:400%;top:-150%;}
}
@media (max-aspect-ratio:16/9){.fp-tableCell video,
#thmlvHeader video{left:-150%;width:400%;}
}
.thmlv-short-section-title{border-bottom:none !important;}
.thmlvContentH{left:0px;width:100%;height:50px;position:absolute;top:92%;z-index:999;}
.socilalink{position:relative;left:0%;}
@media only screen and (max-device-width:480px){.socilalink{position:relative;left:0%;float:none !important;}
}
.callusf{margin:0 auto;color:#fff;font-size:22px;font-weight:bold;text-align:center;padding-top:10px;}
.callusf a{color:#fff;}
@media (max-width:469px){.callusf{float:none !important;margin-right:0px;margin-top:10px;}
}
.chatwithus{float:right;margin-right:15px;}
.socialimg{float:left;margin-right:-15px !important;padding-top:5px !important;}
@media only screen and (max-width:321px){.thmlvContentH{top:75%;}
.socialimg{float:left;margin-left:9% !important;}
.chatwithus{float:none;margin-left:40%;}
}
@media only screen and (max-width:376px){.thmlvContentH{top:75%;}
.socialimg{float:left;margin-left:12%;}
.chatwithus{float:none;margin-left:40%;}
}
@media only screen and (max-width:469px){.thmlvContentH{top:75%;}
.socialimg{float:left;margin-left:13%;}
.chatwithus{float:none;margin-left:40%;}
}
@media (min-width:470px) and (max-width:767px){.thmlvContentH{top:75%;}
.socialimg{float:left;margin-left:10%;}
.chatwithus{float:none;margin-left:40%;}
}
input.wpcf7-form-control.wpcf7-text{width:100% !important;height:40px;padding-left:20px;}
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="date"], textarea{border:0;color:#ffffff;font-size:large;line-height:1.777em;font-weight:400;outline:none;padding:0em;border-radius:7px;height:45px;font-family:'MyWebFont', Arial, sans-serif !important;}
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], textarea, select{background-color:#e47272;margin:5px 0 10px;width:100%;font-size:large;color:black;}
div.wpcf7{margin-top:0.5em;}
textarea{height:200px;min-height:150px;max-height:150px;padding-left:20px;}
#headtext{font-size:large;color:#ffffff;margin-top:20px;margin-bottom:20px;}
#two-column1{width:550px;}
#two-column1 #left{width:300px;float:left;}
#two-column1 #right{width:250px;float:right;}
#two-column1 p{margin-bottom:5px;padding:5px;}
#two-column1 input[type="text"], input[type="tel"], input[type="email"]{border:none;border:1px solid #fff;font-size:large;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:540px;padding:3px;}
#two-column1 #right input[type="text"], #two-column1 #left input[type="text"]{width:240px;}
#two-column1 textarea{position:relative;padding:5px;border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:100%;height:120px;}
#two-column1 input[type="submit"]{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/Send-White.gif') !important;background-repeat:no-repeat;background:transparent;padding:3px 10px;float:right;font-size:0px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:215px;height:195px;}
#two-column1 input[type="text"], #two-column1 textarea, #two-column1 input[type="email"], #two-column1 input[type="tel"]{background:#ffffff;color:#D31918;padding-left:20px;}
@media only screen and (max-device-width:480px){#two-column1{width:100%;}
}
@media only screen and (device-width:768px){#two-column1{width:100%;}
}

form.invalid input.wpcf7-not-valid, .wpcf7-form.invalid textarea.wpcf7-not-valid, .wpcf7-form input:focus:invalid:focus, .wpcf7-form textarea:focus:invalid:focus{border:2px solid #fdfa18;}
.wpcf7-form-control::-webkit-input-placeholder{color:#FFF;}
.wpcf7-form-control:-moz-placeholder{color:#FFF;opacity:1;}
.wpcf7-form-control::-moz-placeholder{color:#FFF;opacity:1;}
.wpcf7-form-control:-ms-input-placeholder{color:#FFF;}
#two-column1 input[type="text"]::-webkit-input-placeholder, input[type="textarea"]::-webkit-input-placeholder{color:#cd3d3b;}
#two-column1 input[type="text"]:-moz-placeholder, input[type="textarea"]:-moz-placeholder{color:#cd3d3b;}
#two-column1::-webkit-input-placeholder{color:#cd3d3b;}
#two-column1:-moz-placeholder{color:#cd3d3b;opacity:1;}
#two-column1::-moz-placeholder{color:#cd3d3b;opacity:1;}
#two-column1:-ms-input-placeholder{color:#cd3d3b;}
#ntxt::-webkit-input-placeholder,
#ntel::-webkit-input-placeholder{color:#cd3d3b;}
#ntxt:-moz-placeholder,
#ntel:-moz-placeholder{color:#cd3d3b;}
#ntxt::-moz-placeholder,
#ntel::-moz-placeholder{color:#cd3d3b;}
#ntxt:-ms-input-placeholder,
#ntel:-ms-input-placeholder{color:#cd3d3b;}
.post-1036 .thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-2832 .thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-1103 .thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-1098 .thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-1022 .thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-4312 thmlvGridOverlay .thmlvGridCaption{background-color:rgba(0,0,0, 0.3) !important;}
.post-4312 .thmlvGridOverlay{display:none;}
.post-3321 .thmlvGridOverlay{display:none;}
.post-3323 .thmlvGridOverlay{display:none;}
.post-3440 .thmlvGridOverlay{display:none;}
.post-2746 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/red1.jpg') !important;}
.post-2746 .thmlvEntryMeta{color:white;}
.post-2746 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/oneheader.jpg') !important;background-color:none !important;}
.post-2746 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-875 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/programmatic-black.jpg') !important;}
.post-875 .thmlvEntryMeta{color:#f5464b;}
.post-875 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/programmatic-black1.jpg') !important;background-color:none !important;}
.post-875 h1 a{color:#f5464b;}
.post-875 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-891 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/rommzzwhite.jpg') !important;}
.post-891 .thmlvEntryMeta{color:#f5464b;}
.post-891 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/06/work-4.png') !important;background-color:none !important;}
.post-891 h1 a{color:#f5464b;}
.post-891 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-866 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/advan-tint.jpg') !important;}
.post-866 .thmlvEntryMeta{color:white;}
.post-866 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/12.jpg') !important;background-color:none !important;}
.post-866 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-872 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/redcar.jpg') !important;}
.post-872 .thmlvEntryMeta{color:white;}
.post-872 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-872 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2015/06/NP.jpg') !important;background-color:none !important;}
.post-879 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/Usdaw-logotint.jpg') !important;}
.post-879 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-879 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2015/06/Usdaw-logo.jpg') !important;background-color:none !important;}
.post-879 .thmlvEntryMeta{color:#f5464b;}
.post-879 h1 a{color:#f5464b;}
.post-869 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/maxresdefault-940x429tint.jpg') !important;}
.post-869 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-869 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2015/06/maxresdefault-940x429.jpg') !important;background-color:none !important;}
.post-869 .thmlvEntryMeta{color:#f5464b;}
.post-869 h1 a{color:#f5464b;}
.post-885 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/voice-search-seo-tint.jpg') !important;}
.post-885 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-885 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/voice-search-seo.jpg') !important;background-color:none !important;}
.post-885 .thmlvEntryMeta{color:white;}
.post-885 h1 a{color:white;}
.post-860 .thmlvGridOverlay{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2017/08/VfGnjpaWtint.jpg') !important;}
.post-860 .thmlvGridCaption:hover{background-color:rgba(0,0,0,0) !important;}
.post-860 .thmlvGridOverlay:hover{background-image:url('http://www.oneagencymedia.co.uk/wp-content/uploads/2015/05/VfGnjpaW.png') !important;background-color:none !important;}
.post-860 .thmlvEntryMeta{color:white;}
.post-860 h1 a{color:white;}
.contenttext{position:relative;top:35%;z-index:2;margin:0 auto;max-width:1100px;text-align:center;}
@media only screen and (max-device-width:450px){.contenttext{display:none;position:relative;top:35%;z-index:2;margin:0 auto;max-width:1100px;text-align:center;}
}
.content__heading{margin-bottom:24px;color:#272727;font-size:44px;}
.content__teaser{margin-bottom:24px;color:#595959;font-size:22px;}
.content__cta{display:inline-block;margin:0;padding:12px 48px;color:#ff3c64;font-size:22px;text-decoration:none;border:solid 4px #ff3c64;}
.contentlogo{position:relative;top:1%;z-index:2;margin:0 auto;max-width:100px;text-align:center;}
@media only screen and (max-device-width:450px){.contentlogo{position:relative;top:30%;z-index:2;margin:0 auto;max-width:130px;text-align:center;}
}
.video{position:fixed;top:50%;left:50%;z-index:1;min-width:100%;min-height:100%;width:auto;height:auto;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
@media only screen and (max-device-width:450px){.video{display:none;}
}
.nextbutton{width:5% !important;}
@media (min-width:320px){.owl-nav-round.owl-theme .owl-controls .owl-buttons div{margin-left:-60px !important;margin-right:-60px !important;}
}
@media (min-width:481px){.owl-nav-round.owl-theme .owl-controls .owl-buttons div{margin-left:-60px !important;margin-right:-60px !important;}
}
@media (min-width:641px){.owl-nav-round.owl-theme .owl-controls .owl-buttons div{margin-left:-60px !important;margin-right:-60px !important;}
}
#lets-get-talking input[type="submit"]{background-image:url(http://www.oneagencymedia.co.uk/wp-content/uploads/2017/07/senred.gif) !important;background-repeat:no-repeat;background-color:white;background-position:right;width:185px;height:167px;font-size:0;}
.lets-talk-white::-webkit-input-placeholder{color:#ffffff!important;}
.lets-talk-white::-moz-placeholder{color:#ffffff!important;}
.lets-talk-white:-moz-placeholder{color:#ffffff!important;}
.lets-talk-white:-ms-input-placeholder{color:#ffffff!important;}
.lets-talk-white::-webkit-input-placeholder{color:#ffffff!important}
.lets-talk-white::-moz-placeholder{color:#ffffff!important;}
.lets-talk-white:-moz-placeholder{color:#ffffff!important;}
.lets-talk-white:-ms-input-placeholder{color:#ffffff!important;}
.img-pad-10{padding:15px}
#lets-get-talking{border-bottom:solid 2px #f5464b;padding-bottom:30px}
.lets-title{height:200px;margin-top:5px}
.lets-title-2{display:none;}
.lets-title.col-lg-1{padding:8px}
@media all and (max-width:800px){.lets-title{display:none}.lets-title-2{display:inline;}}
.image-centre img{margin-right:auto;margin-left:auto}
.kc_image_gallery.image-center img{margin-left:auto;margin-right:auto;}
@media all and (max-width:798px){.kc_image_gallery{margin-bottom:100px}
@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait){.container{padding-left:3em;padding-right:2em;}
.thmlv-short-col{margin-right:1%!important;}
}
@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape){.container{padding-left:2em;padding-right:2em;}
.thmlv-short-col{margin-right:1!important;}
}
@media only screen
and (min-device-width:1024px)
and (max-device-width:1366px){.container{padding-left:3em;padding-right:2em;}
.thmlv-short-col{margin-right:1%!important;}}
.lets-title-2 img{max-width:250px}
.lets-title-2.col-sm-12{margin-bottom:15px}