<div class="container">
<div class="homepage-links">
<div class="col-md-6 col-xs-6 cb uclan-backer"><a href="/UCLan1"><img class="uclan-back-2" src="/portals/0/Images/events-test/uclan-bg-line.svg" /> </a>
<h1 class="uclan-link-button"><a href="/UCLan1"><span class="uclan-styles">UClan</span></a></h1>
</div>

<div class="col-md-6 col-xs-6 cb themis-backer"><a href="/Themis1"><img class="themis-back-2" src="/portals/0/Images/events-test/themis-bg-line.svg" /> </a>

<h1 class="themis-link-button"><a href="/Themis1"><span class="themis-styles">Themis</span></a></h1>
</div>

<div class="col-md-6 col-xs-6 cb sixth-backer"><a href="/Sixth-Form-Centre"><img class="sixth-back-2" src="/portals/0/Images/events-test/sixth-form-line.svg" /> </a>

<h1 class="sixth-form-link-button"><a href="/Sixth-Form-Centre"><span class="sixth-form-styles">Sixth Form</span></a></h1>
</div>

<div class="col-md-6 col-xs-6 cb adult-backer"><a href="/Adult1"><img class="adult-back-2" src="/portals/0/Images/events-test/adult-bg-line.svg" /> </a>

<h1 class="adult-link-button"><a href="/Adult1"><span class="adult-styles">Adult</span></a></h1>
</div>
</div>
</div>
