@charset "utf-8";
/* CSS Document */

/*******Search Placeholder Text Position and Input Color

.sbinp-default .search-box {
text-align: center;
font-size: 20px !important;
color: #014A8E !important;
}*******/


/*******Disable Default Search*******/

.pulldownsearch {
display: none;
}

/*******Disable Default Register/Login Options*******/

.Login {
display: none;
}

/****************************************************/





/******* Removal of padding inbetween image-based navigation (below slider)  *******/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}

.col-sm-9{
padding-right: 50px;
}

.content_sixth{
	padding: 20px 50px;
}


.accordion_3 .panel-heading{
border-bottom: none;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #014A8E;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #014A8E; color: #014A8E;}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}


.footer-row{ 
margin-left: 0px !important;}

.Container-8 .dnntitle {
border-bottom: none !important;}

.backgroundImage-sixth {
    background: #014A8E;
   /* text-align: center; */
    background-attachment: fixed;
}


.backgroundImage-sixthformgreen {
    background: #459B2C;
  /*  text-align: center; */
    background-attachment: fixed;
}

.backgroundImage-sixthyellow {
    background: #FED500;
  /*  text-align: center; */
    background-attachment: fixed;
}



.ContentBottom {
    background: #fff;
    border-top: none;
}


.btn-primary {
    	color: #fff;
    	background-color: #014A8E;
    	border-color: #014A8E;
}

.btn-primary:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}

.btn-lg {
border-radius: 0px;
}

.btn {
border-radius: 0px;
text-align: center;
border: 3px solid #014A8E;
} 

/**************Apply*********************/


.btn-default {
    color: #014A8E;
    background-color: #fff;
    border-color: #014A8E;
    
}

.btn-default:hover {
    color: #fff;
    background-color: #BCBEC0;
    border-color: #BCBEC0;
}

#dnn_content{
min-height:0px;
}

/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #014A8E  !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #014A8E  !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}


.StoreProductModelName{
color: #014A8E !important;
}

/*sebs */
@media all and (max-width: 730px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}
#social-media-set a {
    font-size: 13px;
    color: white!important;
}
.grey-social{display:none;}
.pink-social{display:none;}
.blue-social{display:none;}
.white-social-2{display:none;}
.social-colours {
    margin-left: -17px!important;
    margin-right: -9px!important;
}
#dnn_ctr1951_HtmlModule_lblContent a{color:white!important}

.grey-logos{display:none;}
.pink-logos{display:none;}
.blue-logos{display:none;}

/* new compressed */

.footer-icon-links {
        color: white !important;
    }


    /* Load Font on page load */

    @font-face {
        font-family:'ITC Avant Garde Gothic LT';
        src:url('http://www.burnley.ac.uk/Portals/0/Fonts/ITC Avant Garde Gothic LT Bold.otf');
    }

    /* OAS2 Page Classes */


    .content-table-oas2 {    
        border-collapse: separate !important; /* Not really necessary unless you use normalize.js */
        border-spacing: 5px !important; /* take out spaces between cells */
        margin: 160px 0 0px 0  !important;
    }

    .content-table-oas2 tr {
        background-color: #fff !important;
    }

    .content-table-oas2 tr .heading-cell-border {

        border-top: 1px solid #000 !important; 
        border-bottom: 1px solid #000 !important; /* move spacing to the cell */
    }

    .content-table-oas2 td {
        border: none !important;
    }

    .content-heading-oas2 {   
        font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
        margin: 0;
        padding: 0;   
        text-transform:uppercase;
        color:#459b2c;
    }

   /*
   .content-heading-oas2 img {
     margin:0; 
     padding:0 0 0 460px;
      right: 0; 
   } 
   */
   
   #content-header-arrow1-oas2 {
    margin:0; 
    padding:0 0 0 670px;
    /* right: 0; */
   }
   
   #content-header-arrow2-oas2 {
    margin:0; 
    padding:0 0 0 670px;
    /* right: 0; */
   }
   
   #content-header-arrow3-oas2 {
    margin:0; 
    padding:0 0 0 670px;
    /* right: 0; */
   }
   
   #content-header-arrow4-oas2 {
    margin:0; 
    padding:0 0 0 670px;
    /* right: 0; */
   }

   .content-heading-oas2 a {
    text-decoration: none !important;
    color: #459b2c;
   }
   
   .content-para-oas2 {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    padding-left: 120px;   
    display:none;
   }

   /* Content Header and Para Class ID */

   .content-header a {
    text-decoration: none;
    color: #ffffff;  
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;  
    margin: 10px 0px 10px 150px;
   }

   .content-div-para {
    color: #ffd500;
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;  
    font-size: 1.0em;
    margin:10px 70px 10px 150px;
   }


   #content-para1 {
    display: none;
   }

   #content-para2 {
    display: none;
   }

   #content-para3 {
    display: none;
   }

   #content-para4 {
    display: none;
   }

   /* Content area table */

   .oas-content-area-padding {
    padding:120px 0 0 0;  
   }


   /* Form customization CSS */

   .form-button {
    button-radius: 4px !important;
    width: 80% !important;
    background-color: #0099ff !important;
   }

   .form-input {
    background-color: #e7e580 !important;
    color: #4e9195 !important;
    button-radius: 4px !important;
    border: none !important;
    width: 80% !important;
   }

   .form-input:focus {
    border: 3px solid #555;
   }

   .form-input::-webkit-input-placeholder {
    color: #64b9be !important;
    font-style: italic;
   }
    
   .form-input:-moz-placeholder { /* Firefox 18- */
    color: #64b9be !important;  
    font-style: italic;
   }
    
   .form-input::-moz-placeholder {  /* Firefox 19+ */
    color: #64b9be !important;  
    font-style: italic;
   }
    
   .form-input:-ms-input-placeholder {  
    color: #64b9be !important;  
    font-style: italic;
   }


   /* Floating Form styling for Options-After-School Page */




   .form-oas-heading {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif; 
    color: #ffd500;
    padding-top: 100px;
    display: block;
   }

   .form-oas-bg {
    background: #d9063a;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    position: relative; 
    z-index: 100; 
    top: -80px;
    right: -200px;

   }

   .form-send-oas {
    padding-top: 0px;
   }

   .form-input-oas {
    background-color: #fff !important;
    color: #9c062b !important;
    border-radius: 10px !important;
    border: 1px solid #d9063a !important;
    width: 30% !important;
    height: 30px !important;
    padding-left: 10px; 
    margin:20px 5px;

   }

   .form-input-oas::-webkit-input-placeholder {
    color: #f09bb0 !important;
    font-style: italic;
   }
    
   .form-input-oas:-moz-placeholder { /* Firefox 18- */
    color: #f09bb0 !important;  
    font-style: italic;
   }
    
   .form-input-oas::-moz-placeholder {  /* Firefox 19+ */
    color: #f09bb0 !important;  
    font-style: italic;
   }
    
   .form-input-oas:-ms-input-placeholder {  
    color: #f09bb0 !important;  
    font-style: italic;
   }

   .form-input-email-oas {
    background-color: #fff !important;
    color: #9c062b !important;
    border-radius: 10px !important;
    border: 1px solid #d9063a !important;
    width: 63% !important;
    height: 30px !important;
    padding-left: 10px;
   }

   .form-input-email-oas::-webkit-input-placeholder {
    color: #f09bb0 !important;
    font-style: italic;
   }
    
   .form-input-email-oas:-moz-placeholder { /* Firefox 18- */
    color: #f09bb0 !important;  
    font-style: italic;
   }
    
   .form-input-email-oas::-moz-placeholder {  /* Firefox 19+ */
    color: #f09bb0 !important;  
    font-style: italic;
   }
    
   .form-input-email-oas:-ms-input-placeholder {  
    color: #f09bb0 !important;  
    font-style: italic;
   }

   .form-submit-oas {

    padding:8px 20px !important; 
    background:#ffd500 !important; 
    color: #fff !important;
    border:0 none !important;
    cursor:pointer !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;    
    font-weight: bold !important;
    font-size:1.6em;
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif; 
   }


   /* Floating Form styling for Options-After-School-2 Page */


   /* OAS2 Form */

   .form-oas2-bg {
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/options-after-school-2/options-after-school-2-form-bg.png");
    padding: 0px;;
    width: 539px;
    height:316px;
    z-index: 100;
    position: relative;
    right: -203px;
    top: 0px;
   }


   .form-oas2-heading {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif; 
    color: #ffd500;
    padding: 100px 150px 0px 0px;
    display: block;
   }

   .form-send-oas2 {
    padding-top: 0px;
   }

   .form-input-oas2 {
    background-color: #fff !important;
    color: #306a1d !important;
    border-radius: 10px !important;
    border: 0 !important;
    width: 30% !important;
    height: 30px !important;
    padding-left: 5px !important; 
    margin:5px 0px 10px 10px;

   }

   .form-input-oas2::-webkit-input-placeholder {
    color: #b3d7ab !important;
    font-style: italic;
   }
    
   .form-input-oas2:-moz-placeholder { /* Firefox 18- */
    color: #b3d7ab !important;  
    font-style: italic;
   }
    
   .form-input-oas2::-moz-placeholder {  /* Firefox 19+ */
    color: #b3d7ab !important;  
    font-style: italic;
   }
    
   .form-input-oas2:-ms-input-placeholder {  
    color: #b3d7ab !important;  
    font-style: italic;
   }

   .form-input-email-oas2 {
    background-color: #fff !important;
    color: #306a1d !important;
    border-radius: 10px !important;
    border: 0 !important;
    width: 64% !important;
    height: 30px !important;
    padding-left: 5px !important; 
    margin:5px 0px 10px 10px;
   }

   .form-input-email-oas2::-webkit-input-placeholder {
    color: #b3d7ab !important;
    font-style: italic;
   }
    
   .form-input-email-oas2:-moz-placeholder { /* Firefox 18- */
    color: #b3d7ab !important;  
    font-style: italic;
   }
    
   .form-input-email-oas2::-moz-placeholder {  /* Firefox 19+ */
    color: #b3d7ab !important;  
    font-style: italic;
   }
    
   .form-input-email-oas2:-ms-input-placeholder {  
    color: #b3d7ab !important;  
    font-style: italic;
   }

   .form-submit-oas2 {

    /*padding:8px 20px !important; */
    background:#ffd500 !important; 
    color: #fff !important;
    border:0 none !important;
    cursor:pointer !important;
    -webkit-border-radius: 180px !important;
    border-radius: 180px !important;    
    width: 100px;
    height: 100px;   
    font-weight: bold !important;
    font-size:1.6em;
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif; 
    text-align: center;
    display: block;
    margin: 0;
    padding: 0; 
    display:block; 

   }

   .form-submit2-oas2 {

    /*padding:8px 20px !important; */
    background:#ffd500 !important; 
    color: #fff !important;
    border:0 none !important;
    cursor:pointer !important;
    -webkit-border-radius: 180px !important;
    border-radius: 180px !important;    
    width: 90px;
    height: 90px;   
    font-weight: bold !important;
    font-size:1.6em;
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif; 
    text-align: center;
    display: block;
    margin: 0 80px;
    padding: 0 ;
    display: none;

   }

   .form-oas2-inner-table {
    background-color: none; 
    border: none; 
   }



   /* Bootstrap Customization*/

   .phoneHeadBottom {
    display: none !important;
   }

   .ModActionFormC .bstrap30 .row {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 75px;
    padding-right: 25px;
   }

   .ModActionFormC .bstrap30 .section-title.underlined {
    border-bottom: 1px solid #fff !important;
    width: 95%;
   }

   .pane_layout .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative !important;
    padding: 0px !important;
   }


   .head_mid, .content_mid, .footer_mid {
    padding: 0px !important;
   }

   .Footer_Contentbg .title3, .Footer_Contentbg .title8 {
    border-bottom: none;
   }

   .row {
    margin-top: -8px;
   }

   .row [class*="Pane"] { 
    padding: 0px !important;
   }

   .Container-8 {
    margin-left: 50px;
    margin-top: 50px;
   }

   .ContentBottom2 {
    background-color: #fff;
   }

   .ContentBottom [class*="Pane"], .ContentBottom2 [class*="Pane"], .ContentBottom3 [class*="Pane"] {
    margin: 0px !important;
   }


   .Mian_Box_3 [class*="Pane"] {
    margin: 0px !important;
   }

   .ContentBottom {
    border-top: 0px !important;
    background: #fff;
   }

   /* Top navigation border elimination */

   span {
    border: none !important;
   }

   /* Margin */

   #dnn_content {
    min-height: 250px !important;
   }

   /*Header Section */

   .content-oas-space-1 {
    width: 45.7861%;
   }

   .content-oas-space-2 {
    width: 40.2139%;
   }

   .content-oas-space-2 h3 {
    padding-right:150px;
   }


   /* Content Area Text */ 

   .breadcrumbs-nav {
    color:#469b2d;
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    padding: 10px 10px 0 0;
    /*padding: 10px 160px 0 0;*/
   }

   .content-area-container {
    background-color:#29345a; margin:0 30px 0px 80px;
   }

   .content-area-para {
    padding: 0px 250px 0px 0px;
    text-align:justify;
   }


   /*Content Area Buttons Formatting*/


   .button-format {
    margin: 120px auto;
    text-align: center;

   }

   .myButton {

    background-color:#469b2d;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff !important;
    font-family:'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    font-size:15px;
    padding:25px ;
    margin: 5px;
    line-height: 17px; 
    width: 310px;
    height: 70px;
   }
   .myButton:hover {
    background-color:#649e52;
    color: #ffffff !important;
    text-decoration: none;
   }
   .myButton:active {
    position:relative;
    top:1px;
   }


   /* Home Page Footer area links */

   .footer-links {
    color:#fff;
   }


   /* Hover Sticker CSS */

   .floating-options-after-school {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/options-after-school/options-after-school-bg.png?ver=2017-06-06-120150-557");
    padding: 0px;
    width: 500px;
    height: 470px;
    z-index:110;
    position: absolute;
    left: 50px;
    top: -20px;
   }

   .floating-options-after-school  font {
    font-size: 4.5em;
    display: block;
    padding-top:150px;
    padding-left: 120px; 
    color: white;
    text-decoration:none;  
    color:#469b2d;
    line-height: 110%;
   }

   /* Hover Menu CSS */



    /* Enquire Now Hover Button */
        
        .hover-enquire-now-bg {
            background: #d9063a;
            margin: 0;
            width: 200px;
            height: 200px;
            padding: 0px;
            text-align: center;
            /* border-radius */
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            /* box-shadow */
            -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
            -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
            position: relative;
            z-index: 100;
            top: -20px;
            right: -530px;
        }
        
        .hover-enquire-now-link {
            font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 40px;
            color: #fff;
            padding-top: 50px;
            display: relative;
            line-height: 50px;
        }
        
        .hover-enquire-now-link a {
            text-decoration: none;
            color: #cacaca;
        }
        
        .hover-enquire-now-link a:hover {
            text-decoration: none;
            color: #fff;
        }


   main {

    padding-bottom:0; margin-bottom:-11.7em;
   }

   .floating-menu-apply-now {

    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    /*background: yellowgreen;*/
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-content-apply-now-bg.png?ver=2017-06-01-141444-383");
    padding: 0px;;
    width: 234px;
    height:238px;
    z-index: 100;
    position: relative;
    left: 80px;
    top: 80px;

   }

   .floating-menu-apply-now a {

    font-size: 1.2em;
    display: block;
    padding-top:80px;
    color: white;
    text-decoration:none;  
    color:#469b2d;
    line-height: 110%;

   }

   .floating-menu-apply-now a:hover {
    color:#fff;
   } 

   .floating-menu-find-out {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-content-find-out-more-bg.png?ver=2017-06-01-143518-130");
    padding: 0px;;
    width: 839px;
    height:772px;
    z-index: 100;
    position: relative;
    left: 335px;
    top: -100px;
   }

   .floating-menu-find-out a {
    font-size: 2.5em;
    display: block;
    padding:190px 250px 0px 0px;
    color: white;
    text-decoration:none;  
    color:#ffd500;
    line-height:150%;
   }

   .floating-menu-find-out-sub-link a {
    font-size: 2.2em;
    display: block;
    padding:0px 250px 0px 0px;
    color: white;
    text-decoration:none;  
    color:#fff;    
   }

   .floating-menu-find-out-sub-link a:hover {
    text-decoration:underline; 
   }



   .floating-student-study-image {

    /*background: yellowgreen;*/
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-content-student-photo.png?ver=2017-06-01-154908-887");
    padding: 0px;;
    width: 494px;
    height:368px;
    z-index: 100;
    position: relative;
    left: 35px;
    top: -152px;

   }

   .floating-call-us {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    /*background: yellowgreen;*/
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-call-us-bg.png?ver=2017-06-01-161349-427");
    padding: 0px;;
    width: 173px;
    height:174px;
    z-index: 100;
    position: Absolute;
    right: 35px;
    top: 1940px;
   }

   .floating-call-us a {

    font-size: 1.0em;
    display: block;
    padding-top:65px;
    color: white;
    text-decoration:none;  
    color:#469b2d;

   }

   .floating-call-us a:hover {
    color:#fff;
   } 

   .floating-menu-apply-now-block {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    text-align:center;      
    display:none;
    background: none; 
    margin: 20px auto;


   }

   .floating-menu-apply-now-block a {  
    text-decoration:none;
    color: #ffd500;
    font-size: 0.7em;

   }

   .floating-menu-apply-now-block a:hover {
    color: white;
   }

   .floating-student-study-mobile {

    /*background: yellowgreen;*/
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-student-study-mobile-img.jpg?ver=2017-06-02-111528-673");
    padding: 0px;;
    width: 423px;
    height:243px;        
    position: inline;
    margin: 0 auto;
    display:none;


   }

   .floating-call-us-block {
    background: #ffd500;
    margin: 0px auto;
    text-align: center;
    display:none;
   }

   .floating-call-us-block a {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    text-decoration:none;
    font-size:3em;
    color:#469b2d;
   } 

   .floating-call-us-block a:hover {
    color: white;
   }

   .button-category-heading {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    font-size: 3.5em;display: block;color:#469b2d;
   }



   /*Website Responsive class behavior*/

   @media screen and (max-width:960px)  {   

    .floating-menu-find-out a {
        padding: 190px 400px 0 0;
    }
    .floating-menu-find-out-sub-link a {
        padding: 0 400px 0 0;
    }

    .floating-options-after-school {
        display: none;
    }

    .content-oas-space-1 {
        width: 20%;
    }

    .content-oas-space-2 {
        width: 75%;
    }

    .floating-menu-apply-now {
        left: 180px;
        top: 0px;
    }

    .form-oas-bg {
        width: 400px;
        height: 400px;
        top: 100px; 
    }

    .oas-content-area-padding {
        padding:30px 0 0 0;  
    }

    .content-header a {

        margin: 10px 0px 10px 10px;
    }

    .content-div-para {

        margin:10px 70px 10px 10px;
    }

    .form-oas-heading {
        padding-top: 50px;
    }

    /*OAS2 Floating Form */

    .form-oas2-bg {
        right: 0; 
    }

    /*OAS2 Content CSS*/

    #content-header-arrow1-oas2 {
        padding: 0 0 0 340px;
    }

    #content-header-arrow2-oas2 {
        padding: 0 0 0 290px;
    }

    #content-header-arrow3-oas2 {
        padding: 0 0 0 230px;
    }

    #content-header-arrow4-oas2 {
        padding: 0 0 0 285px;
    }

   }


   @media screen and (max-width:768px)  {
    .floating-menu-apply-now {
        display:none;
    }

    .floating-student-study-image {
        display:none;
    }

    .floating-call-us {
        display:none;
    }
    .floating-menu-apply-now-block {
        display:block;
    }
    .floating-menu-find-out {
        left:-50px; 

    }

    .floating-menu-find-out a {
        padding: 190px 250px 0 0;
    }
    .floating-menu-find-out-sub-link a {
        padding: 0 250px 0 0;
    }
    .floating-student-study-mobile {
        display:block;    
    }
    .floating-call-us-block {
        display:block;
    }  

    main {

        padding-bottom:0; margin-bottom:-0.7em;
    }

    .floating-menu-find-out a {
        padding: 190px 300px 0 0;
    }

    .floating-menu-find-out-sub-link a {
        padding: 0 300px 0 0;
    }

    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .form-oas-bg {
        top: 30px;
        right: 0px;
    }

    /*OAS2 Content area */

    #content-header-arrow1-oas2 {
        padding: 0 0 0 200px;
    }

    #content-header-arrow2-oas2 {
        padding: 0 0 0 150px;
    }

    #content-header-arrow3-oas2 {
        padding: 0 0 0 90px;
    }

    #content-header-arrow4-oas2 {
        padding: 0 0 0 144px;
    }


   }

   @media screen and (max-width:640px) {
    .floating-menu-find-out {
        left:-70px;
        top: -80px;    
    }  

    .content-area-para {
        padding: 0px 70px 0px 0px;
        text-align: justify;
    } 

    /*OAS2 Floating form CSS*/

    .form-oas2-bg {
        right: 0; 
    }

    .form-oas2-bg div {
        padding-left: 0px;
        margin-left:-100px;
    }

    .form-oas2-heading {
        padding: 100px 150px 0px 0px; 
    }

    /*OAS2 Content area */

    #content-header-arrow1-oas2 {
        padding: 0 0 0 140px;
    }

    #content-header-arrow2-oas2 {
        padding: 0 0 0 90px;
    }

    #content-header-arrow3-oas2 {
        padding: 0 0 0 30px;
    }

    #content-header-arrow4-oas2 {
        padding: 0 0 0 85px;
    }

    .content-table-oas2 {    
        margin: 10px 0 200px 0  !important;
    }
    .button-format {
        margin: 10px 0 0 0;
        
    }

    .button-category-heading {
        font-size: 1.5em;
    }

    .myButton {
        margin: 0px;
        font-size: 13px;
        height: 80px;
    }

    table .content-table-oas2 {
        width: 90%;
    }

   }

   @media screen and (max-width:480px) {
    .floating-menu-find-out {
        left:-180px;
    }

    .content-area-container {
        margin:0px !important;padding: 0px !important;
    }


    .form-oas-bg {
        top: 30px;
        right:5px;
    }

    .form-oas-bg {
        width: 300px;
        height: 300px;
    }

    .form-oas-heading {
        padding-top:35px;
    }

    .form-input-oas {
        margin: 5px 5px; 
        padding-left: 5px;
        width: 35% !important; 

    } 

    .form-input-email-oas {
        width: 75% !important;  
    }

    .form-input-email-oas {
        padding-left: 5px;
    }

    .form-submit-oas {
        padding: 0px 20px !important;
    }

    .oas-content-area-padding {
        text-align: center;
        padding: 10px 0 0 10px;
    }

    .content-div-para {
        margin: 10px 70px 10px 50px;
    }

    .content-oas-space-2 h3 {
        padding-right: 30px;
    }

    /*OAS2 Content Area*/

    .content-heading-oas2 {
        font-size: 0.9em;
    }


    #content-header-arrow1-oas2 {
        padding: 0 0 0 70px;
    }

    #content-header-arrow2-oas2 {
        padding: 0 0 0 42px;
    }

    #content-header-arrow3-oas2 {
        padding: 0 0 0 10px;
    }

    #content-header-arrow4-oas2 {
        padding: 0 0 0 40px;
    }

    .content-para-oas2 {
        padding-left: 0px;
        padding-right: 200px;
    }

    /*OAS2 Floating form CSS*/

    .form-submit-oas2 {
        display:none;
    }

    .form-submit2-oas2 {
        display:block;
    }

    /* Breadcrumbs Navigation */
    .breadcrumbs-nav {
        padding: 10px 250px 0 0;
    }
    .button-format {
        text-align: left;
        
    }

   }

   /*newt page*/
   /*Website Responsive class behavior*/

@media screen and (max-width:960px)  {   

 .floating-menu-find-out a {
  padding: 150px 200px 0 0;
}
.floating-menu-find-out-sub-link a {
  padding: 0 200px 0 0;
}
}


@media screen and (max-width:768px)  {
  .floating-menu-apply-now {
    display:none;
  }

  .floating-student-study-image {
    display:none;    
  }

  .floating-call-us {
    display:none;
  }
  .floating-menu-apply-now-block {
    display:block;
    margin-top: -100px;
  }
  .floating-menu-find-out {
    left: 50px; 
    top: -60px;

  }

  .floating-menu-find-out a {
    padding: 150px 130px 0 0;
  }
  .floating-menu-find-out-sub-link a {
    padding: 0 130px 0 0;
  }
  .floating-student-study-mobile {
    display:block;    
  }
  .floating-call-us-block {
    display:block;
  }  

  main {

    padding-bottom:0; margin-bottom:-0.7em;
  }

  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

}

@media screen and (max-width:640px) {
  .floating-menu-find-out {
    left:150px;
    top: -80px;
    background-image:url("http://www.burnley.ac.uk/Portals/0/Images/graduation/graduation-content-find-out-more-bg-narrow-for-mobile.png");
    width: 487px;
    height:615px;    
  }  

  .floating-menu-find-out a {
    padding:150px 30px 0px 0px;
  }

  .floating-menu-find-out-sub-link a {
    padding:0px 25px 0px 0px;
  }

  .content-area-para {
    padding: 0px 70px 0px 0px;
    text-align: justify;
  }  

/*  .floating-menu-find-out-sub-link a {
    font-size: 250%;
  }*/

}

@media screen and (max-width:480px) {


  .floating-menu-find-out {
    left:-10px;

  }

  .floating-menu-find-out a {
    font-size: 1.4em;    
    padding:190px 40px 0px 0px;    
  }
  
  .floating-menu-find-out-sub-link a {
    /*font-size: 1.8em;*/
    padding:0px 40px 0px 0px;
    
  }

  .content-area-container h1 {
    font-size: 1.8em !important;
    margin:0px 0px 0px 0px;
  }

  .floating-menu-find-out {
    width:480px;
    height: 270px;
    background-image: none;
    background-color: #005f93;
    margin-top: 50px;
  }

  .floating-menu-find-out a {
    padding-top: 50px;
    padding-right: 100px;
    line-height: 0px;
  }

  .header-section-para, .header-section-heading {
    margin-left: 0px;
  }

  .content-area-para {
    padding: 0px;
  }

}


@media screen and (max-width:320px) {

  .floating-menu-find-out {
    width:320px;
    height: 270px;    
  }
  .floating-menu-find-out a {
    line-height: 22px;
    padding-top: 20px;
    padding-right: 70px;
  }


/*  .floating-menu-find-out {
    left:-45px;
  }

  .floating-menu-find-out a {    
    padding:190px 140px 0px 0px;    
  }
  
  .floating-menu-find-out-sub-link a {
    font-size: 1.8em;
    padding:0px 140px 0px 0px;    
  }


*/
  .floating-student-study-mobile {
    display: block;
    margin: 0 -70px;
  }



  

}
#read-more-text{display:none;}

/* page 2*/

.eventDateLabel {
    font-size: 20px;
}
.eventTitle{font-size:20px!important;}

#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblTicketsRequired{float:left;margin-right: 10px}
#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_ddlFixedPriceQty{float:left}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 8px 0;
    
    line-height: normal;
}
.viewBookingHeaderLabelsRed {
    font-weight: bold;
    color:#469c2a !important
}

/* Book Confirmation */

.viewBookingCaptionBold, .signUpQuestionCaptionBold {
  color: #469c2a !important;
}

.viewBookingCaptionItalic, .signUpQuestionCaptionItalic, span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_lblSummaryEmailAddress, span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_lblBookingAddress, span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_lblSubtotal,
span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_lblTax,
span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_lblDiscount
 {
  color: white !important;
}

.bookingGrid tbody {
    background: white;
}


li label {
    color: #469c2a !important;
}


span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingIDLabel {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingId {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label1 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label9 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label5 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingDate {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblCouponCode {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblPaymentStatus {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label2 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label3 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingAddress {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label7 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblSubtotal {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblVatTaxLabel {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblTax {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label8 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblDiscount {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label6 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_Label4 {
    color: #469c2a !important;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblAdditionalInformation {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingStatusManagement {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblCommentToCustomer {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblChangeStatus {
    color: white;
}


fieldset.StoreAccountOrderSatutsManagement {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblBookingStatusManagement {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblCommentToCustomer {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_lblChangeStatus {
    color: white;
}


fieldset.StoreAccountOrderSatutsManagement {
    color: white;
}

a#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_hypCalenderView {
    display: none;
}

a#dnn_ctr2105_ViewEventPlannerModule_ViewBookingDetails_hypPdf {
    display: none;
}

/* Content Quote */

blockquote p {
     text-indent: 0px; 
}

/* Events Table Styling */



.eventTitle, .eventDateLabel  {
    color: #469c2a !important;  
}

.nadevViewEventDetailsImagePadding img {
  padding: 0 30px 0 0 !important;
}

.form-horizontal.eventListViewSearch {
  color: white;
}

.eventListView.col-sm-12 {
  background:white;
}

label {
    font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
    color: white !important;
}

h2 {
  text-transform: uppercase;
  font-weight:900;
}

.dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblEventStartDate  h2, .dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblEventStartDate  p, .nadevViewEventDetails.nadevViewEventDetailsPadding {
  font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
  color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblEventStartDate {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblEventEndDate {
    color: white;
}

span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblPlacesLeft {
    color: white;
} 

div#dnn_ctr2105_ContentPane, .reviewWrapper, .eventListView {
  background: #28345a;
 
}

.epmMarginRight {
  display: block;
}


select#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_ddlFixedPriceQty.form-control {
  width: 15%;
}

.row {
  margin: 0px !important;
}

.row .form-control {
  margin:5px;
}

span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_lblBillingAddress, span#dnn_ctr2105_ViewEventPlannerModule_SignUpToEvent_RegistrationForm_Label9 {
  display: none; 
}


span, A, A:link, A:active, A:visited, A:hover, .Link_list li, label, .title10, .dataTables_empty, .dataTables_info {
  /*color: #fff;*/
  font-family: 'ITC Avant Garde Gothic LT', 'Poppins', sans-serif;
}

label, .ListingInfo, .dataTables_empty, .dataTables_info {
  color: #000;
}

.ItemLabel, .AreaCode, .JobCategory, .Posted, .ListingPosition, .ListingPosition :link, .ListingPosition :active, .ListingPosition :visited {
  color:#ffd500;
}

.dnn_ctr2105_ContentPane a {color:black!important;}











