@charset "utf-8";
/* CSS Document */

/*******Search Placeholder Text Position and Input Color

.sbinp-default .search-box {
text-align: center;
font-size: 20px !important;
color: #014A8E !important;
}*******/


/*******Disable Default Search*******/

.pulldownsearch {
display: none;
}

/*******Disable Default Register/Login Options*******/

.Login {
display: none;
}

/****************************************************/





/******* Removal of padding inbetween image-based navigation (below slider)  *******/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}

.col-sm-9{
padding-right: 50px;
}

.content_sixth{
	padding: 20px 50px;
}


.accordion_3 .panel-heading{
border-bottom: none;
}
	

	.photo_box:hover.content_bottom_push_in_2 .shade, .photo_box.content_bottom_push_in_2 .shade{background-color:#ffffff; opacity: 100;} 	
	.photo_box .content h3{color: #014A8E;}
	.photo_box.content_bottom_push_in_2 .but {border: 1px solid #014A8E; color: #014A8E;}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff
}


.footer-row{ 
margin-left: 0px !important;}

.Container-8 .dnntitle {
border-bottom: none !important;}

.backgroundImage-sixth {
    background: #014A8E;
   /* text-align: center; */
    background-attachment: fixed;
}


.backgroundImage-sixthformgreen {
    background: #459B2C;
  /*  text-align: center; */
    background-attachment: fixed;
}

.backgroundImage-sixthyellow {
    background: #FED500;
  /*  text-align: center; */
    background-attachment: fixed;
}



.ContentBottom {
    background: #fff;
    border-top: none;
}


.btn-primary {
    	color: #fff;
    	background-color: #014A8E;
    	border-color: #014A8E;
}

.btn-primary:hover {
	color: #fff;
    	background-color: #BCBEC0;
   	border-color: #BCBEC0 !important;
}

.btn-lg {
border-radius: 0px;
}

.btn {
border-radius: 0px;
text-align: center;
border: 3px solid #014A8E;
} 

/**************Apply*********************/


.btn-default {
    color: #014A8E;
    background-color: #fff;
    border-color: #014A8E;
    
}

.btn-default:hover {
    color: #fff;
    background-color: #BCBEC0;
    border-color: #BCBEC0;
}

#dnn_content{
min-height:0px;
}

/***************************CART VIPER*************************************/

#megaCatHoriz {
background: #014A8E  !important;
height: 39px !important;
}

#megaCatHoriz li a {
background: #014A8E  !important;
}

#megaCatHoriz li a:hover {
color: #fff !important;
    background-color: #BCBEC0 !important;
}


.StoreProductModelName{
color: #014A8E !important;
}

/*sebs */
#social-media-set a {color:white; font-size:10px; line-height:inherit}

@media all and (max-width: 730px) {#social-media-set .row{margin-left:20px!important; margin-right:20px!important; }
.DnnModule-1952{margin-left:30px!important;}
}

.grey-social{display:none;}
.white-social{display:none;}
.pink-social{display:none;}
.blue-social{display:none;}

.social-colours {
    margin-left: -24px!important;
    margin-right: -2px!important;
}

.grey-logos{display:none;}
.pink-logos{display:none;}
.blue-logos{display:none;}

